<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 03-18-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <div class={containerClass}>
        <div role="status" class={spinnerClass}>
            <span class="slds-assistive-text">Loading...</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
        <div id="spinnerMsg" class={messageClass}>{_message}</div>
    </div>
</template>