<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 05-13-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <template if:true={state.showRelatedList}>
        <c-related-list-new-edit-popup 
            onrefreshdata={handleRefreshData}>
        </c-related-list-new-edit-popup>
        
        <c-related-list-delete-popup
            onrefreshdata={handleRefreshData}>
        </c-related-list-delete-popup>

        <lightning-layout class="slds-m-top_x-small">
            <article class="slds-card lightning-card">
                <div class="slds-card__header slds-grid slds-theme_shade">
                  <header class="slds-media slds-media_center slds-has-flexi-truncate ">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name={state.iconName} size="small"></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                      <h2 class="slds-card__header-title">
                        <a class="slds-card__header-link" onclick={handleGotoRelatedList}>{state.title}</a>
                      </h2>
                    </div>
                    <div class="slds-no-flex">
                      <template for:each={componentActions} for:item="action">
                        <lightning-button key={action} data-item={action.value} label={action.label} onclick={handleComponentActionSelected} disabled={buttonsDisabled}></lightning-button>
                      </template>
                    </div>
                  </header>
                </div>
                <template if:true={hasRecords}>
                  <div class="slds-card__body bodyTable">
                    <template if:true={showSpinner}>
                      <div>
                          <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                      </div>
                    </template>
                    <c-related-list-table class="related-list"
                                    columns={listColumns}
                                    myrecords={state.records}
                                    icon={state.iconName}
                                    objectname={popoverObject}
                                    titlefield={popoverTitleField}
                                    fields={popoverFields}
                                    actionsmenu={listMenuActions}
                                    activatenavigation={activateNavigation}
                                    mydisablebuttons={buttonsDisabled}
                                    onhandleaction={handleActionSelected}
                    >
                    </c-related-list-table>
                  </div>
                  <footer class="slds-card__footer">
                      <a onclick={handleGotoRelatedList}>View All</a>
                  </footer>                 
                </template>
              </article>                       
        </lightning-layout>
    </template>
   
                                    
</template>