.popover{
    width:25rem;
    background-color: #F3F3F3; 
    white-space: normal;
}

.pillContainer{
    color: var(--lwc-brandTextLink);
}

.fixPadding {
    padding-left: 0.25rem; 
    padding-right: 0.25rem;
}