.THIS .section-margin{
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
}

.THIS .sub-section-margin{
    margin-top:20px;
    margin-left:15px;
    
}

.THIS .padding-bottom-40 {
    padding-bottom:40px;
}

.THIS .padding-top-30{
    padding-top:30px;

}

.THIS .padding-top-45{
    padding-top:45px;

}