<template>
    
    <lightning-record-view-form record-id={recordId} object-api-name={sObjectType}>
        <div class="slds-theme_default">
            <lightning-output-field field-name={fieldAPIName}></lightning-output-field>
        </div>
    </lightning-record-view-form>

</template>
<!-- label={fieldLabel}  -->