.THIS .slds-is-critical{
    background-color: #F46152!important;
}
.THIS .slds-is-low{
    background-color: #F88961!important;
}
.THIS .slds-is-good{    
    background-color: #FCBA5B!important;
}
.THIS .slds-is-great{
    background-color: #89C650!important;
}