<template>

    <lightning-input if:false={editing} type="text" data-id="input" label={label} variant={variant} placeholder={placeholder} 
        value={displayValue} required={required} onfocus={handleOnFocus} disabled={disabled}></lightning-input>
    
    <lightning-input if:true={editing} type="number" data-id="numberInput" label={label} variant={variant} value={value} 
        required={required} onfocusout={handleFocusOut} onchange={handleChange}> </lightning-input>
    
    <div if:true={showErrorMessage} class="slds-form-element slds-has-error">
        <div  class="slds-form-element__help">{errorMessage}</div>
    </div>

</template>