.c-font{
    font-size: 9px;
}
.c-title {
    font-weight: bolder;
}

.c-background-header{
    background: #f0efef;
}
.c-padding {
    padding: 0px;
}

.slds-icon_container_circle {
    width: 2px !important;
    height: 2px !important;   
}