<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 03-18-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->

<template>
    
    <lightning-card>
        <p class="slds-m-left_x-large"> 4 items • Sorted by Account Name </p>
        <lightning-button label="Edit All" slot="actions"></lightning-button>
        <div class="slds-grid slds-wrap slds-box c-padding c-font">
            <div class="slds-col slds-grid slds-size_1-of-1">
                <template if:true={data}>               
                    <div style="height: 150px;">
                     <c-custom-data-table
                            key-field="Id" 
                            data={data} 
                            columns={columns} 
                            onpicklistchanged={picklistChanged} 
                            onvalueselect={handleSelection}
                            draft-values={draftValues} 
                            oncellchange={handleCellChange}
                            onsave={handleSave}
                            oncancel={handleCancel}
                            onrowselection={handleRowSelection}
                            hiderownumber="true"
                            onmassupdate={handleMassUpdate}>
                        </c-custom-data-table>
                    </div>
                </template>
            </div>
        </div>    
    </lightning-card>

</template>