<template>
    
    <lightning-button if:false={isOpen} 
                      type="button" 
                      label="New Case" 
                      title="New Case Action" 
                      variant="Neutral" 
                      onclick={handleClick} 
                      class="slds-align_absolute-center">
    </lightning-button>
    
    <template if:true={isLoading}> 
        <lightning-spinner if:true={isLoading} alternative-text="Loading..." size="medium"></lightning-spinner>
        <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
    </template>
    
    <template if:false={isLoading}>
        <section if:true={isOpen} role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-modal__header">
                    <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Deal Desk Operational Case</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
    
                    <lightning-record-edit-form 
                        object-api-name="Case"
                        id="newDealDeskOperationalCaseForm"
                        >
                        
                        <lightning-messages> </lightning-messages>
                        
                        <!-- accorion sections inside the new case form -->
                        <lightning-accordion allow-multiple-sections-open class="example-accordion slds-grid slds-gutters slds-p-around_medium"
                            active-section-name={activeSections}>
                
                                <!-- ELIGIBLE SECTION -->
                                <lightning-accordion-section name="Eligible Section" label="Eligible list and file">
                                    <div class="slds-grid slds-wrap" data-id="elibibleSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Eligible_List_Registration_Method__c" value={eligibleRegistrationMethodVal} 
                                                onchange={handleEligibleRegistrationMethodUpdate} required>
                                            </lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Eligible_File_Management__c" value={eligibleFileManagementVal} 
                                                onchange={handleEligibleFileManagementUpdate} data-id="eligibleFileManagementId" required>
                                            </lightning-input-field>
                                        </div>
            
                                        <div if:true={displayDependentField} class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Eligible_File_Update_Frequency__c" value={eligibleFileUpdateFrequencyVal} 
                                            onchange={handleEligibleFileUpdateFrequencyUpdate} data-id="eligibleFileUpdateFrequencyId" required>
                                        </lightning-input-field>
                                        </div>
            
                                        <div if:true={displayDependentField} class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Deadline_for_sending_Eligible_File__c" value={eligibleFileSendingDeadlineVal} 
                                            onchange={handleEligibleFileSendingDeadlineUpdate} data-id="eligibleFileSendingDeadlineId" required>
                                        </lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                
                                <!-- RECURRING FEE SECTION (ENTERPRISE) -->
                                <lightning-accordion-section name="Recurring fee Section" label="Recurring fees">
                                    <div class="slds-grid" data-id="enterpriseSubscriptionSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Recurring_Fees_Billing_Day__c" value={enterpriseEsBillingDayVal} onchange={handleEnterpriseEsBillingDayUpdate} required></lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Recurring_Fees_Payment_Due_Days__c" value={enterpriseEsPaymentDueDaysVal} onchange={handleEnterpriseEsPaymentDueDaysUpdate} required></lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                
                                <!-- ONE-TIME FEE  SECTION (SETUP FEE SUBSCRIPTION) -->
                                <lightning-accordion-section if:true={hasSetupFee} name="One-time fee Section" label="One-time fees">
                                    <div class="slds-grid" data-id="setupFeeSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Non_Recurring_Billing_Day__c" value={setupFeeBillingDayVal} 
                                                onchange={handleSetupFeeBillingDayUpdate} data-id="setupFeeBillingDayId" required>
                                            </lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Non_Recurring_Payment_Due_Days__c" value={setupFeePaymentDueDayVal} 
                                                onchange={handleSetupFeePaymentDueDayUpdate} data-id="setupFeePaymentDueDayId" required>
                                            </lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                
                                <!-- PROFESSIONAL SERVICES SUBSCRIPTION SECTION -->
                                <lightning-accordion-section if:true={hasProfessionalFee} name="Professional Services Fee Section" label="Professional services">
                                    <div if:true={showLabels} class="slds-grid" data-id="professionalServiceFeeSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_One_Fee_Billing_Day__c" value={professionalServicesFeeBillingDayVal} 
                                                onchange={handleProfessionalServicesFeeBillingDayUpdate}
                                                label="*PS Configuration Fee Billing Day">
                                            </lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_One_Fee_Payment_Due_Days__c" value={professionalServicesFeePaymentDueDayVal} 
                                            onchange={handleProfessionalServicesFeePaymentDueDayUpdate}
                                                label="*PS Configuration Fee Due Days"></lightning-input-field>
                                        </div>
                                    </div>
            
                                    <div if:false={showLabels} class="slds-grid">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_One_Fee_Billing_Day__c" value={professionalServicesFeeBillingDayVal} 
                                                onchange={handleProfessionalServicesFeeBillingDayUpdate} variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_One_Fee_Payment_Due_Days__c" value={professionalServicesFeePaymentDueDayVal} 
                                                onchange={handleProfessionalServicesFeePaymentDueDayUpdate} variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                
                                <!-- PROFESSIONAL SERVICES MAINTENANCE SECTION -->
                                <lightning-accordion-section if:true={hasProfessionalMaintenanceFee} name="Professional Services Maintenance Section" label="Professional services maintenance">
                                    <div class="slds-grid" data-id="professionalMaintenanceFeeSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_Main_Fee_Billing_Day__c" value={professionalServMaintencanceBillingDayVal} 
                                                onchange={handleProfessionalServMaintencanceBillingDayUpdate} data-id="professionalServMaintencanceBillingDayId" required>
                                            </lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Prof_Services_Main_Fee_Payment_Due_Days__c" value={professionalServMaintenancePaymentDueDayVal} 
                                                onchange={handleProfessionalServMaintenancePaymentDueDayUpdate} data-id="professionalServMaintenancePaymentDueDayId" required>
                                            </lightning-input-field>
                                        </div>
                                    </div> 
                                </lightning-accordion-section>
                                
                                <!-- SUBSCRIPTION FEE SECTION -->
                                <lightning-accordion-section name="Subscription Fee Section" label="Subscription fee">
                                    <div class="slds-grid" data-id="subscriptionFeeSectionDiv">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="MF_Eligibility_ES_Billing_Day__c" value={mfEligibilityEsBillingDayVal} 
                                            onchange={handleMfEligibilityEsBillingDayUpdate} required></lightning-input-field>
                                        </div>
            
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="MF_Eligibility_ES_Payment_Due_Days__c" value={mfEligibilityEsPaymentDueDayVal} 
                                            onchange={handleMfEligibilityEsPaymentDueDayUpdate} required></lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                                
                                <!-- COMPLEMENTARY INFORMATION SECTION -->
                                <lightning-accordion-section name="Complementary Information Section" label="Complementary information">
                                    <div class="slds-grid slds-wrap" data-id="complementaryInformationSectionDiv">
                                        <div class="slds-col slds-size_1-of-1">
                                            <lightning-input-field field-name="Justificate_No_Compliant_Topics__c" value={justificateNoCompliantTopicsVal} 
                                            onchange={handleJustificateNoCompliantTopicsUpdate}></lightning-input-field>
                                        </div>
                                    
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Subject" value={caseSubjectVal} disabled></lightning-input-field>
                                        </div>
                    
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="OwnerId" value={queueIdVal} disabled></lightning-input-field>
                                        </div>
                                    
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="OpportunityId__c" value={recordId} disabled></lightning-input-field>
                                        </div>
                    
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="QuoteId__c" value={defaultQuoteVal} disabled></lightning-input-field>
                                        </div>
                                    </div>
                                </lightning-accordion-section>
                        
                        </lightning-accordion>
            
                        <!-- form action buttons cancel / save -->
                        <!-- <div class="slds-modal__footer slds-align_absolute-center">
                            <lightning-button label="Cancel" title="Cancel" onclick={handleCancel} class="slds-m-top_small slds-m-left_x-small">
                            </lightning-button>
            
                            <lightning-button type="button" label="Save" variant="brand" onclick={onSubmitHandler} class="slds-m-top_small slds-m-left_x-small">
                            </lightning-button>
                        </div> -->
                        
                    </lightning-record-edit-form>
                </div>
                <div class="slds-modal__footer">
                    <lightning-button label="Cancel" title="Cancel" onclick={handleCancel} class="slds-m-top_small slds-m-left_x-small">
                    </lightning-button>
    
                    <lightning-button type="button" label="Save" variant="brand" onclick={onSubmitHandler} class="slds-m-top_small slds-m-left_x-small">
                    </lightning-button>
                </div>

            </div>
        </section>
        <div if:true={isOpen} class="slds-backdrop slds-backdrop_open" role="presentation"></div>
    </template>
    
</template>