<template>

        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class={modalClass}>
    
            <div if:true={showSpinner} class="slds-is-relative">
                <div class="slds-spinner_container" style="min-height:100vh;">
                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
    
            <div class="slds-modal__container">
                <header class="slds-modal__header">
    
                    <lightning-button-icon class="slds-modal__close" size="large" variant="bare-inverse"
                        icon-name="utility:close" label="Close this window" title="Close this window" onclick={handleClose}>
                    </lightning-button-icon>
    
                    <template if:true={hasHeaderString}>
                        <h2 class="slds-text-heading_medium slds-hyphenate header-string">
                            {header}
                        </h2>
                    </template>
                    <template if:false={hasHeaderString}>
                        <!-- If you don't set the header public property, make sure to 
                                pass in some content into the header slot, so that the component
                                is accessible, as empty headings are considered not accessible. -->
                        <h2 class="slds-text-heading_medium slds-hyphenate header-slot">
                            <slot name="header"></slot>
                        </h2>
                    </template>
    
                    <p class="slds-m-top_x-small">
                        <slot name="tagline"></slot>
                    </p>
                </header>
                <div data-label="modalContent" class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <slot name="body"></slot>
                </div>
    
                <footer class="slds-modal__footer">
                    <slot name="footer"></slot>
                </footer>
            </div>
        </section>
        <div class={modalBackdropClass}></div>

</template>