<template>
    
    <lightning-button 
        variant="base" 
        label={linkLabel}
        title={linkLabel}
        onclick={handleClick} 
        class="slds-m-left_x-small">
    </lightning-button>
    
</template>