<template>
    
    <li role="presentation" class="slds-listbox__item" onclick={selectRecord}>
        <span class={rootClass} role="option">
            <span class="slds-media__figure">
                <span class="slds-icon_container">
                    <lightning-icon icon-name={iconName} class="slds-icon slds-icon_small" size="small"></lightning-icon>
                </span>
            </span>

            <span class="slds-media__body">
                <span class="slds-listbox__option-text_entity">
                    {record.primary}
                </span>
                <span if:true={record.secondary} class="slds-listbox__option-meta">
                    {record.secondary}
                </span>
            </span>
        </span>
    </li>

</template>