<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 06-29-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
  <c-spinner if:true={spinner} variant="brand" message={spinnerMessage}></c-spinner>
  <div class="slds-box slds-theme_default">
    <header class="slds-media slds-media_center slds-has-flexi-truncate slds-m-bottom_small">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-account" title="account">
          <lightning-icon icon-name="standard:note" alternative-text="Booking" title="Booking" size="small"></lightning-icon>
          <span class="slds-assistive-text">Gym activity booked</span>
        </span>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span>Gym activities to be booked</span>
        </h2>
      </div>
    </header>
    <lightning-datatable
        data={data}
        columns={columns}
        key-field="Id"
        onrowselection={handleRowSelection}
        selected-rows={selectedRows}
        >
    </lightning-datatable>
  </div>
</template>