<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 04-22-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
    <div class="content-body">
            <div class="picklist slds-m-bottom_small">
                <lightning-combobox   
                    required="true" 
                    name="country" 
                    label="Country" 
                    value={countryValue} 
                    options={countryOptions} 
                    onchange={updateTransferObj}
                    dropdown-alignment="auto">
                </lightning-combobox>
            </div>
            
           <div class="picklist slds-m-bottom_xx-large">
                <lightning-combobox 
                    required="true" 
                    name="type" 
                    label="Contract Type"
                    value={typeValue} 
                    options={typeOfContractOptions} 
                    onchange={updateTransferObj}
                    dropdown-alignment="auto">
                </lightning-combobox>
           </div> 
    </div>
</template>