<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 04-20-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
    <lightning-quick-action-panel header="Create Contract" class="main-panel">
        <div if:true={spinner}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </div>
        <div data-id="panelBody" class="content-body slds-modal__content">
            <template if:true={toLoaded}>
                <template if:true={isContract}>
                    <div>
                        <c-create-Partners-Contract onclosemodal={closeAction} transfer-obj-data={transferObjData}
                            onupdateto={handleTransferObjUpdate}>
                        </c-create-Partners-Contract>
                    </div>
                </template>
                <template if:true={isAccounts}>
                    <div>
                        <c-create-Partners-Contract-Select-Accounts obj-record-id={recordId} onclosemodal={closeAction}
                            account-data={accountData} transfer-obj-data={transferObjData}
                            onupdateto={handleTransferObjUpdate}>
                        </c-create-Partners-Contract-Select-Accounts>
                    </div>
                </template>
                <template if:true={isLegalReps}>
                    <div>
                        <c-create-Partners-Contract-Legal-Reps transfer-obj-data={transferObjData}>
                        </c-create-Partners-Contract-Legal-Reps>
                    </div>
                </template>
            </template>
        </div>
        <div slot="footer" class="my-footer">
            <div class="slds-grid slds-grid_align-spread">
                <div class="slds-col">
                    <template if:true={isContract}>
                        <lightning-button label="Cancel" class="slds-p-around_x-small" onclick={closeAction}>
                        </lightning-button>
                    </template>
                    <template if:true={isAccounts}>
                        <lightning-button label="Go Back" class="slds-p-around_x-small" onclick={handleBackStep}>
                        </lightning-button>
                    </template>
                    <template if:true={isLegalReps}>
                        <lightning-button label="Go Back" class="slds-p-around_x-small" onclick={handleBackStep}>
                        </lightning-button>
                    </template>
                </div>
                <div class="slds-col">
                    <template if:true={isContract}>
                        <lightning-button variant="brand" label="Next" class="slds-p-around_x-small"
                            onclick={handleNextStep}></lightning-button>
                    </template>
                    <template if:true={isAccounts}>
                        <lightning-button variant="brand" label="Done" class="slds-p-around_x-small"
                            onclick={handleDone} disabled={disableDoneButton}></lightning-button>
                    </template>
                    <template if:true={isLegalReps}>
                        <lightning-button variant="brand" label="Update" class="slds-p-around_x-small"
                            onclick={handleDone} disabled={disableDoneButton}></lightning-button>
                    </template>
                </div>
            </div>
        </div>
    </lightning-quick-action-panel>
</template>