<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 03-30-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
  <div>
    <c-select-partners-accounts obj-record-id={objRecordId} onselectaccounts={handleSelectAccounts}
        context="CONTRACT" account-data={accountData} transfer-obj-data={transferObjData}>
    </c-select-partners-accounts>
  </div>
</template>