<template>
    <div class="slds-m-top_medium slds-m-bottom_x-medium">
        
        <template if:false={listItemsNeedApproval}>
            <lightning-badge label="No need" class="slds-theme_success slds-m-bottom_small"></lightning-badge>
        </template>

        <template for:each={listItemsNeedApproval} for:item="item">
            <lightning-badge key={item} label={item} class="slds-theme_error slds-m-bottom_small"></lightning-badge>
        </template>
       
    </div>

</template>