.c-box-format {
    background: #F3F3F3;
    margin-bottom: 10px;
}

.c-title-box{
    margin-top: 0px;
    margin-bottom: 10px;
}

.c-title-text{
    font-size: 18px;
}

.c-highlight {
    font-weight: bolder;
}

.c-main-text {
    font-weight: bolder;
    font-size: 14px;
}

.c-no-space-v {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.c-or {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.c-separator {
    margin: 0;
    padding: 0;
    width: 2px;
    height: 70px;
    background: lightgray;
    position: relative;
    top: 20px;
}

.c-separator-contact {
    margin: 0;
    padding: 0;
    width: 2px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: 20px;
}