<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 03-10-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <lightning-quick-action-panel header="Convert Lead">

        <div class="slds-box c-box-format">
            <h1 class="c-main-text">Account</h1>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-12"></div>
                <div class="slds-col slds-size_4-of-12">
                    <lightning-input type="radio" label="Create New" name="createNewAccount" class="c-highlight"
                    checked={isNewAccountSelected} onchange={onNewAccountSelected}>
                </lightning-input>
                <lightning-input type="text" label="Account Name" required={isNewAccountSelected} disabled={isExistingAccountSelected}></lightning-input>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-align_absolute-center c-no-space-v"
                    style="position:relative">
                    <p class="c-or">- OR -</p>
                    <div class="c-separator"></div>
                </div>
                <div class="slds-col slds-size_5-of-12">
                    
                    <lightning-input type="radio" label="Choose Existing" name="chooseExistingAccount"
                        checked={isExistingAccountSelected} onchange={onExistingAccountSelected} class="c-highlight">
                    </lightning-input>
                    <c-lookup scroll-after-n-items=7 onselectionchange={onSelectExistingAccount} onsearch={handleSearchAccount}
                        label="Account Search" placeholder="please start typing..." min-search-term-length=2
                        disabled={isNewAccountSelected} required={isExistingAccountSelected}></c-lookup>                
                </div>
            </div>
        </div>

        <div class="slds-box c-box-format">
            <h1 class="c-main-text">Contact</h1>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-12"></div>
                <div class="slds-col slds-size_4-of-12">
                    <lightning-input type="radio" label="Create New" name="createNewContact" class="c-highlight"
                        checked={isNewContactSelected} onchange={onNewContactSelected}>
                    </lightning-input>
                    <lightning-record-edit-form object-api-name="Contact">
                        <lightning-input-field field-name="FirstName" disabled={isExistingContactSelected}>
                        </lightning-input-field>
                        <lightning-input-field field-name="LastName" disabled={isExistingContactSelected}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Email" disabled={isExistingContactSelected}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Phone" disabled={isExistingContactSelected}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Type_of_contact__c" disabled={isExistingContactSelected}>
                        </lightning-input-field>
                    </lightning-record-edit-form>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-align_absolute-center c-no-space-v"
                    style="position:relative">
                    <div class="c-or">- OR -</div>
                    <div class="c-separator-contact"></div>
                </div>
                <div class="slds-col slds-size_5-of-12">
                    <lightning-input type="radio" label="Choose Existing" name="chooseExistingContact"
                        checked={isExistingContactSelected} onchange={onExistingContactSelected} class="c-highlight">
                    </lightning-input>
                    <c-lookup scroll-after-n-items=7 onselectionchange={onSelectExistingContact} onsearch={handleSearchContact}
                        label="Contact Search" placeholder="please start typing..." min-search-term-length=2
                        disabled={isNewContactSelected} required={isExistingContactSelected}></c-lookup>
                </div>
            </div>
        </div>

        <div class="slds-box c-box-format">
            <h1 class="c-main-text">Opportunity</h1>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-12"></div>
                <div class="slds-col slds-size_4-of-12">
                    <lightning-input type="radio" label="Create New" name="createNewOpportunity" class="c-highlight"
                        checked={isNewOpportunitySelected} onchange={onNewOpportunitySelected}>
                    </lightning-input>
                    <lightning-input type="text" label="Opportunity Name" required={isNewOpportunitySelected}
                        disabled={isExistingOpportunitySelected}></lightning-input>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-align_absolute-center c-no-space-v"
                    style="position:relative">
                    <div class="c-or">- OR -</div>
                    <div class="c-separator"></div>
                </div>
                <div class="slds-col slds-size_5-of-12">
                    <lightning-input type="radio" label="Choose Existing" name="chooseExistingOpportunity"
                        class="c-highlight"></lightning-input>
                    <c-lookup scroll-after-n-items=7 onselectionchange={onSelectExistingOpportunity}
                        onsearch={handleSearch} label="Opportunity Search" placeholder="please start typing..."
                        min-search-term-length=2></c-lookup>
                </div>
            </div>
        </div>

        <div slot="footer">
            <lightning-button variant="neutral" label="Cancel" class="slds-m-right_medium" onclick={closeAction}>
            </lightning-button>
            <lightning-button variant="brand" label="Convert" onclick={closeAction}></lightning-button>
        </div>


    </lightning-quick-action-panel>
</template>