.THIS.offer-summary-card {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.THIS .review-clock-icon {
    margin-right: 0.5em;
}

.THIS .padding-top{
    padding-top:5px;
}

.THIS .doze-px {
    font-size: 13px !important;
}

.THIS .treze-px {
    font-size: 14px;
}

.THIS .quatorze-px {
    font-size: 15px;
}

.THIS .colorbox_default {
    background-color:#ECEBEA;
}

.THIS .colorbox_ok{
    background-color:#D9FFDF;
    border-color:#D9FFDF;
    border-radius: 4px;
}

.THIS .color_fontbox{
    color:white;
}

.THIS .colorbox_default {
    background-color:#ECEBEA;
    border-color:#ECEBEA;
    border-radius: 4px;
}

.THIS .colorbox_error{
    background-color:#FEF0EE;
    border-color:#FEF0EE;
    border-radius: 4px;
}

.THIS .gray_text{
   color:#706E6B;
}

.THIS .height_card{
    height:170px !important; 
}

.THIS .height_card_enablers{
    height:417px !important; 
}

.THIS .slds-textarea {
    height:195px !important;
}

.THIS .status_size {
    transform: scale(0.6, 0.6);
}

.THIS .border_box {
    border-color: white rgba(221,219,218,1) rgba(221,219,218,1) rgba(221,219,218,1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}