<!--
  @description       : 
  @author            : roei@gft.com
  @group             : 
  @last modified on  : 05-27-2022
  @last modified by  : roei@gft.com
-->
<template>
    <div class="slds-m-top_medium slds-m-bottom_x-medium">
        <template if:false={isDealDeskitems}>
            <template for:each={listItemsNeedApproval} for:item="item">
                <lightning-badge key={item.label} label={item.label} class={item.class} ></lightning-badge>
            </template>
        </template>

        <template for:each={listItemsNeedApproval} for:item="item">
            <lightning-badge key={item.conditionCode} label={item.approvalCondition} class={item.class} ></lightning-badge>
        </template>
    </div>
</template>