<template>       
    
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class={modalClass} style="z-index: 9999;">
    
            <div if:true={isLoading} class="slds-is-relative">
                <div class="slds-spinner_container" style="min-height:100vh;">
                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
    
            <div class="slds-modal__container">
    
                <lightning-button-icon class="slds-modal__close" size="large" variant="bare-inverse" 
                    icon-name="utility:close" label="Close this window" title="Close this window" onclick={handleClose}></lightning-button-icon>
    
                <div class="slds-modal__header">
                    <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Edit</h1>
                </div>
                
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
    
                    <c-smb-sku-information record={record}></c-smb-sku-information>

                    <c-smb-sku-waivers if:true={record.Allow_Waivers__c} record-id={record.Id}></c-smb-sku-waivers>
                    
                </div>
    
                <div class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" aria-label="Cancel and close" onclick={handleCancel}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
                </div>
            </div>
        </section>
        <div class={modalBackdropClass} role="presentation"></div>
    
    </template>