<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 02-03-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.advancedPaymentRecordTypeId} object-api-name="Commercial_Condition__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Advance Payment">
                <template for:each={sectionWithFieldsAdvPayment} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1">
                                <lightning-radio-group label="Has advance payment?" 
                                name={section.key}
                                onchange={handleOptionChange} 
                                options={options}
                                data-record-type-name={partnerProductRecordTypes.advancedPaymentRecordTypeName}
                                value={advPaymentSelectedValue}
                                type="radio"
                                required
                                ></lightning-radio-group>
                                <br/>
                            </div>
                            <template for:each={section.value} for:item="field">
                                <div key={field.apiName} class="slds-col slds-size_6-of-12">
                                    <lightning-input-field key={field.apiName} field-name={field.apiName} value={field.value}
                                        name={field.apiName} class="c-input-comm-advpayment" required={field.isRequired} disabled={field.disabled}>
                                    </lightning-input-field>
                                </div>
                            </template>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>
    
    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.minimumGuaranteedRecordTypeId} object-api-name="Commercial_Condition__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Minimum Guaranteed Amount">
                <template for:each={sectionWithFieldsMinGuaranteed} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1">
                                    <lightning-radio-group label="Minimum guaranteed amount?" 
                                    name={section.key}
                                    onchange={handleOptionChange} 
                                    options={options}
                                    data-record-type-name={partnerProductRecordTypes.minimumGuaranteedRecordTypeName}
                                    value={minGuaranteedSelectedValue}
                                    type="radio"
                                    required
                                    ></lightning-radio-group>
                                    <br/>
                                </div>
                            <template for:each={section.value} for:item="field">
                                <div key={field.apiName} class="slds-col slds-size_6-of-12">
                                    <lightning-input-field key={field.apiName} field-name={field.apiName} value={field.value}
                                        name={field.apiName} class="c-input-comm-minguaranteed" required={field.isRequired} disabled={field.disabled}>
                                    </lightning-input-field>
                                </div>
                            </template>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>
    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.cannibalizationRecordTypeId} object-api-name="Commercial_Condition__c" >
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Cannibalization">
                <template for:each={sectionWithFieldsCannibalization} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1">
                                    <lightning-radio-group label="Has market cannibalization?" 
                                    name={section.key}
                                    onchange={handleOptionChange} 
                                    options={options}
                                    data-record-type-name={partnerProductRecordTypes.cannibalizationRecordTypeName}
                                    value={cannibalizationSelectedValue}
                                    type="radio"
                                    required
                                    ></lightning-radio-group>
                                    <br/>
                                </div>
                            <template for:each={section.value} for:item="field">
                                <div key={field.apiName} class="slds-col slds-size_6-of-12">
                                    <lightning-input-field key={field.apiName} field-name={field.apiName} value={field.value}
                                        name={field.apiName} class="c-input-comm-cannibalization" required={field.isRequired} disabled={field.disabled}>
                                    </lightning-input-field>
                                </div>
                            </template>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>
</template>