<template>
    
    <div class="slds-p-top_xx-small slds-p-bottom_xx-small">
        <c-lookup 
            scroll-after-n-items=7 
            onselectionchange={handleSelectedRecords}
            onsearch={handleContactSearch}
            label={lookupLabel}
            placeholder={lookupPlaceholder} 
            min-search-term-length=2 
            selection={listOfDefaultResults}
            is-multi-entry
        ></c-lookup>
    </div>

</template>