<template>

   <template if:false={isMassivePermission}>
      <div class="main">
         <h1 class="slds-color__text_gray-1 slds-align_absolute-center slds-p-bottom_none slds-m-bottom_none"> {label.LABEL_COMMUNITY_WELCOME}</h1>
         <h1 class="slds-color__text_gray-1 slds-align_absolute-center slds-p-top_none slds-m-top_none"> {label.LABEL_COMMUNITY_WELCOME_PARTNERS}</h1>
         <lightning-formatted-rich-text class="slds-color__text_gray-1" value={label.LABEL_COMMUNITY_WELCOME_SUBTITLE}></lightning-formatted-rich-text>

         <div class="slds-m-around_x-large" style="text-align: center;">
            <lightning-button variant="brand" label={label.LABEL_QUERY_COMPANY} title="Primary action" onclick={handleShowModal} class="slds-m-left_x-small button"></lightning-button>
         </div>

         <c-reseller-flow></c-reseller-flow>
      </div>
   </template>

   <template if:true={isMassivePermission}>
      <div class="mainMultiple">
         <div class="conteiner">

            <section class="massiveInfo">
               <h1 class="slds-color__text_gray-1"> {label.LABEL_COMMUNITY_WELCOME}</h1>
               <h1 class="slds-color__text_gray-1 slds-m-bottom_xx-large"> {label.LABEL_COMMUNITY_WELCOME_PARTNERS}</h1><br/>
               <lightning-formatted-rich-text class="slds-color__text_gray-1" value={label.LABEL_COMMUNITY_WELCOME_SUBTITLE}></lightning-formatted-rich-text>
            </section>

            <section class="massiveActions">
               <lightning-card>
                  <h2 class = "slds-text-align_center slds-p-bottom_large titleQuery">{label.LABEL_CHOOSE_QUERY}:</h2>
                  
                  <div class="slds-form-element__control ">                        
                     <div class="slds-align_absolute-center">
                        <button class="slds-m-top_medium buttonTypeConsult" value="singleCompany" onclick={handleTypeConsult}>{label.LABEL_SINGLE_COMPANY}</button>
                     </div>
                     <div class="slds-align_absolute-center">
                        <button class="slds-m-top_medium buttonTypeConsult" value="multipleCompany" onclick={handleTypeConsult}>{label.LABEL_MULTIPLE_COMPANY}</button>
                     </div>
                  </div>

                  <button class="slds-m-top_medium slds-m-bottom_large slds-button buttonGet slds-align_absolute-center" onclick={callFlow}>{label.LABEL_GET_STARTED}</button>

                  <c-reseller-flow></c-reseller-flow> 
                  <c-reseller-flow-multiple></c-reseller-flow-multiple>
               </lightning-card>
            </section>

         </div>
      </div>
   </template>
   
</template>