.THIS .customDataTable {
    max-height: 20vh;  
}

.THIS .customTitle {
    margin-bottom: 5%;
    padding-top: 1%;
    position: absolute;
    font-size: 16px;   
}

.THIS .customMargin {
    margin-top: 2%;
}