<!--
  @description       :
  @author            : bruno.mendes@gympass.com
  @group             :
  @last modified on  : 06-03-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        class="slds-modal slds-fade-in-open c-max-width">

        <div class="slds-modal__container">

            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{header}</h2>
                <!-- ## dynamic message -->
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-p-horizontal_x-large slds-p-bottom_small">
                    <lightning-radio-group name="radioGroup" label="Choose a category to edit" options={radioOptions}
                        value={value} onchange={handleRadioSelect} type="radio" required></lightning-radio-group>
                </div>


            </div>

            <footer class="slds-modal__footer">
                <template if:true={isFirstScreen}>
                    <button class="slds-button slds-float_left slds-button_neutral"
                        onclick={handleCloseModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleContinue}
                        title="Continue">Continue</button>
                </template>
            </footer>

        </div>
    </section>

    <template if:true={showLegalRepSection}>
        <c-network-builder-legal-representative selected-accounts-id={selectedAccountsId} ongoback={handleGoBack} onclose={handleClose}>
        </c-network-builder-legal-representative>
    </template>

    <template if:true={showExclusivitySection}>
        <c-network-builder-exclusivity selected-accounts-id={selectedAccountsId} has-exclusivity-accounts={hasExclusivityAccounts} ongoback={handleGoBack} onclose={handleClose}>
        </c-network-builder-exclusivity>
    </template>

    <template if:true={showCMSInfoSection}>
        <c-network-builder-cms-information selected-accounts-id={selectedAccountsId} ongoback={handleGoBack} onclose={handleClose}>
        </c-network-builder-cms-information>
    </template>

    <template if:true={showLegalInfoSection}>
        <c-network-builder-legal-information selected-accounts-id={selectedAccountsId} ongoback={handleGoBack} onclose={handleClose}>
        </c-network-builder-legal-information>
    </template>

    <div class="slds-backdrop slds-backdrop_open"></div>
</template>