/**
 * Created by gympasser on 11/03/2022.
 */

.c-max-width {
    max-width: 60%;
    margin: auto;
}

.slds-modal__content {
    overflow: visible;
    overflow-y: visible;
}

.c-text-color {
    color: rgb(68, 68, 68);
}

.c-text-size {
    font-size: 0.75rem;
}

.c-m-bottom_x-small {
    margin-bottom: 0.35rem;
}

.c-p-left_none {
    padding-left: 0px;
}

.c-opacity-half {
    opacity: 0.5;
}

.c-width-inherit {
    width: inherit;
}
/* 
.slds-modal__content{
    overflow: initial;
} */

.slds-combobox__input-entity-icon {
    z-index: 1 !important;
}