.THIS.container{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.THIS .container-footer {
    background-color: blueviolet;
    width: 100%;
}

.THIS .tree-grid-footer{
    text-align: center;
    width: 100%;
    margin-bottom: 5vh;
    background-color: whitesmoke;
    height: 6vh;

}

.THIS .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.THIS .inner-container {
    width: 100%;
    background-color: white;
}

.THIS .inner-container-white {
    width: 100%;
    background-color: white;
    padding: 2vh;
}

.THIS .brand-btn {
	color: white;
    background-color: #f46152;    
}