<template>
    <div>
        <section aria-describedby="dialog-body-id-110" aria-label="Dialog Title" class="slds-popover slds-popover_panel popover slds-popover_medium slds-nubbin_right" style="z-index: 9999;" role="dialog">
            <div class="slds-popover__header">                        
                <lightning-record-view-form
                    record-id={privateRecordId}
                    object-api-name="QuoteLineItem">
                    <header class="slds-media slds-media_center slds-m-bottom_small">
                        <span class="slds-icon_container slds-media__figure">
                            <lightning-icon icon-name="standard:quotes" size="medium"></lightning-icon>
                        </span>
                        <div class="slds-media__body">
                            <h2 class="slds-text-heading_small" id="dialog-heading-id-115"><lightning-output-field field-name="Plan_Name__c" variant="label-hidden"></lightning-output-field></h2>
                        </div>
                    </header>
                    <div class="slds-grid slds-wrap">
                        <template for:each={fieldsList} for:item="field">
                            <div key={field} class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name={field}></lightning-output-field>
                            </div>
                        </template>
                        <div class="slds-col slds-size_1-of-1">
                            <span class="slds-form-element__label">Waivers or Temporary Discounts</span>
                        </div>
                        <template for:each={privateWaivers} for:item="waiver">
                            <div key={waiver} class="slds-col slds-size_1-of-2 slds-p-top_xx-small">
                                    <div class="slds-form-element__control slds-align_absolute-center">
                                        <div class="slds-form-element__static">
                                                <span class="slds-pill slds-pill_link">
                                                    <a class="slds-pill__action fixPadding" title={waiver.label}>
                                                        <span class="slds-pill__label">{waiver.label}</span>
                                                    </a>
                                                </span>
                                        </div>
                                    </div>
                            </div>
                        </template>
                        <template if:false={hasWaivers}>
                            --
                        </template>
                    </div>
                </lightning-record-view-form>
            </div>
        </section>
    </div>
</template>