<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 03-24-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>

                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Refer a new gym</h2>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->

            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

                <lightning-record-edit-form object-api-name="Lead" record-type-id={recordTypeId} data-id="leadForm"
                    onsuccess={handleSuccess} onsubmit={handleSubmit}>
                    <lightning-messages></lightning-messages>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
                                <span class="slds-truncate slds-p-left_x-small" title="Section Title">Lead
                                    Origin</span>
                            </div>
                        </h3>
                    </div>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="LeadSource" value="Referral" disabled="true">
                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Is_User_Owner__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Lead_Sub__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Types_of_ownership__c"></lightning-input-field>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
                                <span class="slds-truncate slds-p-left_x-small" title="Section Title">Lead
                                    Information</span>
                            </div>
                        </h3>
                    </div>


                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Type_of_Allocation__c">
                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">

                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Status" value="In Progress" disabled="true">
                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Manager__c">
                            </lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Description"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
                                <span class="slds-truncate slds-p-left_x-small" title="Section Title">Company
                                    Information</span>
                            </div>
                        </h3>
                    </div>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Company"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Client_Name__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Address"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Website"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Activities_user_wants_practice__c">
                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Number_of_Locations__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
                                <span class="slds-truncate slds-p-left_x-small" title="Section Title">Gym
                                    Contact</span>
                            </div>
                        </h3>
                    </div>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Name"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Email"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Phone"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Type_of_contact__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title">
                            <div class="slds-section__title-action">
                                <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
                                <span class="slds-truncate slds-p-left_x-small" title="Section Title">Owner /
                                    Gym
                                    user</span>
                            </div>
                        </h3>
                    </div>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="GP_Referral_Name__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="GP_Referral_Email__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Referral_Phone__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                        </div>
                    </div>
                </lightning-record-edit-form>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral slds-float_left" onclick={closeModal}
                    title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" title="Save" type="submit"
                    onclick={handleSubmit}>Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>