.THIS .padding-top {
  padding-top: 5px;
}
.THIS .padding-left {
    padding-left: 50px !important;
  }

  .THIS .padding-left-30 {
    padding-left:30px;
}
.THIS .padding-left-15 {
  padding-left:15px;
}
.THIS .padding-left-50 {
    padding-left:50px;
}
.THIS .padding-top-30 {
    padding-top:30px;
}

.THIS .save-button-in-section{
   color:white;
   

}

.THIS .slds-theme_warning button:hover, .THIS .slds-theme--warning button:hover {
  color: white !important;
}

.THIS .margin-right-30{
  margin-right:30px;
}