.THIS .c-container-right {
    float: right;
    
}
  
.THIS .c-container-left {
    float: left;  
}


.THIS .gray_text{
    color:#706E6B;
 }

 .THIS .slds-icon {
    fill: var(--colorHex);
            }
            
            .THIS .no-background {
                background-color: white;
            }
            
            .THIS .step-container{
                margin: 1vh 0vh;
            }
            
            .THIS .outer {
                display: flex;
                align-items: center;
                height: 3vh;
                margin: 1vh 1vh 1vh 3vh;
                justify-content: center;
            }
            
            .THIS .tooltip {
                position: relative;
                display: inline-block;
            }
            
            .THIS .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
            }
            
            .THIS .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
            
            .THIS .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }