.headerNews{
    background-color: #D9FFDF;
    color: #027E46;
    font-weight: bold;
    font-size: 16px;

}

.horizontalMargin{
    margin-left: 14%; 
    margin-right: 14%; 
    font-size: 13px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.my-icon {
    --sds-c-icon-color-background: #349C42;
    border-radius: 55px;
}