<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>   
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{label.LABEL_COMMUNITY_COMPANY_QUERY}</h2>
            </header>
            <div class="slds-modal__content" id="modal-content-id-1">
                <div class="slds-p-vertical_medium slds-m-vertical_x-large slds-align_absolute-center headerNews">
                    <lightning-icon icon-name="utility:smiley_and_people" class="slds-m-right_x-small " title="Image" variant="success"> </lightning-icon>       
                    <div class="textGoodNews">{label.LABEL_COMMUNITY_ALL_DONE}</div>
                </div>

                <div class="slds-file-selector__dropzone slds-m-bottom_xx-large horizontalMargin">
                    <div class="slds-grid slds-gutters slds-p-right_x-large">
                        <div class="slds-col slds-large-size_1-of-3 slds-text-align_center slds-p-vertical_xx-large">
                            <lightning-icon icon-name="utility:notification" class="slds-m-left_small slds-p-around_medium my-icon" title="Image" variant="inverse" size="large"> </lightning-icon>
                        </div>
                        <div class="slds-col slds-large-size_2-of-3 slds-p-vertical_xx-large">
                            <lightning-formatted-rich-text value={label.LABEL_COMMUNITY_NOTIFICATION_CENTER} class="slds-p-right_small"></lightning-formatted-rich-text>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="slds-modal__footer">
                <lightning-button onclick={closeModal} label={label.LABEL_COMMUNITY_FINISH}></lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>