.horizontalMargin{
    margin-top: 10%;
    margin-left: 20%; 
    margin-right: 20%; 
    font-size: 20px;
}

.padding{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}