<template>
   
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate" style="text-align: center;">{label.LABEL_COMMUNITY_COMPANY_QUERY}</p>
 
                </header>

                <div class="slds-modal__content" id="modal-content-id-1">

                    <div class="slds-file-selector__dropzone slds-m-bottom_xx-large horizontalMargin padding">
                              
                        <div class="slds-col slds-align_absolute-center bold slds-text-title">
                            
                            {label.LABEL_COMMUNITY_PROCESSING_DATABASE}
          
                        </div>

                        <br/>

                        <lightning-progress-bar value={progress} size="medium"></lightning-progress-bar>
                    </div>

                </div>
                <footer class="slds-modal__footer">
                    <br/>
                    <br/>
                </footer>
            </div>
        </section>
  
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>