<template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Massive_Account_Request__c" >
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate" style="text-align: center;">{label.LABEL_COMMUNITY_COMPANY_QUERY}</p>
 
                </header>

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="marginField slds-m-horizontal_xx-large slds-p-horizontal_xx-large">

                        <lightning-combobox name="reseller"
                                            label={label.LABEL_COMMUNITY_SELECT_RESELLER}
                                            placeholder={label.LABEL_COMMUNITY_NONE}
                                            value={valueResellers}
                                            onchange={handleChangeReseller}
                                            options={resellerList}
                                            required="true">
                        </lightning-combobox>
                    </div>           
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label={label.LABEL_COMMUNITY_CONTINUE} disabled={buttonContinue} onclick={createMassiveRegister}></lightning-button>
                </footer>
            </div>
        </section>
    </lightning-record-edit-form>  
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>