.color{

color: #818181;
}

.decoration{

    text-decoration : underline;
}

.padding{
    padding-top: 8%;
    padding-bottom: 5%;
}

.padding-left-right{
    padding-left: 15%;
    padding-right: 15%;
   
}

.margin-top{

    margin-top: 10px;
}
.horizontalMargin{
    margin-top: 7%;
    margin-left: 20%; 
    margin-right: 20%; 
    font-size: 20px;
}

.padding-file{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.drop-file{
    font-size: .8125rem;
    color: rgba(0, 0, 0, 1.0);
    text-align: center;
}

.least{
   
    white-space: pre;
    font-size: .7125rem;
    color: rgba(148, 148, 148, 1.0);
}