<template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Massive_Account_Request__c" onsuccess={handleNext}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{label.LABEL_COMMUNITY_COMPANY_QUERY}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class="slds-align_absolute-center margin-top">{label.LABEL_NEED_HELP}</p>

                    <a class="slds-align_absolute-center decoration" onclick={handleStaticResource}>{label.LABEL_COMMUNITY_DOWNLOAD_TEMPLATE}</a>

                        <div class="slds-file-selector__dropzone slds-m-bottom_xx-large horizontalMargin padding-file">
                                  
                            <div class="slds-col slds-align_absolute-center bold slds-text-title">
                                
                                <lightning-file-upload
                                    class="reseller-file-selector slds-file-selector slds-file-selector_images"
                                    name="fileUploader"
                                    accept=".csv"
                                    record-id={recordId}
                                    onuploadfinished={onFileUpload}
                                    required="true"
                                >
                                </lightning-file-upload>
              
                            </div>
    
                            <p class="drop-file">{label.LABEL_COMMUNITY_DROP_FILE}</p>
                            <p class="least">{label.LABEL_COMMUNITY_LEAST_2_ACCOUNTS}</p>
                        </div>
                
                    <a href="/resellerhub/apex/MassiveHelpPage" target="_blank" class="slds-align_absolute-center decoration">{label.LABEL_COMMUNITY_LEARN_HOW}</a>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label={label.LABEL_COMMUNITY_CONTINUE} type="submit" disabled={buttonContinue}></lightning-button>
                    <template if:true={isAdminUserMassivePermission}>
                        <lightning-button class="slds-float_left" label={label.LABEL_COMMUNITY_BACK} onclick={handleBack}></lightning-button>
                    </template>
                </footer>

            </div>
        </section>
    </lightning-record-edit-form>  
    <div class="slds-backdrop slds-backdrop_open"></div>
    
</template>