<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 06-03-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>

  <!-- Modal/Popup Box LWC starts here -->
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <div if:true={spinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
      </div>
      <!-- Modal/Popup Box LWC header here -->
      <template if:true={isLoaded}>
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                  onclick={handleGoBack}>
            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
            </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Exclusivity</h2>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <lightning-record-edit-form object-api-name="Account" record-id={selectedAccount}
                                      record-type-id={accountRecordTypeId}>
            <lightning-messages> </lightning-messages>
            <div class="slds-grid slds-gutters">
              <div class="slds-col slds-size_1-of-2">

                <lightning-input-field field-name="Exclusivity__c" value={selected} class="slds-hide validate" required>
                </lightning-input-field>

                <!-- options yes or no -->

                <div style="padding-left: 5px" class="slds-p-top_xx-small">
                  <div class="slds-p-bottom_xx-small c-text-size c-required">
                    <label for="fieldid">Is Exclusive?</label>
                  </div>
                  <form class="slds-p-top_xx-small">
                    <template for:each={exclusiveOptions} for:item="option">
                      <div key={option.id} class="slds-m-bottom_medium">
                        <div class="slds-grid slds-gutters slds-p-bottom_medium">
                          <div class="slds-col slds-list_horizontal" style="padding-right: 0">
                            <template if:false={requiresApproval}>
                              <!--<template if:false={allAccountsApproved}>-->
                              <template if:false={hasExclusivityAccounts}>
                                <input type="radio" name={option.id} value="Yes" onchange={changeHandler} />
                              </template>
                              <template if:true={hasExclusivityAccounts}>
                                <input type="radio" name={option.id} value="Yes" onchange={changeHandler} checked />
                              </template>
                            </template>
                            <template if:true={requiresApproval}>
                              <input title="You can't select 'Yes', you must send the record for approval." type="radio" name={option.id} value="Yes" onchange={changeHandler} disabled />
                            </template>
                            <div class="slds-p-left_xx-small">
                              {option.answers.yes}
                            </div>
                          </div>
                          <div class="slds-col slds-list_horizontal slds-p-right_medium">
                            <template if:false={requiresApproval}>
                              <input type="radio" name={option.id} value="No" onchange={changeHandler} />
                            </template>
                            <template if:true={requiresApproval}>
                              <input type="radio" name={option.id} value="No" onchange={changeHandler} checked />
                            </template>

                            <div class="slds-p-left_xx-small">
                              {option.answers.no}
                            </div>
                          </div>
                          <div class="slds-col slds-list_horizontal slds-p-right_medium slds-hidden">
                            <input type="radio" name={option.id} value="" />
                            <div class="slds-p-left_xx-small">
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </form>
                </div>

              </div>
              <div class="slds-col slds-size_1-of-2">

                <lightning-input-field field-name="Exclusivity_Restrictions__c">
                </lightning-input-field>
              </div>
            </div>

            <div class="slds-grid slds-gutters">
              <div class="slds-col slds-size_1-of-2">

                <lightning-input-field field-name="Exclusivity_Partnership__c">
                </lightning-input-field>
              </div>
              <div class="slds-col slds-size_1-of-2">

                <lightning-input-field field-name="Exclusivity_End_Date__c">
                </lightning-input-field>
              </div>
            </div>
          </lightning-record-edit-form>
          <div class="slds-m-bottom_large"></div>
        </div>
      </template>

      <!-- Modal/Popup Box LWC footer starts here -->
      <footer class="slds-modal__footer">
        <button class="slds-button slds-float_left slds-button_neutral" onclick={handleGoBack}>Go back</button>
        <button class="slds-button slds-button_brand" onclick={submitDetails} title="Save">Save</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>

</template>