/* Inline Radio Buttons
.radio-combo-inline .slds-form-element__control .slds-radio
{
    display: inline-block !important;
} */


/* :host {
    --lwc-formLabelFontSize:13px;
} */

.c-text-size {
    font-size: 0.75rem;
}

.c-required ::before {
    content:"*";
    color: var(--lwc-colorTextError,rgb(234, 0, 30));
    margin: 0 var(--lwc-spacingXxxSmall,0.125rem);
}