<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 06-28-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.productFlowRecordTypeId} object-api-name="Product_Item__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Information">
                <template for:each={sectionWithFields} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                            <template for:each={section.value} for:item="field">
                                <template if:true={field.showCapFields}>
                                    <div key={field.apiName} class="slds-col slds-size_6-of-12 slds-p-horizontal_xx-small">
                                        <lightning-input type="number" class="c-input-commercial" name={visitsToCap} label="Visits to CAP" min="1" max="31" step="0.01" message-when-range-underflow={visitsToCapMessage} message-when-range-overflow={visitsToCapMessage} value={visitsToCapValue} required='true'></lightning-input>
                                    </div>
                                    <div key={field.apiName} class="slds-col slds-size_6-of-12 slds-p-horizontal_xx-small">
                                        <lightning-input type="number" class="c-input-commercial" name={capDiscount} formatter="percent-fixed" step="0.01" min="0" max="100" message-when-range-underflow={capDiscountMessage} message-when-range-overflow={capDiscountMessage} label="CAP discount" value={capDiscountValue} required='true'></lightning-input>
                                    </div>
                                    <div key={field.apiName} class="slds-col slds-size_6-of-12 slds-p-horizontal_xx-small">
                                        <template if:true={field.requiresValidation}>
                                                <lightning-input key={field.apiName} data-isrequired={field.isRequired} data-apiname={field.apiName} field-name={field.apiName}
                                                                 name={field.apiName} onfocusout={handleInputChange} class="c-input-product" value={field.value} required={field.isRequired} label={field.label}>
                                            </lightning-input>
                                        </template>
                                        <template if:false={field.requiresValidation}>
                                                <lightning-input-field key={field.apiName} data-apiname={field.apiName} field-name={field.apiName}
                                                                       name={field.apiName} class="c-input-product" value={field.value} required={field.isRequired}>
                                            </lightning-input-field>
                                        </template>
                                    </div>
                                </template>

                                <template if:false={field.showCapFields}>
                                    <div key={field.apiName} class="slds-col slds-size_6-of-12 slds-p-horizontal_xx-small">
                                        <template if:true={field.requiresValidation}>
                                                <lightning-input key={field.apiName} data-isrequired={field.isRequired} data-apiname={field.apiName} field-name={field.apiName}
                                                                 name={field.apiName} onfocusout={handleInputChange} class="c-input-product" value={field.value} required={field.isRequired} label={field.label}>
                                            </lightning-input>
                                        </template>
                                        <template if:false={field.requiresValidation}>
                                                <lightning-input-field key={field.apiName} data-apiname={field.apiName} field-name={field.apiName}
                                                                       name={field.apiName} class="c-input-product" value={field.value} required={field.isRequired}>
                                            </lightning-input-field>
                                        </template>
                                    </div>
                                </template>

                            </template>

                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>
</template>