<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-27-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
 
    <div class="slds-grid slds-wrap slds-box c-padding">
        <div class="slds-col slds-grid slds-size_3-of-3 c-background-header">
            <div class="slds-col slds-size_2-of-3 slds-m-vertical_small slds-p-left_small">
                <lightning-icon icon-name="standard:hierarchy" title="Hierarchy" size="large"></lightning-icon>
                <span class="slds-m-left_x-small c-title"> Accounts in this opportunity ({dataSize}) </span>
            </div>
            <div class="slds-col slds-size_1-of-3 slds-m-vertical_small slds-p-right_small">
                <!-- <lightning-button variant="brand-outline" label="Edit" title="Edit"
                class="slds-m-left_x-small slds-float_right"></lightning-button> -->
            </div>
        </div>
        <div class="slds-col slds-grid slds-size_1-of-1">
            <div class="slds-col slds-size_1-of-1">
                <template if:true={accountLst}>               
                    <div style="height: 150px;">
                        <lightning-datatable key-field="id" data={accountLst} columns={columns}>
                        </lightning-datatable>
                    </div>
            </template>
            </div>
        </div>
    </div>
</template>