<template>
    
    <div>

        <!-- M1 Template -->
        <p><lightning-formatted-url label={m1TemplateLinkLabel} value={m1TemplateLinkURL} target="_blank"></lightning-formatted-url></p>
        
        <!-- Post Launch template -->
        <p><lightning-formatted-url label={postLaunchTemplateLinkLabel} value={postLaunchTemplateLinkURL} target="_blank"></lightning-formatted-url></p>
        
        <!-- Good Practices fro a successful Launch -->
        <p><lightning-formatted-url label={goodPracticesSuccessLaunchLinkLabel} value={goodPracticesSuccessLaunchLinkURL} target="_blank"></lightning-formatted-url></p>
    </div>

</template>