<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 06-08-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <c-spinner if:true={isLoading} variant="brand" message={loadMessage}></c-spinner>
    <lightning-card>
        <p class="slds-m-left_x-large"> {totalRecords} items • Sorted by Account Name </p>
        <lightning-button label="Edit All" slot="actions" disabled={isEditAllDisabled} onclick={editMenuClick}></lightning-button>
        <div class="slds-grid slds-wrap slds-box c-padding">
            <div class="slds-col slds-grid slds-size_1-of-1">  
               
                <c-partner-setup-table if:true={showTable}
                            columns={columns} 
                            records={accs}
                            show-checkbox
                            show-pagination
                            place-holder="Quick find..." 
                            selected-records={selectedRecords}
                            page-size-options={pageSizeOptions} 
                            onrefresh={refreshData}
                            onrowselection={handleRowSelection}
                            onrowaction={handleRowAction}

                            onselectedoptionvalue={handleOptionValueChange}

                            onsave={saveRecords}>
                </c-partner-setup-table>    
              
                     
            </div>
        </div>    
        <div class="c-progress-bar">
            <strong class="slds-m-left_x-large"> {totalRecordsReady}/{totalRecords} of your accounts are ready </strong>
            <div class="slds-progress-bar slds-progress-bar_circular" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-label="Progress" role="progressbar">
                <span class="slds-progress-bar__value" style={percentageReady}>
                  <span class="slds-assistive-text">Progress: 75%</span>
                </span>
              </div>
        </div>
        <div if:true={showEditMenu}>
            <c-partner-setup-edit-all-menu selected-records={selectedRecords} is-us={isUs} received-data={data} onclosemenumodal={closeEditMenu}>
            </c-partner-setup-edit-all-menu>
        </div>

        <div if:true={showEditSingleAccount}>   
            <c-partner-setup-edit received-data={data} account-id={accountIdFromRow} oncloseeditmodal={closeEditSingleAccount} ></c-partner-setup-edit>
        </div>
        
    </lightning-card>
               
</template>