.modal-container {
    max-width: 100rem !important;
    width: 80% !important;
    max-height: 100rem !important;
    height: 80% !important;
}

.block-pointer-events {
    pointer-events: none;
}

.icon {
    --sds-c-icon-color-foreground-default: white;
    --sds-c-icon-color-background: gray;
}

.c-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.c-progress-bar {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}