<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 02-03-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <template if:false={isClosed}>
    <!-- <div>{getAccountId}</div> -->
    <section aria-labelledby="panel-heading-id"
        class="slds-popover slds-popover_panel slds-nubbin_left slds-popover_large" role="dialog">
        <div class="slds-popover__header">
            <header class="slds-media slds-media_center slds-m-bottom_small">
                <span class="slds-icon_container slds-icon-standard-account slds-media__figure">
                    <lightning-icon icon-name="standard:account" alternative-text="Account" title="Account">
                    </lightning-icon>

                </span>
                <div class="slds-media__body">
                    <h2 class="slds-text-heading_medium slds-hyphenate" id="panel-heading-id">
                        <p data-target-id="childaccount" onclick={navigateTo} class="slds-truncate c-cursor-pointer" title="Name">{name}</p>
                    </h2>
                    <p class="slds-text-body_small" title="AccountId">Account ID {gymId}</p>
                </div>
            </header>
            <footer class="slds-grid slds-wrap slds-grid_pull-padded">
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Parent Account</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small c-link" data-target-id="parentaccount" onclick={navigateTo} title="Parent Account">{parentAccount}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Account Owner</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small c-link" data-target-id="owner" onclick={navigateTo} title="Account Owner">{owner}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Types of ownership</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small" title="Types of ownership">{typesOfOwnership}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Account Site</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small" title="Account Site">{site}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Gym ID</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small" title="Gym ID">{gymId}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Legal Representative</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small c-link" data-target-id="legalrepresentative" onclick={navigateTo} title="Legal Representative">{legalRepresentative}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Enablers Score</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small" title="Enablers Score">
                                <template if:true={enablesScore}>
                                    <img src={imageScoreUrl} alt="Enablers Score Flag">
                                </template>
                                &nbsp;&nbsp;{enablesScore}</p>
                        </dd>
                    </dl>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-p-bottom_x-small">
                    <dl>
                        <dt>
                            <p class="slds-truncate slds-text-title c-header-color">Website</p>
                        </dt>
                        <dd>
                            <p class="slds-truncate slds-text-body_small c-link" data-target-id="website" onclick={navigateTo} title="Website">{website}</p>
                        </dd>
                    </dl>
                </div>
            </footer>
        </div>
    </section>
    </template>
</template>