<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-14-2022
  @last modified by  : gepi@gft.com
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <!-- <lightning-record-edit-form record-type-id={partnerProductRecordTypes.exclusivityRecordTypeId}
        object-api-name="Commercial_Condition__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Information">
                <template for:each={sectionExclusivityFields} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-3">
                                <lightning-radio-group name={section.key} label="Is exclusive?" options={options} data-record-type-name={partnerProductRecordTypes.exclusivityRecordTypeName}
                                    value={exclusivitySelectedValue} type="radio" class="slds-m-vertical_medium slds-m-left_small" onchange={handleOptionChange}
                                    required>
                                </lightning-radio-group>
                            </div>
                            <div class="slds-col slds-size_2-of-3">
                                <div class="slds-grid slds-wrap slds-m-top_small">
                                    <template for:each={section.value} for:item="field">
                                        <div key={field.apiName} class="slds-col slds-size_4-of-8">
                                            <lightning-input-field key={field.apiName} field-name={field.apiName}
                                                name={field.apiName} class="c-input-comm-exclus" value={field.value}
                                                required={field.isRequired} disabled={field.disabled}>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form> -->

    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.noShowRecordTypeId}
        object-api-name="Commercial_Condition__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Information">
                <template for:each={sectionNoShowFields} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <div key={section.key} class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-3">
                                <lightning-radio-group name={section.key} label="Has no show fee?" options={options}
                                    value={noShowSelectedValue} type="radio" class="slds-m-vertical_medium slds-m-left_small"
                                    required onchange={handleOptionChange} data-record-type-name={partnerProductRecordTypes.noShowRecordTypeName}>
                                </lightning-radio-group>
                            </div>
                            <div class="slds-col slds-size_2-of-3">
                                <div class="slds-grid slds-wrap slds-m-top_small">
                                    <template for:each={section.value} for:item="field">
                                        <div key={field.apiName} class="slds-col slds-size_8-of-8">
                                            <lightning-input-field key={field.apiName} field-name={field.apiName}
                                                name={field.apiName} class="c-input-comm-noshow" value={field.value}
                                                required={field.isRequired} disabled={field.disabled}>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>

    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.lateCancellationRecordTypeId}
        object-api-name="Commercial_Condition__c" onload={loadThresholdValues}>
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Information">
                <template for:each={sectionLateCancelationFields} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>

                        <div key={section.key} class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-3">
                                <lightning-radio-group name={section.key} label="Has late cancelation fee?" options={options}
                                    value={lateCancelSelectedValue} type="radio" class="slds-m-vertical_medium slds-m-left_small"
                                    required onchange={handleOptionChange}  data-record-type-name={partnerProductRecordTypes.lateCancellationRecordTypeName}>
                                </lightning-radio-group>
                            </div>
                            <div class="slds-col slds-size_2-of-3">
                                <div class="slds-grid slds-wrap slds-m-top_small">
                                    <template for:each={section.value} for:item="field">
                                        <div key={field.apiName} class="slds-col slds-size_8-of-8">
                                            <lightning-input-field key={field.apiName} field-name={field.apiName}
                                                name={field.apiName} class="c-input-comm-latecancel" value={field.value}
                                                required={field.isRequired} disabled={field.disabled} >
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>

                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>


    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.tresholdPartnerRecordTypeId}
        object-api-name="Threshold__c">
        <div class="slds-theme_default">
            <lightning-accordion active-section-name="Information">
                <template for:each={sectionDiscountsFields} for:item="section">
                    <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                        <!-- <lightning-radio-group name="replicate"
                            label="Replicate the discounts conditions for the entire network?" options={options}
                            value={value} type="radio" class="slds-m-vertical_medium slds-m-left_small" disabled={isStandardImplemented}>
                        </lightning-radio-group> -->
                        <lightning-radio-group name={section.key} label="Has volume discount?" options={options}
                            value={volumeDiscountSelectedValue} type="radio" class="slds-m-vertical_medium slds-m-left_small" required onchange={handleOptionChange}>
                        </lightning-radio-group>
                        <lightning-radio-group name="standard" label="Standard volume discount?" options={options}
                                               value={isStandardVolDiscount} type="radio" class="slds-m-vertical_medium slds-m-left_small" onchange={handleStandardVolumeChange} disabled={isDiscountDisabled}>
                        </lightning-radio-group>
                        <div class="slds-grid slds-wrap">
                            <template if:true={volumeDiscountPicklistValues.data}>
                                <div class="slds-col slds-size_6-of-12">
                                    <lightning-combobox
                                            name="volumeDiscountType"
                                            label="Volume Discount Type"
                                            value={volumeDiscountTypeSelectedValue}
                                            placeholder="Select volume discount type"
                                            options={volumeDiscountPicklistValues.data.values}
                                            onchange={handleVolumeDiscountTypeChange}
                                            disabled={isDiscountDisabled}
                                            required
                                            data-field-name="volumeDiscountType"></lightning-combobox>
                                </div>
                                <div class="slds-col slds-size_6-of-12"></div>
                            </template>
                            <div class="slds-col slds-size_6-of-12">
                                <lightning-input type="number" name="numberOfThresholds" min="0" label="Number of thresholds" value={numberOfThresholds} disabled={isDiscountDisabled} class="c-inputSize" onchange={handleNumberOfThresholds} required></lightning-input>
                            </div>    
                            <div class="slds-col slds-size_6-of-12">
                                <lightning-input type="date" name="valumeDiscountDate" label="(Volume discount) date" class="c-inputSize c-volume-discount-date" disabled={isDiscountDisabled} required value={discountDate} onchange={handleDiscountDate}></lightning-input>
                            </div>                         
                        </div>
                      
                        <div key={section.key} class="slds-grid slds-wrap slds-m-top_medium">
                            <template for:each={thresholdNumber} for:item="threshold">
                                <div key={threshold} class="slds-col slds-size_2-of-12 slds-align_absolute-center">
                                    <span>#{threshold}</span>
                                </div>
                                <template for:each={section.value} for:item="field">                               
                                    <div key={field.apiName} class="slds-col slds-size_5-of-12">
                                        <lightning-input-field key={field.apiName} field-name={field.apiName} data-threshold-id={threshold}
                                            name={field.apiName} class="c-input-threshold c-paddingLeftZero" value={field.value}
                                            required={field.isRequired} disabled={field.disabled}>
                                        </lightning-input-field>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </lightning-accordion-section>
                </template>
            </lightning-accordion>
        </div>
    </lightning-record-edit-form>
</template>