table tr th:nth-child(1){
    width: 60%;
}

table tr th:nth-child(3){
    width: 10%;
}

.underlineText{
    border-bottom: 1px dotted;
}

.table_body{
    transform: initial;
}

.boxDiv{
    padding-left: 5px;
}

.boxDiv .spnPopover {
    display:none; 
    margin-top: -6.85rem;
}

.boxDiv:hover .spnPopover{
    display:inline; 
    position:absolute; 
    left:-24rem;
}