<!--
  @description       : Table for Related List
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 06-08-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <template if:true={columns}>
        <table class="tableRelated slds-table slds-table_cell-buffer slds-table_bordered slds-table_fixed-layout">
            <thead>
                <tr class="slds-line-height_reset">
                    <template for:each={columns} for:item="column">
                        <th key={column.label} class="slds-cell-buffer_right" scope="col">
                            <div class="slds-truncate" title={column.label}>{column.label}</div>
                        </th>
                    </template>
                    <th ></th>
                </tr>
            </thead>
            <template if:true={records}>
                <tbody class="table_body">
                    <template for:each={recordsWithActions} for:item="record" for:index="index">
                        <tr key={record.sku.Id}>
                            <td role="gridcell" key={record.sku.Id} class="slds-cell-buffer_right">
                                <div class="slds-truncate boxDiv" data-rangerindex={index} data-rangerid={record.sku.Id} onmouseover={onHoverProduct}>
                                    <template if:true={activatenavigation}>
                                        <a class="underlineText" href={record.sku.LinkName}>{record.sku.Product2_Name}</a>
                                     </template>
                                     <template if:false={activatenavigation}>
                                        <a class="underlineText">{record.sku.Product2_Name}</a>
                                     </template>
                                     
                                     <span class="spnPopover">
                                        <c-box-popover 
                                            myranger={record.sku.Id}
                                            mywaivers={waiversList}
                                            iconname={icon}
                                            objectname={objectname}
                                            titlefield={titlefield}
                                            fields={fields}
                                        >
                                        </c-box-popover>
                                    </span>
                                </div>
                            </td>
                            <td role="gridcell">
                                <lightning-formatted-number value={record.sku.Subtotal} format-style="currency" currency-code={record.sku.CurrencyIsoCode} currency-display-as="code"></lightning-formatted-number>
                            </td>
                            <td role="gridcell">
                                <div class="slds-float_right">                                        
                                    <lightning-button-menu disabled icon-size="x-small" data-item={record.sku.Id} data-label={record.sku.Product2_Name} onselect={actionSelected} menu-alignment="auto" alternative-text="Show menu">
                                        <template for:each={record.actions} for:item="action">
                                            <lightning-menu-item class="menuItem" key={record.sku.Id} value={action.value} label={action.label}></lightning-menu-item>
                                        </template>
                                    </lightning-button-menu>
                                </div>
                            </td>
                        </tr>
                    </template>
                    <tr></tr>
                </tbody>
            </template>
        </table>
        
    </template>
</template>