<!--
  @description       : 
  @author            : vstl@gft.com
  @group             : 
  @last modified on  : 06-03-2022
  @last modified by  : vstl@gft.com
-->
<template>
  <div>

    <lightning-accordion active-section-name="CommercialConditions">
      <lightning-accordion-section name="CommercialConditions" label="Commercial conditions approval status">
        <div>
          <lightning-icon icon-name={needDiscountApproval} alternative-text="Success!" variant={getDiscountApprovalVariant} title="success variant small" size="x-small"></lightning-icon>
          <span>Total Discount over allowed</span>
        </div>
        <div>
          <lightning-icon icon-name={needWaiverApproval} alternative-text="Success!" variant={getWaiverApprovalVariant} title="success variant small" size="x-small"></lightning-icon>
          <span>Waiver or temporary discount</span>
        </div>
        <template if:true={enableJustifyCommercialConditions}>
          <lightning-textarea name="Justify Commercial conditions" label="Justify Commercial conditions" value={rationaleCommercialConditions} required="true" ></lightning-textarea>
        </template>
      </lightning-accordion-section>
    </lightning-accordion>

    <lightning-accordion active-section-name="QuoteApprovalHistory">
      <lightning-accordion-section name="QuoteApprovalHistory" label="Approval History">
        <h2>Quote</h2>
        <ul>
          <li><lightning-formatted-url value={approvalHistoryLink} tooltip="Access proposal approval queue" label={getQuoteName} target="_blank" ></lightning-formatted-url></a></li>
        </ul>  
      </lightning-accordion-section>
    </lightning-accordion>
  </div>

  <footer class="slds-card__footer">
    <lightning-layout>
        <lightning-layout-item>
            <lightning-button variant="neutral" label="Back" title="Back" onclick={handlePreviousStage} ></lightning-button>
        </lightning-layout-item>
        <lightning-layout-item class="slds-col_bump-left slds-var-p-right_small">
            <lightning-button variant="brand-outline" label="Send to approval" title="Send to approval" disabled={disableSendToApproval} onclick={handleSendToApproval} ></lightning-button>
        </lightning-layout-item>
        <lightning-layout-item>
            <lightning-button variant="brand" label="Continue" title="Continue" disabled={disableContinue} onclick={handleNextStage}></lightning-button>
        </lightning-layout-item>
    </lightning-layout>
  </footer>

  <template if:true={isLoading}>
    <div>
      <lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
    </div>
  </template>
</template>