<template>

    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_fixed-layout removeBottomBorder"
        role="grid">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <div class="slds-truncate" title="Product">Product</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Total Sales Price">Total Sales Price</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Discount">Discount</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="actions"></div>
                </th>
            </tr>
        </thead>
        <tbody class="tableBody">
            <template for:each={privateProducts} for:item="product" for:index="index">
                <tr key={product.Id}>
                    <td role="gridcell" class="slds-cell-buffer_right">
                        <div class="slds-truncate boxDiv" data-index={index} data-id={product.Id} onmouseover={onHoverProduct}>
                            <a href={product.link} tabindex="-1">{product.Plan_Name__c}</a>

                            <span class="spnPopover">
                                <c-smb-product-popover data-id={product.Id}
                                    record-id={product.Id} waivers={product.Waivers__r}> </c-smb-product-popover>
                            </span>

                        </div>
                    </td>
                    <td role="gridcell">
                        <lightning-formatted-number value={product.Subtotal} format-style="currency" currency-code={product.CurrencyIsoCode} currency-display-as="code"></lightning-formatted-number>
                    </td>
                    <td role="gridcell">
                        <lightning-formatted-number value={product.Discount} format-style="decimal" maximum-fraction-digits="2"></lightning-formatted-number>%
                    </td>
                    <td role="gridcell">
                        <div class="slds-float_right">                                        
                            <lightning-button-menu data-id={product.Id} data-name={product.Plan_Name__c} disabled={actionsDisabled} icon-size="x-small" onselect={handleActionSelect} menu-alignment="auto" alternative-text="Show menu">
                                <lightning-menu-item value="edit" label="Edit"></lightning-menu-item>
                                <lightning-menu-item value="delete" label="Remove"></lightning-menu-item>
                            </lightning-button-menu>
                        </div>
                    </td>
                </tr>
            </template>
            
        </tbody>
    </table>

</template>