table tr th:nth-child(1){
    width: 40%;
}

table tr th:nth-child(4){
    width: 10%;
}

.removeBottomBorder{
    border-bottom: 0;
}

.tableBody{
    transform: initial;
}

.boxDiv{
    padding-left: 5px;
}

.boxDiv .spnPopover{
    display:none; 
    margin-top: -6.85rem;
}

.boxDiv:hover .spnPopover{
    display:inline; 
    position:absolute; 
    left:-24rem;
}