.THIS .offer-summary-item {
    margin: 0.5em 1.3em 0.5em 1.3em;
}

.THIS .offer-summary-item-title {
    font-weight: bold;
}

.THIS .offer-summary-item-value {
    color: #9898A7;
}

.THIS.item-div:hover {
    background-color: #F7F7F7;
}

.THIS.product-table {
    margin-top: 2em;
}

.THIS.offer-letter-preview {
    margin-top: 0.5em;
}

.THIS .slds-popover__body {
    visibility: hidden;
    width: 120px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 125%;
}

.THIS .needs-approval-color{
    background-color: #ff3838;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .no-need-approval-color{
    background-color:#4eb556;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .section-margin{
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
}