:host{
    --slds-c-accordion-summary-color-background: #F3F3F3;
    --sds-c-textarea-sizing-min-height: 170px;
}
.offer-summary-card {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.review-clock-icon {
    margin-right: 0.5em;
}

.padding-top{
    padding-top:5px;
}

.doze-px {
    font-size: 13px !important;
}

.treze-px {
    font-size: 14px;
}

.quatorze-px {
    font-size: 15px;
}

.colorbox_default {
    background-color:#ECEBEA;
}

.colorbox_ok{
    background-color:#D9FFDF;
    border-color:#D9FFDF;
    border-radius: 4px;
}

.color_fontbox{
    color:white;
}

.colorbox_default {
    background-color:#ECEBEA;
    border-color:#ECEBEA;
    border-radius: 4px;
}

.colorbox_error{
    background-color:#FEF0EE;
    border-color:#FEF0EE;
    border-radius: 4px;
}

.gray_text{
   color:#706E6B;
}

.height_card{
    height:170px !important; 
}


.slds-textarea{
    height:295px !important;
}

.status_size {
    transform: scale(0.6, 0.6);
}

.border_box {
    border-color: white rgba(221,219,218,1) rgba(221,219,218,1) rgba(221,219,218,1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.margin-left-60{

    margin-left: 70px;
}

.margin-left-50{

    margin-left: 40px;
}

.margin-top-bottom{

    margin-top: 80px;
    margin-bottom: 80px;
}