<template>
    <div class="slds-border_top">
        <div class="slds-align_absolute-center margin-top-bottom">
            <template if:true={disableSendToApproval}>
                <div class="treze-px">Your offer was approved and it’s ready to send.</div>
            </template>
            <template if:false={disableSendToApproval}>
                <div class="treze-px">Your offer will be analyzed and you’ll receive feedback by email.</div>
            </template>
        </div>
        <lightning-accordion active-section-name="DealDesk">
            <lightning-accordion-section name="DealDesk" label="Approvals">
                <p class="doze-px slds-p-vertical_small">Your offer might need approval - please check the status of the following approval steps.</p>
                <lightning-layout>
                    <lightning-layout-item padding="around-small" size='5' class="margin-left-50">
                        <lightning-layout class={colorDealDeskApproval}>
                            <lightning-layout-item size='11'>
                                <div class="doze-px">Deal Desk approval status</div>
                            </lightning-layout-item> 
                        </lightning-layout>
                        <lightning-layout class="slds-box slds-box_x-small border_box">
                            <div class="height_card">
                                <template if:true={opp}>
                                    <template for:each={lstApprovedConditions} for:item="condition">
                                      <div key={condition.conditionCode}>
                                        <lightning-icon icon-name={condition.iconName} alternative-text="Success!" variant={condition.iconVariant} title="success variant small" size="x-small"></lightning-icon>
                                        <span>{condition.approvalCondition}</span>
                                      </div>  
                                    </template>
                                    <template if:true={lstApprovedConditionsIsEmpty}>
                                      <lightning-icon icon-name="utility:success" alternative-text="Success!" variant="success" title="success variant small" size="x-small"></lightning-icon>
                                        <span>  No Need</span>
                                    </template>
                                </template>
                            </div>
                        </lightning-layout>
                        <lightning-layout> 
                            <lightning-layout-item size='12' class="slds-p-top_medium"> 
                                <lightning-textarea  name="Think it should move foward? Tell us why:" label="Think it should move foward? Tell us why:" value={rationaleDealDeskApproval} onchange={handleJustifyDealDesk}  disabled={disableJustifyDealDesk} required="true" ></lightning-textarea>
                            </lightning-layout-item>         
                        </lightning-layout>
                    </lightning-layout-item>

                    <lightning-layout-item padding="around-small" size='5' class="margin-left-60">
                        <lightning-layout class={colorRegionalManagerApproval}>
                            <lightning-layout-item size='11'>
                                <div class="doze-px">Regional Manager approval status</div>
                            </lightning-layout-item>
                        </lightning-layout>
                            <lightning-layout class="slds-box slds-box_x-small border_box">
                                <div class="height_card">
                                <lightning-layout-item size='12'>
                                    <div>
                                        <lightning-icon icon-name={needWaiverApproval} alternative-text="Success!" variant={getWaiverApprovalVariant} size="x-small"></lightning-icon>
                                        <span>  Waivers</span>
                                    </div>
                                    <div>
                                        <lightning-icon icon-name={needEnterpriseSubscriptionApproval} alternative-text="Success!" variant={getEnterpriseSubscriptionApprovalVariant} size="x-small"></lightning-icon>
                                        <span>  Enterprise Subscription</span>
                                    </div>
                                    <div>
                                        <lightning-icon icon-name={needEnablersApproval} alternative-text="Success!" variant={getEnablersApprovalVariant} size="x-small"></lightning-icon>
                                        <span>  Enablers</span>
                                    </div>
                                </lightning-layout-item>
                            </div>
                        </lightning-layout>
                        <lightning-layout> 
                            <lightning-layout-item size='12' class="slds-p-top_medium"> 
                                <lightning-textarea  name="Think it should move foward? Tell us why:" label="Think it should move foward? Tell us why:" value={rationaleCommercialConditions} onchange={handleJustifyCommercial}  disabled={disableJustifyCommercial} required="true" ></lightning-textarea>
                            </lightning-layout-item>         
                        </lightning-layout>
                    </lightning-layout-item>  
                </lightning-layout>
            </lightning-accordion-section>
        </lightning-accordion>
    </div>
  
    <footer class="slds-card__footer">
      <lightning-layout>
          <lightning-layout-item>
              <lightning-button variant="neutral" label="Back" title="Back" onclick={handlePreviousStage} ></lightning-button>
          </lightning-layout-item>
          <lightning-layout-item class="slds-col_bump-left slds-var-p-right_small">
              <lightning-button variant="brand-outline" label="Send to approval" title="Send to approval" disabled={disableSendToApproval} onclick={handleSendToApproval} ></lightning-button>
          </lightning-layout-item>
          <lightning-layout-item>
              <lightning-button variant="brand" label="Continue" title="Continue" disabled={disableContinue} onclick={handleNextStage}></lightning-button>
          </lightning-layout-item>
      </lightning-layout>
    </footer>
  
    <template if:true={isLoading}>
      <lightning-spinner variant="brand" size="large"></lightning-spinner>
    </template>
  </template>