<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 04-25-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open">
        <div if:true={spinner}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </div>
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Product Assignment</h1>
          </div>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <c-select-partners-accounts 
                obj-record-id={prodRecordId}
                onselectaccounts={handleSelectAccounts}
                account-data={accountData}
                helper-data={helperData}
                >
            </c-select-partners-accounts>
          </div>
          <div class="slds-modal__footer">
            <div class="slds-grid slds-grid_align-spread">
                <div class="slds-col">
                    <lightning-button label="Cancel" onclick={closeModal} class="slds-p-around_x-small">
                    </lightning-button>
                </div>
                <div class="slds-col">
                    <lightning-button variant="brand" label="Done" onclick={handleDoneBtn} disabled={disableButton}
                        class="slds-p-around_x-small"></lightning-button>
                </div>
            </div>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>