<template>
    <div class="help-tooltip slds-var-p-bottom_x-small">
        <div class="font_style slds-show_inline-block">
            {label}
        </div> 

        <lightning-helptext if:true={hasHelpText} content={helpTextDetail} class="help-tooltip slds-show_inline-block"></lightning-helptext>
    
        <p class="slds-text-body_regular">{value}</p>

    </div>

</template>