<template>

    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class={modalClass}
        style="z-index: 9999;">

        <div if:true={isLoading} class="slds-is-relative">
            <div class="slds-spinner_container" style="min-height:100vh;">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>

        <div class="slds-modal__container">

            <lightning-button-icon class="slds-modal__close" size="large" variant="bare-inverse"
                icon-name="utility:close" label="Close this window" title="Close this window" onclick={handleClose}>
            </lightning-button-icon>

            <c-smb-sku-select-products if:true={showSelectProducts} products={products} currency-iso-code={currencyIsoCode} onclose={handleClose} oncontinue={handleContinue}></c-smb-sku-select-products>

            <c-smb-sku-save-products if:false={showSelectProducts} products={selectedProducts} currency-iso-code={currencyIsoCode} 
                onclose={handleClose} onback={handleBack} onloading={handleLoading}></c-smb-sku-save-products>

        </div>
    </section>
    <div class={modalBackdropClass} role="presentation"></div>

</template>