/* .THIS .slds-button_icon-bare{
    display: none;
}
 */
.THIS .slds-card__header {
    margin: 0;    
    /* padding: var(--lwc-varSpacingVerticalMedium,1rem) var(--lwc-varSpacingHorizontalMedium,1rem); */
}

.THIS .slds-box_x-small {
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(229, 229, 229));
}