<template>
    <lightning-card class="slds--around_medium">
        <div class="slds-m-around_small slds-grid slds-wrap">
            <div class="slds-col slds-size_3-of-4">
                <p>Adjust fee fields/percentages:</p>
            </div>
            <div class="slds-col slds-size_2-of-4 slds-m-bottom_x-small">
                <lightning-input
                    type="search"
                    name="accFilter"
                    onchange={handlefilterChange}
                    placeholder="Filter by Name, City, State or Country">
                </lightning-input>
            </div>
        </div>
        
        <div class="slds-m-around_small">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-m-bottom_large" id="hierarchy">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="slds-text-align_right slds-cell_action-mode slds-size_1-of-10" scope="col" style="width:3.25rem">
                            <lightning-input type="checkbox" onchange={handleAllChange}></lightning-input>
                        </th>
                        <th class="slds-size_3-of-10">
                            <div class="slds-truncate" title="Name">Account Name</div>
                        </th>
                        <th class="slds-size_2-of-10">
                            <div class="slds-truncate" title="City">City</div>
                        </th>
                        <th class="slds-size_2-of-10">
                            <div class="slds-truncate" title="State">State</div>
                        </th>
                        <th class="slds-size_2-of-10">
                            <div class="slds-truncate" title="Country">Country</div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <template for:each={temporaryListHierarchy} for:item="con" for:index="index">
                        <tr key={con.AccountId} class="slds-hint-parent">
                            <td class="slds-size_1-of-10">
                                <lightning-input type="checkbox" value={con.index} data-id={index} key={con.key} checked={con.isSelected} onchange={handleCheckChange}></lightning-input>
                            </td>
                            <td class="slds-size_3-of-10">
                                <div>{con.AccountName}</div>
                            </td>
                            <td class="slds-size_2-of-10">
                                <div>{con.AccountBillingCity}</div>
                            </td>
                            <td class="slds-size_2-of-10">
                                <div>{con.AccountBillingState}</div>
                            </td>
                            <td class="slds-size_2-of-10">
                                <div>{con.AccountBillingCountry}</div>
                            </td>
                            
                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="slds-float_right slds-m-bottom_medium">
                <lightning-button label="Add Accounts" onclick={getSelectedAccounts} variant="brand"></lightning-button>
            </div>

        </div>

        <div class="slds-m-around_small">


            <table class="slds-table slds-table_cell-buffer slds-table_bordered" id="split">
                <thead>
                    <tr class="">
                        <th class="slds-size_1-of-10" scope="col">
                            <div class="slds-truncate" title="Index"></div>
                        </th>
                        <th class="slds-size_2-of-10" scope="col">
                            <div class="slds-truncate" title="Account Name">Account Name</div>
                        </th>
                        <th class="slds-size_2-of-10" scope="col">
                            <div class="slds-truncate" title="Action">Legal Name</div>
                        </th>
                        <th class="slds-size_2-of-10" scope="col">
                            <div class="slds-truncate" title="LegalNumber">Legal Number</div>
                        </th>
                        <th class="slds-size_1-of-10" scope="col">
                            <div class="slds-truncate" title="RecurringFees">RecurringFees</div>
                        </th>
                        <th class="slds-size_1-of-10" scope="col">
                            <div class="slds-truncate" title="OneTimeFees">One Time Fees</div>
                        </th>
                        <th class="slds-size_1-of-10" scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each = {dataTemporarySplit} for:item = "item" for:index="indexVar">
                        <tr key={item.Id} class="slds-hint-parent" ondblclick={onDoubleClickEdit} >
                            <td class="slds-size_1-of-10" data-label={item.Name}>
                                <div  title="Index">{indexVar}</div>
                            </td>
                            <td class="slds-size_2-of-10" data-label={item.Name}>
                                <div  title="Account Name">{item.AccountName} </div>
                            </td>
                            <td class="slds-size_2-of-10" data-label="Prospecting">
                                <div  title="LegalName">{item.AccountLegalName}</div>
                            </td>
                            <td class="slds-size_2-of-10" data-label="Prospecting">
                                <div  title="LegalNumber">{item.AccountLegalNumber}</div>
                            </td>
                            <td class="slds-size_1-of-10" data-label="Prospecting">
                                <template if:false={isEdited}>{item.recurringFeePercentage}</template>
                                <template if:true={isEdited}>
                                    <lightning-input type="Number" key={item.key} data-id={item.AccountId} name="RecurringFees" label="RecurringFees" value={item.recurringFeePercentage} variant="label-hidden" onchange={handleFieldChange}></lightning-input>
                                </template>
                            </td>
                            <td class="slds-size_1-of-10" >
                                <template if:false={isEdited}>{item.nonRecurringFeePercentage}</template>
                                <template if:true={isEdited}>
                                    <lightning-input type="Number" key={item.key} data-id={item.AccountId} name="OneTimeFees" label="OneTimeFees" value={item.nonRecurringFeePercentage} variant="label-hidden" onchange={handleFieldChange}></lightning-input>
                                </template>
                            </td>
                            <td class="slds-size_1-of-10" data-label="Prospecting">
                                <template if:true={indexVar}>
                                    <lightning-button-icon name={indexVar} data-id={indexVar} onclick={remove} 
                                        icon-name="utility:delete" alternative-text="delete" class="slds-m-left_xx-small" title="Delete">
                                    </lightning-button-icon>
                                </template>
                            </td>

                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="slds-clearfix slds-align_absolute-center slds-m-top_medium">
                <template if:true={isEdited}>
                    <lightning-button 
                        label="Save" 
                        icon-name="utility:save" 
                        slot="actions"
                        onclick={checkFees}>
                    </lightning-button>
                    <lightning-button 
                        label="Cancel" 
                        icon-name="utility:cancel_file_request" 
                        slot="actions"
                        onclick={handleCancel}>
                    </lightning-button>
                </template>
            </div>
        </div>
    </lightning-card>     
</template>