<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 04-22-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <template if:true={showModal}>
        <c-modal onclosedialog={handleDialogClose}>
            <span slot="header">{header}</span>
            <slot class="slds-align_absolute-center">
                {body}
            </slot>
            <span slot="footer" >
                <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={handleClose} ></lightning-button>
                <lightning-button variant="brand" label="Delete" title="Delete" onclick={handleDelete} class="slds-m-left_x-small"></lightning-button>
            </span>
            <template if:true={spinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
        </c-modal>
    </template>
</template>