<apex:component controller="ApprovalRequestCommentsController" access="global">
    <apex:attribute name="relatedToId" assignTo="{!targetObjectId}" type="String" description="ID of the record whose last approval assigner to retrieve"/>
    <apex:outputText value="{!approverName}"/>
</apex:component>