<template >
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class="slds-m-vertical_xx-large slds-align_absolute-center title">Choose a query to start:</p>
                    <div class="slds-form-element__control">
                        <div class="slds-visual-picker slds-visual-picker_vertical slds-align_absolute-center">
                            <input type="radio" id="singleCompany" value="singleCompany" name="typeConsult" onchange={handleTypeConsult}/>
                            <label for="singleCompany">
                                <span class="slds-visual-picker__figure slds-visual-picker__text">
                                    <span>
                                    <span class="slds-text-heading_small slds-m-top_medium slds-m-left_xx-large slds-m-bottom_x-small">Single company {typeSingle}</span>
                                    </span>
                                </span>
                                <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </span>
                            </label>
                        </div>
                        <div class="slds-align_absolute-center slds-m-top_medium">
                            <div class="slds-visual-picker slds-visual-picker_vertical">
                                <input type="radio" id="multipleCompany" value="multipleCompany" name="typeConsult" onchange={handleTypeConsult}/>
                                <label for="multipleCompany">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text">
                                        <span>
                                        <span class="slds-text-heading_small slds-m-top_medium slds-m-left_xx-large slds-m-bottom_x-small">Multiple company {typeMultiple}</span>
                                        </span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                        <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-align_absolute-center slds-m-top_x-large">
                        <div class="slds-col slds-size_8-of-12 slds-m-bottom--medium">
                            <button class="slds-button slds-button_destructive button slds-button_stretch slds-p-vertical_x-small">Get started {typeConsult}</button>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
       
</template>