lightning-button.button{
    --sds-c-button-brand-color-background: #FF874C;
    --sds-c-button-brand-color-background-hover: #dc7d4f;
    --sds-c-button-brand-color-background-active: #FF874C;
  
    --sds-c-button-brand-color-border:#FF874C;
    --sds-c-button-brand-color-border-hover:#dc7d4f;
    --sds-c-button-brand-color-border-active:#FF874C;
    --sds-c-button-text-color: hsl(0, 0%, 100%);
  }