<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 05-03-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
    <div>
        <div if:true={spinner}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </div>
        <lightning-accordion active-section-name="A">
            <lightning-accordion-section name="A" label="Select accounts">
                <div class="slds-m-bottom_xxx-small">Select accounts you want to add to this {objectLabel}</div>
                <lightning-input class="slds-m-bottom_x-small" name="enter-search" placeholder="Account name"
                    type="search" variant="label-hidden" onchange={handleSearchAction}></lightning-input>
                <!-- Pill form -->
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right"
                    role="none">
                    <template for:each={selectedAccounts} for:item="item">
                        <span key={item.id}>
                            <lightning-pill id={item.id} data-id={item.id}
                                class="slds-m-top_xxx-small slds-m-right_xx-small" style="color : #0176d3"
                                label={item.name} data-item={item.name} onremove={handleRemoveRecord}>
                            </lightning-pill>
                        </span>
                    </template>
                </div>
                <!-- Pill form -->
                <div class="slds-m-top_small slds-text-title">
                    {accountsSelectNumber} account(s) selected
                </div>
            </lightning-accordion-section>
        </lightning-accordion>
        <div style="height: 300px;">
            <lightning-tree-grid id="c-treeGrid" class="slds-scrollable_y" columns={gridColumns} data={gridData}
                onrowaction={handleRowAction} onrowselection={handleSelectedRows} key-field="id"
                onmouseover={handleMouseOver} selected-rows={selectedRows} expanded-rows={expandedRows} ontoggle={handleToggle}>
            </lightning-tree-grid>
        </div>
    </div>
</template>