<template>

    <lightning-button if:false={isOpen}
        variant="base" 
        label={linkLabel}
        title={linkLabel}
        onclick={handleClick}>
    </lightning-button>

    <lightning-card if:true={isOpen}>
        <p>
            <lightning-datatable
                    key-field="id"
                    data={contactsList}
                    columns={columns}
                    hide-checkbox-column
                    >
            </lightning-datatable>
        </p>

        <p slot="footer">
            <!-- manage contacts button -->
            <lightning-button
                variant="neutral"
                label={manageContactsButtonLabel}
                onclick={handleManageAction}
                class="slds-float_right"
            ></lightning-button>

            <!-- close button -->
            <lightning-button
                variant="neutral"
                label={closeButtonLabel}
                onclick={handleCloseAction}
                class="slds-float_right slds-m-right_xx-small"
            ></lightning-button>
        </p>
    </lightning-card>

</template>