.THIS .section-margin{
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
}

.THIS .margin-right-30{
    margin-right:30px;
}
  
.THIS .padding-top-10 {
    padding-top:10px;
}

.THIS .padding-bottom-40 {
    padding-bottom:40px;
}
  
.THIS .c-container-right {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    float: right;
    margin-left: 20px;
}
  
.THIS .c-container-left {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    float: left;  
}
  
.THIS .slds-radio {
    display: inline !important;
    
}
  
.THIS .collapse { 
    border-top: none;
}
  
.THIS .slds-accordion__summary-heading, .THIS .text-title{
    font-weight: bold;
}

.THIS .inLineElement{
    display: inline-block;
}

.THIS .padding-top-20{
    padding-top:20px;

}
.THIS .padding-top-30{
    padding-top:30px;

}

.THIS .needs-approval-color{
    background-color: #ff3838;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .no-need-approval-color{
    background-color:#4eb556;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .slds-textarea{
    height: 6rem;
}