<template>
    <lightning-card>
           
        <template if:false={accounts}>

            <lightning-record-edit-form object-api-name="Account_Request__c">

                <lightning-input-field field-name="Website__c" onchange={handleChangeSite}></lightning-input-field>

                <lightning-input-field field-name ="Unique_Identifier_Type__c" onchange={handleChangeUniqueIdentifierType}></lightning-input-field>

                <template if:false={receitaData}>

                    <lightning-input-field field-name="Name" onchange={handleChangeName}></lightning-input-field>

                    <lightning-input-field field-name="Unique_Identifier__c" onchange={handleChangeUniqueIdentifier}></lightning-input-field>

                </template>

                <template if:true={receitaData}>

                    <lightning-input-field field-name="Name" value={receitaData.nome}></lightning-input-field>

                    <lightning-input-field field-name="Unique_Identifier__c" value={receitaData.cnpj}></lightning-input-field>

                </template>

            </lightning-record-edit-form>   

            <lightning-button label="Consult CNPJ" variant="brand-outline" onclick={consultCNPJ} ></lightning-button>
            
            <lightning-button label="Get Account Request" variant="brand-outline" onclick={getAccounts} ></lightning-button>
            
            
        </template>

        <template if:true={accounts}>

            <lightning-datatable key-field="Id" data={accounts} onrowselection={handleRowSelection} columns={columns}></lightning-datatable>
    
        </template>

    </lightning-card>
</template>