<template>

    <c-generic-modal show-modal={showModal} show-spinner={isLoading} onclose={handleClose} z-index="9999">
        <span slot="header">{title}</span>
        <slot slot="body" class="slds-align_absolute-center">
            {message}
        </slot>
        <span slot="footer" >
            <button class="slds-button slds-button_neutral" aria-label="Cancel" onclick={handleClose}>Cancel</button>
            <button class="slds-button slds-button_brand" onclick={handleDelete}>Remove</button>
        </span>
    </c-generic-modal>
    
</template>