<!--
  @description       : 
  @author            : ext.gft.pedro.oliveira@gympass.com
  @group             : 
  @last modified on  : 03-29-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->

<template>
  <template if:true={showModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal}>
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Cancel and close</span>
        </button>
        <div class="slds-modal__header">
          <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Photos upload</h1>
        </div>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <p>Upload <b>1 photo of partner’s storefront</b> and <b>3 photos of the activities</b> they offer</p>
          <br><br>
          <p>• Format: PNG or JPEG </p>
          <p>• Resolution: 720px square, at least 72dpi </p>
          <p>• File size: 10KB - 5MB </p>
          <br><br>

          <div class="slds-box slds-theme_shade"><span><b>Photos</b></span></div>
          <div class="c-div-upload">
            <lightning-file-upload label="Attach receipt" name="fileUploader" accept={acceptedFormats}
              record-id={myRecordId} onuploadfinished={handleUploadFinished} multiple>
            </lightning-file-upload>
            <table style="width:100%">
              <tr class="slds-box slds-theme_shade">
                <td><b>Title</b></td>
                <td><b>Size</b></td>
              </tr>
              <tr>
                <td>coluna a - foreach</td>
                <td>coluna b - foreach</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="slds-modal__footer">
          <button class="slds-button slds-button_neutral slds-float_left" onclick={closeModal}
            aria-label="Cancel and close">Go back</button>
          <button class="slds-button slds-button_brand">Save</button>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
  </template>
</template>