.THIS .section-margin{
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
}

.THIS .needs-approval-color{
    background-color: #ff3838;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .no-need-approval-color{
    background-color:#4eb556;
    color: white;
    border-radius: 5px;
    padding: 1px;
}