<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 03-18-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <c-spinner if:true={isLoading} variant="brand" message={loadMessage}></c-spinner>
    <lightning-card title="Custom Datatable">
        <div if:true={error} class="slds-var-p-around_small slds-text-color_error">{error}</div>
        Custom Table
        <c-custom-table if:true={showTable}
            columns={columns} 
            records={opps}
            show-row-number
            show-checkbox
            show-pagination
            place-holder="Search..." 
            page-size-options={pageSizeOptions} 
            onrowselection={handleRowSelection} 
            onsave={saveRecords}>
        </c-custom-table>
    </lightning-card>
</template>