<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 07-01-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <footer class="footer">
        <lightning-layout>
            <lightning-layout-item>
                <a onclick={handleReplyLater}>{replyLaterLabel}</a>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col_bump-left">
                <lightning-button variant="brand" label={nextButtonLabel} title={nextButtonLabel} onclick={handleNext} ></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </footer>
</template>