.THIS .payment-div:hover {
    background-color: #F0F0F0;
}

.THIS .needs-approval-color{
    background-color: #ff3838;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .no-need-approval-color{
    background-color:#4eb556;
    color: white;
    border-radius: 5px;
    padding: 1px;
}

.THIS .section-margin{
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
}

.THIS .padding-bottom-40 {
    padding-bottom:40px;
}

.THIS .padding-top-45{
    padding-top:45px;

}

.THIS .padding-left-5{
    padding-left:5px;
    padding-top:5px;

}

.THIS .custonFieldName{
    font-size: small;
    color: #514F4D;
}