<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 01-31-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
  <li role="presentation" class="slds-listbox__item slds-p-top_small c-background" onclick={handleSelect}>
    <span id="listbox-option-unique-id-01"
      class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
      <span class="slds-media__figure">
        <span class="slds-icon_container" title="Icon">
          <lightning-icon icon-name={iconname} size="small"></lightning-icon>
          <span class="slds-assistive-text">Icon</span>
        </span>
      </span>
      <span class="slds-media__body">
        <span class="slds-listbox__option-text slds-listbox__option-text_entity">{rec.Name}</span>
      </span>
    </span>
  </li>
</template>