<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 03-23-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <section aria-label="Dialog title" aria-describedby="popover-body-id" class="slds-popover" role="dialog">      
        <div id="popover-body-id" class="slds-popover__body">
            <div class="slds-m-left_large">
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-12">
                        <lightning-input data-my-id="in1" type="checkbox" onchange={handleCheck}> </lightning-input>
                    </div>
                    <div class="slds-col slds-size_11-of-12">
                        <h1 style="font-size: 12px;">Update {rowsSelectedLength} selected items</h1>
                    </div>
                </div>
            </div>
        </div>
        <footer class="slds-popover__footer">
            <div class="slds-grid slds-grid_vertical-align-center">            
                <button class="slds-button slds-button_neutral picklist-button slds-col_bump-left" onclick={handleCancel}>Cancel</button>            
                <button class="slds-button slds-button_brand slds-col_bump-left">Save</button>            
            </div>
        </footer>
    </section>
</template>