.c-title-item{
    margin: 0px;
    padding-top: 2%; 
    padding-left: 2%;    
}

.c-gym-title {
    font-weight: bolder;
    margin: 1%;
    padding: 0;
    width: 100%;  
    font-size: 17px;
}

.c-no-space {
    padding: 0px; 
    margin:0px
}

.c-input-form {
    position: relative;
    top: -19px;
    left: 22%;
    width: 80%;
}

.right-align {
    position: relative;
    right: 3.5%;
    text-align: right;
}
.c-right-align {
    position: relative;
    right: 3.7%;
    text-align: right;
}

.c-tree-grid {
    height:15rem;
    width:100%;
}

.c-full-width {
    width: 100%;
}

.c-background {
        background: #FAFAF9;
        background-color: #FAFAF9;
}

.c-container {
    display: flex;
}

.c-fixed {
    width: 35%;
}

.c-flex-item {
    flex-grow: 1;
}

.slds-modal__content{
    overflow: initial;
}

.slds-combobox__input-entity-icon {
    z-index: 1 !important;
}