<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 07-07-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->



<template>
    <div>
        <p><b>Pro-tips:</b></p>
        <p>• Select a level within the hierarchy to add or create a new account</p>
        <p>• To create multiple new accounts, use this template </p>
        <p>• Use “Edit all” button to edit multiple accounts at the same time</p>
        <br>
    </div>
    <div class="slds-box c-no-space">
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
        </template>
        <div>
            <lightning-layout multiple-rows="true" class="slds-page-header c-no-space">
                <lightning-layout-item padding="around-small" size="12" class="c-no-space">
                    <div class="c-container">
                        <div class="c-fixed slds-m-around_medium">
                            <lightning-icon icon-name="standard:hierarchy" size="medium"></lightning-icon>
                            <span class="c-gym-title ">{networkTitle}</span>
                        </div>
                        <div class="right-align c-flex-item slds-m-top_medium slds-m-bottom_medium">
                            <lightning-button label="+ Add Existing Account" title="+ Add Existing Account"
                                class="slds-m-around_xxx-small" onclick={handleAddExistingAccount}></lightning-button>
                            <lightning-button label="Create New Account" title="Create New Account"
                                class="slds-m-around_xxx-small" onclick={handleCreateNewAccount}></lightning-button>
                            <lightning-button label="Edit All" title="Edit All" class="slds-m-around_xxx-small"
                                onclick={handleEditAll}></lightning-button>
                            <template if:true={hasExclusivityAccounts}>
                                <lightning-button label="Request Exclusivity" title="Request Exclusivity" class="slds-m-around_xxx-small"
                                                  onclick={handleApproval}></lightning-button>
                            </template>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small" size="12" class="c-no-space">
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="7" class="c-no-space">
                            <div class="slds-m-left_large slds-m-top_medium slds-text-title">
                                {accountsSelectNumber} account(s) selected
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="4" class="c-no-space">
                            <div onchange={handleSearchAction}>
                                <lightning-input name="enter-search" placeholder="Quick Find" type="search"
                                    class="c-input-form"></lightning-input>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="1"
                            class="slds-m-left_medium c-right-align c-no-space">
                            <div>
                                <lightning-button-group>
                                    <lightning-button-icon icon-name="utility:refresh" onclick={refreshTree}>
                                    </lightning-button-icon>
                                </lightning-button-group>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </lightning-layout>
        </div>

        <!-- Tree Grid -->
        <div class="slds-scrollable c-tree-grid c-background" style="overflow-y: scroll">
            <div class="slds-text-longform c-full-width c-background ">
                <div class="slds-p-around_medium lgc-bg c-no-space c-background">
                    <lightning-tree-grid id="c-treeGrid" class="lgc-example-treegrid slds-is-hovered c-background"
                        columns={gridColumns} data={gridData} expanded-rows={gridExpandedRows}
                        onrowaction={handleRowAction} selected-rows={selectedRows} onrowselection={setSelectedRows}
                        ontoggle={onRowToggle} key-field="id">
                    </lightning-tree-grid>
                </div>
            </div>
        </div>



    </div>

    <template if:true={showRemoveModal}>
        <c-network-Builder-Remover get-id-from-parent={selectedAccountAction} onclose={closeRemoveModal}>
        </c-network-Builder-Remover>
    </template>

    <template if:true={showEditSingleAccountModal}>
        <c-network-Builder-Edit-Single-Account selected-account={selectedAccountAction}
            onclose={closeEditSingleAccountModal}>
        </c-network-Builder-Edit-Single-Account>
    </template>

    <div if:true={showEditAccModal}>
        <c-edit-accounts-network-builder selected-accounts-id={selectedRowIdLst} onclose={closeEditAccModal}>
        </c-edit-accounts-network-builder>
    </div>

    <div if:true={showCreateNewAccountModal}>
        <c-network-builder-create-new-account selected-parent-acccount={selectedRowIdLst}
            onclose={closeCreateNewAccountModal}>
        </c-network-builder-create-new-account>
    </div>

    <div if:true={showAddExistingAccModal}>
        <c-new-add-existing-account get-new-parent={selectedRowIdLst} onclose={closeAddExistingAccModal}>
        </c-new-add-existing-account>
    </div>

    <div if:true={showEditAllModal}>
        <c-network-builder-edit-all selected-accounts-id={selectedRowIdLst} has-exclusivity-accounts={hasExclusivityAccounts} onclose={closeEditAllModal}>
        </c-network-builder-edit-all>
    </div>

    <div if:true={showSendForApprovalModal}>
        <c-network-builder-approval selected-account-ids={selectedRowIdLst} onclose={closeSendForApprovalModal}>
        </c-network-builder-approval>
    </div>
</template>