<template>

	<div class="slds-p-top_xx-small slds-p-bottom_xx-small">
		<template if:true={isRequired}>
			<!-- <c-lookup 
                scroll-after-n-items=7 
                onselectionchange={handleSelectedRecords}
                onsearch={handleContactSearch}
                label={lookupLabel}
                placeholder={lookupPlaceholder} 
                min-search-term-length=2 
                selection={listOfDefaultResults}
                required
            ></c-lookup> -->
			<lightning-combobox name="status" label="Finance contact" placeholder="-- None --"
				value={value} onchange={handleChange} options={items} required>
			</lightning-combobox>
		</template>

		<template if:false={isRequired}>
			<!-- <c-lookup 
                scroll-after-n-items=7 
                onselectionchange={handleSelectedRecords}
                onsearch={handleContactSearch}
                label={lookupLabel}
                placeholder={lookupPlaceholder} 
                min-search-term-length=2 
                selection={listOfDefaultResults}
            ></c-lookup> -->
			<lightning-combobox name="status" label="Finance contact" placeholder="-- None --"
				value={value} onchange={handleChange} options={items}>
			</lightning-combobox>
		</template>
	</div>

</template>