<template>
    
    <lightning-record-view-form
        record-id={currentRecordId}
        object-api-name={objectApiName}
    >
        <div class="slds-theme_default">
            <div class="help-tooltip slds-var-p-bottom_x-small">
                <div class="slds-m-right_xx-small font_style slds-show_inline-block">
                    {fieldLabel}
                </div> 
                <lightning-helptext if:true={hasHelpText}  content={helpTextDetail} class="slds-m-left_x-small help-tooltip slds-show_inline-block"></lightning-helptext>    
            

                <lightning-output-field field-name={fieldApiName} variant="label-hidden"></lightning-output-field>
            </div>

        </div>
    </lightning-record-view-form>
   

</template>