<template>

    <div class="slds-modal__header">
        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Products</h1>
        <div if:false={noProducts} class="slds-var-p-top_small" style="font-size: 0.83rem;">
            Select the products you want to add to this offer</div>
    </div>

    <div class="slds-modal__content" id="modal-content-id-1">

        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_resizable-cols"
            aria-label="Add Products">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-text-align_right slds-cell_action-mode" scope="col" style="width:3.25rem">
                        <div if:false={noProducts} class="slds-th__action slds-th__action_form">
                            <lightning-input type="checkbox" onchange={handleSelectAll}></lightning-input>
                        </div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Product">Product</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Quantity">Quantity</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="List Price">List Price</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Total List Price">Total List Price
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody if:false={noProducts}>
                <template for:each={products} for:item="product">
                    <tr key={product.Product2Id} data-id={product.Product2Id} class="slds-hint-parent">

                        <td class="slds-text-align_right slds-cell_action-mode" role="gridcell">
                            <lightning-input data-id={product.Product2Id} type="checkbox"
                                onchange={handleRecordSelection}></lightning-input>
                        </td>

                        <td data-label="Product">
                            <div class="slds-truncate" title={product.Plan_Name__c}>
                                {product.Plan_Name__c}
                            </div>
                        </td>

                        <td data-label="Quantity">
                            <div class="slds-truncate" title={product.Quantity}>{product.Quantity}</div>
                        </td>

                        <td data-label="List Price">
                            <div class="slds-truncate" title={product.List_Price__c}>
                                <lightning-formatted-number value={product.List_Price__c} format-style="currency"
                                    currency-code={currencyIsoCode} currency-display-as="code">
                                </lightning-formatted-number>
                            </div>
                        </td>

                        <td data-label="Total List Price">
                            <div class="slds-truncate" title={product.Total_Price__c}>
                                <lightning-formatted-number value={product.Total_Price__c} format-style="currency"
                                    currency-code={currencyIsoCode} currency-display-as="code">
                                </lightning-formatted-number>
                            </div>
                        </td>

                    </tr>
                </template>
            </tbody>
        </table>

        <lightning-layout if:true={noProducts} vertical-align="center" style="height: 100%" multiple-rows>
            <lightning-layout-item size="12">
                <div style="font-weight: bold; text-align:center;">{noProductsMessage1}</div>
            </lightning-layout-item>
            <lightning-layout-item size="12">
                <div style="text-align:center;">{noProductsMessage2}</div>
            </lightning-layout-item>
        </lightning-layout>

    </div>

    <div class="slds-modal__footer">
        <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
            onclick={handleCancel}>Cancel</button>
        <button class="slds-button slds-button_brand" onclick={handleContinue} disabled={disableNextBtn}>Continue</button>
    </div>

</template>