table {
    /* border: 3px solid #020000; */
    font-size: 0.60rem;
}

table thead th{
    background-color: #f3f3f38c;
    color: #000000;
    border-right: 1px solid #e4e9f2;
    padding: .75rem .3rem;
    text-align: center;
}

table tbody td{
    border-bottom: 1px solid #dddbda;
    padding: .2rem .3rem;   
}


table tbody tr:hover>td:not(.slds-has-focus){
    box-shadow: #dddbda 0 -1px 0 inset, #dddbda 0 1px 0 inset;
}
table tbody tr:hover>td{
    background-color: #f3f2f2;
}
table tbody tr.vk-is-selected>td{
    background-color: #dff0fe;
}
table thead th.vk-is-sortable:hover, table thead th.vk-is-sortable:focus{
    background-color: #f3f2f2;
    color: #000000;
}
table thead th.vk-is-sortable:hover .vk-sort-icon-div, table thead th.vk-is-sortable:focus .vk-sort-icon-div {
    visibility:visible !important;
    color: #000000;
}
.vk-resizable__handle {
    width: .25rem;
    height: 27px;
    position: absolute;
    margin-top: -.25rem;
    margin-left: .1rem;
    cursor: col-resize;
}
.vk-resizable__divider {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100vh;
    display: block;
    cursor: col-resize;
    opacity: 0;
}
.vk-is-resizable:hover .vk-resizable__handle, .vk-is-resizable:focus .vk-resizable__handle {
    background: #c9c7c5;
}
table th .vk-resizable__handle:hover, table th .vk-resizable__handle:focus{
    background: #0070d2;
    cursor: col-resize;
}
.vk-resizable__handle:hover .vk-resizable__divider, .vk-resizable__handle:focus .vk-resizable__divider{
    opacity: 1;
    z-index: 100;
    background: #0070d2;
    cursor: col-resize;
}
table .vk-cell-edit:hover {
    background-color: #ffff !important;
    cursor: text;
}
table .vk-cell-edited, table .vk-cell-edited:hover {
    background-color: #faffbd !important;
}
.customSelect select{
    padding-right: 1.25rem;
    min-height: inherit;
    line-height: normal;
    height: 1.5rem;
}
.customSelect label{
    margin-top: .1rem;
}
.customSelect .slds-select_container::before{
    border-bottom: 0;
}
.vk-sort_asc{
    line-height: 1;
}
.vk-sort_desc{
    transform: rotate(180deg);
    line-height: .5;
}
.vk-dt-required{    
    vertical-align: top;
    margin-right:.125rem;
}
.slds-checkbox_faux{
    bottom: .1rem;
}