<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid slds-box slds-theme_shade">
            <header class="slds-media slds-media_center slds-has-flexi-truncate slds-m-top_medium slds-m-left_medium">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-case">
                        <lightning-icon icon-name="standard:case" alternative-text="Case"></lightning-icon>
                    </span>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title slds-text-heading_medium">
                        <span>New cases of my region</span>
                    </h2>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-m-left_medium">
            <lightning-datatable key-field="Id" data={cases} columns={columns} hide-checkbox-column
                show-row-number-column>
            </lightning-datatable>
        </div>
    </article>


</template>