<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-13-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>

    <div class="slds-grid slds-wrap slds-m-bottom_large">     
        <c-spinner if:true={showSpinner} variant="brand" message='Loading...'></c-spinner>  
        <div class="slds-col slds-size_1-of-2">
            <lightning-input type="text" data-id="oppName" label="Name" placeholder="Opportunity Name" required> </lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2 slds-p-left_large">
            <!-- <lightning-input type="text" label="Legal Representative" disabled></lightning-input> -->
            <c-simple-custom-lookup field-label="Legal Representative" child-object-api-name='Account' target-field-api-name='Legal_Representative__c' value={legalRepresentativeId} disabled="true"></c-simple-custom-lookup>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <!-- <lightning-input type="text" label="Parent Account" value={parentAccountName} disabled></lightning-input> -->
            <c-simple-custom-lookup field-label="Parent Account" child-object-api-name='Opportunity' target-field-api-name='AccountId' value={parentAccountId} disabled="true"></c-simple-custom-lookup>
        </div>
        <div class="slds-col slds-size_1-of-2 slds-p-left_large">
            <lightning-input type="date" data-id="oppCloseDate" label="Close Date" required></lightning-input>
        </div>                     
        <div class="slds-col slds-size_1-of-2">                           
            <c-lookup scroll-after-n-items=7 onselectionchange={setOwnerId} onsearch={handleSearch} required=true label="Owner" placeholder="Please start typing..." min-search-term-length=2></c-lookup>
            <span style="color: red;">{noOwnerMessage}</span>
        </div>
    </div>
    <div>
        <c-partner-child-opportunity-account-table account-lst={accountLst}> </c-partner-child-opportunity-account-table>
    </div>    

    <div class="slds-m-vertical_medium slds-clearfix ">
        <lightning-button variant="brand" label="Create Opportunity" title="Create Opportunity" class="slds-float_right" onclick={handleOpportunityCreation}></lightning-button>
    </div>

</template>