<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-12-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <div class="slds-m-vertical_medium slds-clearfix ">
      <template if:true={showButton}>
        <lightning-button variant="brand" label="Create Opportunities" title="Create Opportunities" class="slds-float_left" onclick={handleRedirectToMainOppMember}></lightning-button>
      </template>
   
      </div>
</template>