<template>
    <template if:true={typeAttributes.contacts}>
        <template for:each={typeAttributes.contacts} for:item="contact">
            <div class="slds-m-left_x-small slds-m-vertical_xxx-small" key={contact.Id}>
                <div class="slds-text-title"><b>{contact.Contact.Name}</b></div>
            </div>
        </template>
    </template>
</template>