.THIS {
}

.THIS.center { 
    position: relative;

}
  

.THIS.center p {
    color: red;
    margin: 0;
    position: absolute;  
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}