<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 06-06-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open ">
        <div class={containerClass}>
            <div if:true={spinner}>
                <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
            </div>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeAction}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                 
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate"> New product item: gyms - product item partner </h2>

                <lightning-progress-indicator current-step={currentStep} type="base" variant="base">

                    <lightning-progress-step label="Step 1" value="s1"></lightning-progress-step>
                    <lightning-progress-step label="Step 2" value="s2"></lightning-progress-step>                  
                    <lightning-progress-step label="Step 3" value="s3"></lightning-progress-step>
                              

                    <!--<template if:true={isWishlistAccount}>
                        <lightning-progress-step label="Step 4" value="s4"></lightning-progress-step>
                    </template>-->

                </lightning-progress-indicator>

              
            </header>
            <div class={isOverflow} id="modal-content-id-1">
                <template if:false={isLoad}>
                    <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
                </template>
                <template if:true={isLoad}>
                    <template if:true={isProductDetails}>
                        <c-new-Product-Creation-Product-Details regex-configs={regexConfigs} partner-product-record-types={partnerProductRecordTypes} partner-product-to={partnerProductTo} product-id={recordId} object-api-name={objectApiName} requires-prod-validation={requiresValidation} is-clone={clone} new-prod-name={newProdName}>
                        </c-new-Product-Creation-Product-Details>
                    </template>
                    <template if:true={isGymActivities}>
                        <c-new-Product-Creation-Gym-Activities partner-product-to={partnerProductTo} ></c-new-Product-Creation-Gym-Activities>
                    </template>
                    <template if:true={isExclusivity}>
                        <c-new-Product-Creation-Exclusivity is-wishlist-account={isWishlistAccount} object-api-name={objectApiName} record-id={recordId} partner-product-to={partnerProductTo} requires-radion-button={requiresRadionButtonsForExclusivityPage} partner-product-record-types={partnerProductRecordTypes} onselectedradio={saveRadioOptions} radio-exclusivity-group-options={radioExclusivityGroupOptions} is-clone={isClone} is-edit={isEdit}></c-new-Product-Creation-Exclusivity >
                    </template>
                    <!-- <template if:true={isPayment}>
                        <c-new-Product-Creation-Payment partner-product-record-types={partnerProductRecordTypes} partner-product-to={partnerProductTo} requires-radion-button={requiresRadioButtonsForPaymentPage} onselectedradio={saveRadioOptions} radio-payment-group-options={radioPaymentGroupOptions} is-clone={isClone} is-edit={isEdit} ></c-new-Product-Creation-Payment>
                    </template> -->
                </template> 
            </div>
            <footer class="slds-modal__footer">
                <!--<button class="slds-button slds-button_neutral" onclick={handleCancel}> Cancel </button>-->
                <template if:true={showBackButton}>
                    <button class="slds-button slds-button_neutral" onclick={handleBackPage}> Back </button>
                </template>              
                <button class="slds-button slds-button_brand" name={progressButtonLable} onclick={handleProgressPage}> {progressButtonLable} </button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>