<!--
  @description       : 
  @author            : roei@gft.com
  @group             : 
  @last modified on  : 07-18-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>

    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class={modalClass}
        style="z-index: 9999;">

        <div if:true={isLoading} class="slds-is-relative">
            <div class="slds-spinner_container" style="min-height:100vh;">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>

        <div class="slds-modal__container">

            <lightning-button-icon class="slds-modal__close" size="large" variant="bare-inverse"
                icon-name="utility:close" label="Close this window" title="Close this window" onclick={handleClose}>
            </lightning-button-icon>

            <div class="slds-modal__header">
                <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Products</h1>
                <div if:true={newProductsScreen} class="slds-var-p-top_small" style="font-size: 0.83rem;">Select the
                    products you want to add to this offer</div>
                <div if:true={selectedProductsScreen} class="slds-var-p-top_small" style="font-size: 0.83rem;">Set sales
                    price if applicable</div>
            </div>

            <div class="slds-modal__content" id="modal-content-id-1" style="height: 40%">

                <template if:true={newProductsScreen}>

                    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_resizable-cols"
                        aria-label="Add Products">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="slds-text-align_right slds-cell_action-mode" scope="col"
                                    style="width:3.25rem">
                                    <div if:false={noProducts} class="slds-th__action slds-th__action_form">
                                        <lightning-input type="checkbox" onchange={handleSelectAll}></lightning-input>
                                    </div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate header-cell" title="Product">Product</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate header-cell" title="Quantity">Quantity</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate header-cell" title="List Price">List Price</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate header-cell" title="Total List Price">Total List Price
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody if:false={noProducts}>
                            <template for:each={lstSkuPriceData} for:item="product">
                                <tr key={product.Product2Id} data-id={product.Product2Id} class="slds-hint-parent">

                                    <td class="slds-text-align_right slds-cell_action-mode" role="gridcell">
                                        <lightning-input data-id={product.Product2Id} type="checkbox"
                                            onchange={handleRecordSelection}></lightning-input>
                                    </td>

                                    <td data-label="Product">
                                        <div class="slds-truncate" title={product.Plan_Name__c}>
                                            {product.Plan_Name__c}
                                        </div>
                                    </td>

                                    <td data-label="Quantity">
                                        <div class="slds-truncate" title={product.Quantity}>{product.Quantity}</div>
                                    </td>

                                    <td data-label="List Price">
                                        <div class="slds-truncate" title={product.List_Price__c}>
                                            <lightning-formatted-number value={product.List_Price__c}
                                                format-style="currency" currency-code={oppCurrencyCode}
                                                currency-display-as="code"></lightning-formatted-number>
                                        </div>
                                    </td>

                                    <td data-label="Total List Price">
                                        <div class="slds-truncate" title={product.Total_Price__c}>
                                            <lightning-formatted-number value={product.Total_Price__c}
                                                format-style="currency" currency-code={oppCurrencyCode}
                                                currency-display-as="code"></lightning-formatted-number>
                                        </div>
                                    </td>

                                </tr>
                            </template>
                        </tbody>
                    </table>

                    <lightning-layout if:true={noProducts} vertical-align="center" style="height: 100%" multiple-rows>
                        <lightning-layout-item size="12">
                            <div style="font-weight: bold; text-align:center;">{noProductsMessage1}</div>
                        </lightning-layout-item>
                        <lightning-layout-item size="12">
                            <div style="text-align:center;">{noProductsMessage2}</div>
                        </lightning-layout-item>
                    </lightning-layout>

                </template>

                <table if:true={selectedProductsScreen}
                    class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_resizable-cols"
                    aria-label="Add Products">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title=""></div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title="Product">Product</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title="Quantity">Quantity</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title="Sales Price">Sales Price</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title="Total Sales Price">Total Sales Price</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate header-cell" title=""></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={lstSkuPriceData} for:item="product">
                            <tr key={product.Product2Id} class="slds-hint-parent">

                                <td>
                                    <div class="slds-truncate" title={product.rowIndex}>{product.rowIndex}</div>
                                </td>

                                <td data-label="Product">
                                    <div class="slds-truncate" title={product.Plan_Name__c}>
                                        {product.Plan_Name__c}
                                    </div>
                                </td>

                                <td data-label="Quantity">
                                    <div class="slds-truncate" title={product.Quantity}>{product.Quantity}</div>
                                </td>

                                <td class="slds-cell-edit" role="gridcell">
                                    <span class="slds-grid slds-grid_align-spread">

                                        <c-generic-currency-input data-label="Sales Price" data-id={product.Product2Id} variant="label-hidden"
                                            value={product.UnitPrice} required currency-code={oppCurrencyCode}
                                            currency-display-as="code" hide-error-message min="0"
                                            onchange={handleUnitPriceChange}></c-generic-currency-input>

                                    </span>
                                </td>

                                <td data-label="Total Sales Price">
                                    <div class="slds-truncate" title={product.Quantity}>
                                        <lightning-formatted-number value={product.Total_Price__c}
                                            format-style="currency" currency-code={oppCurrencyCode}
                                            currency-display-as="code"></lightning-formatted-number>
                                    </div>
                                </td>

                                <td class="slds-cell_action-mode" role="gridcell"
                                    style="padding: 0; text-align: center;">
                                    <lightning-button-icon icon-name="utility:delete" alternative-text="Delete"
                                        class="slds-m-left_xx-small" title="Delete" data-id={product.Product2Id}
                                        onclick={handleDeleteProduct}></lightning-button-icon>
                                </td>
                            </tr>
                            <template if:true={product.Product2}>
                                <tr class="profServiceRow" key={product.Product2Id} if:false={product.Product2.NoDisplay}>
                                    <td colspan="2"></td>
                                    <td colspan="4">
                                        <abbr class="slds-required">*</abbr> <b>{profServicesTypeLabel}</b><br/>
                                        <div class="typesSelection">
                                            <template for:each={product.Product2.ListTypes} for:item="type">
                                                <template if:true={product.Product2.DisplayCheckbox}>
                                                    <lightning-input key={type} type="checkbox" label={type} value={type} data-id={product.Product2Id} onchange={onCheckboxChangeTypeValue}></lightning-input>
                                                </template>
                                                <template if:true={product.Product2.DisplayRadio}>
                                                    <div key={type} class="slds-radio">
                                                        <input type="radio" id={type} name={product.rowIndex} value={type} data-id={product.Product2Id} onchange={onRadioChangeTypeValue}/>
                                                        <label class="slds-radio__label" for={type}>
                                                            <span class="slds-radio_faux"></span>
                                                            <span class="slds-form-element__label radioLabel">{type}</span>
                                                        </label>
                                                    </div>
                                                </template>
                                            </template>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>

            </div>

            <div if:true={newProductsScreen} class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
                    onclick={handleCancel}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleNext}
                    disabled={disableNextBtn}>Continue</button>
            </div>

            <div if:true={selectedProductsScreen} class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" aria-label="Back" onclick={handleBack}>Back</button>
                <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
                    onclick={handleCancel}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
            </div>

        </div>
    </section>
    <div class={modalBackdropClass} role="presentation"></div>

</template>