.main{
    background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
    ),url('/resource/ResellerCommunityBackground');

    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 35%; 
    padding-right: 35%; 
    padding-top: 30vh;
  }
  
  .conteiner{
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;  
  
    display: grid;
    grid-template-areas: 
    'massiveInfo'
    'massiveActions';
  }
  
  .massiveInfo{
    grid-area: massiveInfo;
  }
  
  .massiveActions{
    grid-area: massiveActions;
  }
    
  h1{
    font-weight: bold; 
    text-shadow: 0px 8px 20px rgba(152, 152, 166, 0.25);
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  p{ 
    text-shadow: 0px 8px 20px rgba(152, 152, 166, 0.25);
    font-size: medium;  
  }
  
  .button{
    --sds-c-button-brand-color-background: #FF874C;
    --sds-c-button-brand-color-background-hover: #dc7d4f;
    --sds-c-button-brand-color-background-active: #FF874C;
  
    --sds-c-button-brand-color-border:#FF874C;
    --sds-c-button-brand-color-border-hover:#dc7d4f;
    --sds-c-button-brand-color-border-active:#FF874C;
    --sds-c-button-text-color: hsl(0, 0%, 100%);
  
    box-shadow: 0 8px 6px -6px grey;
  }
  
  .titleQuery{
    font-weight: 500;
    font-size: 16px;
  
  }
  
  .buttonGet{
    width: 83%;
    height: 32px;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #FF874C;
    box-shadow: 0px 4px 8px rgba(152, 152, 166, 0.45);
    border-radius: 4px;
  }
  
  .massiveMenu{
    font-size: 13px;
  }
  
  .buttonTypeConsult{
    width: 83%;
    height: 84px;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    text-align: left;
    padding-left: 32px;
  }
  
  .buttonTypeConsult:hover{
    box-shadow: 0px 4px 12px rgba(152, 152, 166, 0.25);
  }
  
  .buttonTypeConsult:active {
    border: 2px solid #FF874C;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(20, 20, 20, 0.12);
  }
  
  .buttonTypeConsult:focus{
    border: 2px solid #FF874C;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(20, 20, 20, 0.12);
  }
  
  @media screen and (min-width:1200px){ 

    .conteiner{
      max-width: 1000px;
      margin:auto;
      display: grid;
      grid-template-areas: 
      'massiveInfo massiveActions ';
    }

    .massiveInfo{
      margin:auto;
      width: 400px;
    }
    
    .massiveActions{
      margin:auto;
      width: 400px;
    }
  }