<template>
    <div class="main">
        <h1 class="slds-color__text_gray-1 slds-align_absolute-center slds-p-bottom_none slds-m-bottom_none"> {label.LABEL_COMMUNITY_WELCOME}</h1>
        <h1 class="slds-color__text_gray-1 slds-align_absolute-center slds-p-top_none slds-m-top_none"> {label.LABEL_COMMUNITY_WELCOME_PARTNERS}</h1>
        <lightning-formatted-rich-text class="slds-color__text_gray-1" value={label.LABEL_COMMUNITY_WELCOME_SUBTITLE}></lightning-formatted-rich-text>
        
        <div class="slds-m-around_x-large" style="text-align: center;">
            <lightning-flow flow-api-name='flowResellerHubLight'></lightning-flow>
        </div>
        <c-reseller-flow></c-reseller-flow>
    </div>

    <template if:true={isMassivePermission}>
        <div class="mainMultiple">
            <div class="conteiner"></div>
        </div>
    </template>
</template>