<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 11-19-2021
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
  <lightning-input type="search" value={searckKeyword} onchange={handleChange} label={searchLabel}>
  </lightning-input>
</template>