<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 04-04-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <lightning-accordion allow-multiple-sections-open
                         onsectiontoggle={handleSectionToggle}
                         active-section-name={activeSection}>
        <lightning-accordion-section name="myAccordion" label={label}>
            <div class = "elementHoldingHTMLContent" lwc:dom="manual"></div>
        </lightning-accordion-section>
    </lightning-accordion>
</template>