.THIS.container{
    padding: 15em;
    display: flex;
    flex-direction: row;
}

.THIS {
    font-family: Montserrat;
}

.THIS .main-title {
    font-weight: bold;
    color: black;
    font-size: 3em;
    border-left: 4px solid #f46152;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.THIS .body-download-kit {
    color: black;
    font-size: 1.4em;
    line-height: 1.7em;
}

.THIS .box-download {
    background-color: #f46152;
    text-align: center;
    width: 100%;
}

.THIS .download-title {
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    line-height: 1.7em;
    padding: 20px 4px;
}

.THIS .box-container {
    height: 100%;
    background-color: #EEEFF1;
}

.THIS .download-kit-desc {
    padding: 2em 1.2em;
    font-weight: bold;

}

.THIS .download-kit-desc p {
    font-size: 1.4em;
}
.THIS .box-download-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
}
.THIS .download-button-container{
    display: flex;
    justify-content: center;
}

.THIS .test-class {
    margin: 10em 14em;
}

/* @media (max-width: 600px) {
    .THIS .first-col {
        display: block;
    }

    .THIS .second-col {
        display: block;
    }
} */

.THIS .first-col {
    order: 1;
}

.THIS .second-col {
    order: 2;
}