/* @author: Venky Kambham */
.vk-edit-icon{
    fill: #dddbda;
}
.vk-form-font{
    font-size: 0.875rem;
    font-weight: 400;
}
.table-edit-icon{
    visibility: hidden;
}
.vk-ip-required{
    vertical-align: top;
}
.vk-lookup-link {
    border-bottom: 1px dotted;
    display: inline;
}
.vk-lookup-link:hover {
    text-decoration: none;
}

.c-icon{
    --sds-c-icon-color-background: rgb(36, 194, 36);
    padding: 0.1rem;
    
}