<template>
    <section aria-modal="true" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container modal-container">
            <div if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
            <header class="slds-modal__header">
                <h2 class="slds-text-heading_small">Edit Accounts</h2>
                <lightning-icon class="slds-modal__close icon" icon-name="utility:close" size="small" onclick={closeModal}></lightning-icon>
            </header>
            <div class="slds-modal__content">
                <div class="slds-p-around_small datatable-container">
                    <div style="height: 300px;">
                        <c-custom-data-table
                            key-field="Id" 
                            data={data} 
                            columns={columns} 
                            onpicklistchanged={picklistChanged} 
                            onvalueselect={handleSelection}
                            draft-values={draftValues} 
                            oncellchange={handleCellChange}
                            onsave={handleSave}
                            oncancel={handleCancel}
                            onrowselection={handleRowSelection}
                            onmassupdate={handleMassUpdate}>
                        </c-custom-data-table>
                    </div>
                </div>
            </div>
            <!--<footer class="slds-modal__footer">
                <lightning-button variant="brand" label="Close" onclick={closeModal} class="slds-p-around_x-small"></lightning-button>
            </footer>-->
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>