<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 05-17-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
  <div class="slds-box slds-theme_default">
    <div class="slds-page-header">
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-opportunity">
                <lightning-icon icon-name="standard:product_item_transaction" size="medium">
                </lightning-icon>
              </span>
            </div>
            <div class="slds-media__body">
              <div class="slds-page-header__name">
                <div class="slds-page-header__name-title">
                  <h1>
                    <span class="slds-page-header__title slds-hyphenate" title="Product Assignment">Product
                      Assignment</span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-page-header__col-actions">
          <div class="slds-page-header__controls">
            <div class="slds-page-header__control">
              <div if:true={showAddAccountButton}>
                <lightning-button label="Add account" title="Add account" icon-name="utility:add"
                  class="slds-m-left_x-small" onclick={showAddAccountModal}></lightning-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="slds-page-header__row">
        <div class="slds-page-header__col-meta">

        </div>
        <div class="slds-page-header__col-controls">
          <div class="slds-page-header__controls">
            <div class="slds-page-header__control">
              <lightning-input name="enter-search" onchange={handleSearchAction} placeholder="Quick Find" type="search" variant="label-hidden">
              </lightning-input>
            </div>
            <div class="slds-page-header__control">
              <lightning-button-group>
                <lightning-button-icon icon-name="utility:refresh"></lightning-button-icon>
                <lightning-button-icon icon-name="utility:edit"></lightning-button-icon>
              </lightning-button-group>
            </div>
          </div>
        </div>
      </div> -->
    </div>
     
    <div class="slds-page-body">  
      <c-spinner if:true={spinner} variant="brand" message="Loading Product Assignments..."></c-spinner>   
      <div style="height: 300px;">      
        <lightning-datatable key-field="id" draft-values={draftValues} data={data} columns={columns} onrowaction={handleRowAction} onsave={handleSave}>
        </lightning-datatable>
      </div>
    </div>

    <div if:true={showProdAssigModal}>
      <c-prod-assignment-add-account onclose={closeAddAccountModal} oncreatedpas={handleCreatedPas} prod-record-id={recordId} account-data={prodAccountData} helper-data={helperData}></c-prod-assignment-add-account>
    </div>
  </div>
</template>