<!--
  @description       : https://gympass.atlassian.net/browse/IT-2402
  @author            : tiago.ribeiro@gympass.com
  @group             : Corporate
  @last modified on  : 04-07-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <c-lost-opp-popup></c-lost-opp-popup>

    <div class="slds-grid mainDiv">
        <div class="elementHTMLcontainer slds-grid slds-gutters" lwc:dom="manual"></div>
        <div if:true={displayButton} class="slds-col_bump-left">
            <lightning-button variant={variant} label={label} title={title} onclick={handleClick} class={cssClass}></lightning-button>
        </div>
    </div>
</template>