<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 03-18-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
   
    <div class="picklist-container">
        <div class="slds-form-element__control slds-m-vertical_x-small">
            <input id="input" name="input" list="valueList" placeholder={placeholder} value={value} class="slds-input" type="text" onchange={handleChange} onkeyup={handleKeyUp}/>
            <datalist id="valueList" class="">
                <template for:each={options} for:item='option'>
                    <option key={option.label} value={option.value}>{option.value}</option>
                </template>
            </datalist>
        </div>
    </div>
    <template if:true={hasRowsSelected}>
        <div class="slds-m-left_large">
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-12">
                    <lightning-input data-my-id="in1" type="checkbox" onchange={handleCheck}> </lightning-input>
                </div>
                <div class="slds-col slds-size_11-of-12">
                    Update {rowsSelectedLength} selected items
                </div>
            </div>
        </div>
        <div class="slds-float_right slds-m-right_large slds-m-bottom_small">
            <button class="slds-button slds-button_neutral picklist-button" onclick={handleCancel}>Cancel</button>
            <button class="slds-button slds-button_destructive picklist-button" onclick={handleApply}>Apply</button>
        </div>
    </template> 
</template>