.c-sizing-modal {    
    width: 30%;
    min-width: 20rem;
}

.c-align-center {
    text-align: center;
    padding: 0;
}

.c-padding {

    padding-left: 10px;
    padding-right: 10px;
}

.c-icon-color {
    --sds-c-icon-color-foreground-default: orange;
}

.c-heigth-modal {
        height: 250px;
}