<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 02-02-2022
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
-->
<template>
    <!-- lightning button for open modal window -->
    <!-- <lightning-button variant="brand" label="What is Modal/PopUp in LWC?" title="What is Modal/PopUp in LWC?"
        onclick={openModal} class="slds-m-left_x-small">
    </lightning-button> -->

    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container c-sizing-modal ">
                <div class="slds-modal__content slds-p-around_small c-align-center" id="modal-content-id-1">

                    <lightning-record-edit-form object-api-name="Account" record-id={getIdFromParent}
                        onsuccess={handleSuccess} onsubmit={handleRemove} onerror={handleError}>
                        <div class="slds-grid  slds-wrap">
                            <div class="slds-col slds-size_3-of-3 slds-m-bottom_large">
                                <lightning-icon class="slds-m-around_medium c-icon-color" size="large"
                                    icon-name="utility:warning" alternative-text="Warning!" title="Warning">
                                </lightning-icon>
                                <div class='slds-align_absolute-center'>
                                    <h3><b>Are you sure?</b></h3><br>
                                </div>
                                <template if:true={record}>
                                    <div>
                                        <h3>This will remove <b>{name}</b> from this network<br/> and it will no longer
                                            have a parent account.</h3><br>
                                    </div>
                                </template>

                                <div class='slds-hide'>
                                    <div class="slds-col slds-size_1-of-3">
                                        <lightning-input-field field-name="Name" disabled="true"> </lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-3">
                                        <lightning-input-field field-name="ParentId" name="ParentId" disabled="true">
                                        </lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-3">
                                        <lightning-input-field field-name="Network_ID__c" name="NetworkId" disabled="true">
                                        </lightning-input-field>
                                    </div>
                                </div>


                                <div class='slds-align_absolute-center'>
                                    <button class="slds-button slds-button_neutral" onclick={closeModal}>No, go
                                        back</button>
                                    <button class="slds-button slds-button_brand" type="submit">Yes, remove it</button>
                                </div>
                            </div>
                        </div>

                    </lightning-record-edit-form>
                </div>

            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>