.header-cell {
    height: 2rem; 
    padding: 0.5rem 0.5rem;
}

.required{
    color: red;
}

.typesSelection{
    display: inline-flex;
}

.radioLabel{
    margin-left: 0.35rem;
}

.slds-radio{
    --slds-c-radio-color-border-focus: var(--lwc-brandBackgroundPrimary);
}

.profServiceRow td{
    border-top: none;
}