<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 05-17-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <footer class="slds-card__footer">
        <lightning-layout>
            <lightning-layout-item>
                <lightning-button if:true={displayBackButton} variant={backButtonVariant} label={backButtonLabel} title={backButtonLabel} onclick={handleBack} ></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col_bump-left slds-p-right_small">
                <lightning-button if:true={displaySaveButton} variant={saveButtonVariant} label={saveButtonLabel} title={saveButtonLabel} onclick={handleSave} ></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item>
                <lightning-button if:true={displayContinueButton} variant={continueButtonVariant} label={continueButtonLabel} title={continueButtonLabel} onclick={handleContinue} ></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </footer>
    <template if:true={showSpinner}>
        <div>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>
    </template>
</template>