.THIS .padding {
    padding: 3%;
}

.THIS .margin {
    margin-left: 20px;
    margin-right: 20px;
}

.THIS .margin2 {
    margin-left: 20px;
    margin-right: 20px;
}

.THIS .marginInfo {
    margin-left: 30px;
    margin-right: 30px;
}

.THIS.exampleHolder{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
    background-color: transparent; 
    opacity: .20; 
}