<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 03-18-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <div if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
            <!-- Modal/Popup Box LWC header here -->
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_small slds-hyphenate">Add existing
                    account</h2>
            </header>

            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content" id="modal-content-id-1">
                <template if:true={addExistingAccountPage}>
                    <lightning-layout>
                        <lightning-layout-item flexibility="auto" padding="around-small" class="slds-m-around_large">
                            <!-- Record Edit Form -->
                            <div class="slds-float">
                                <div class="slds-grid slds-wrap">
                                    <div onmouseover={mouseOver} onmouseleave={mouseOut} data-id="displayMiniPage"
                                        class="slds-col slds-size_1-of-2" style="z-index:3, padding-right: 15px">
                                        <c-lookup scroll-after-n-items=7 onselectionchange={handleSearchAccountLookup}
                                            onsearch={handleSearch} required=true label="Account"
                                            placeholder="please start typing..." min-search-term-length=2></c-lookup>

                                        <template if:true={showMiniPage}>
                                            <div class="slds-is-fixed">
                                                <c-mini-page-lwc onminipageclosed={handleMiniPageClosure}
                                                    get-account-id={acctId}></c-mini-page-lwc>
                                            </div>
                                        </template>
                                    </div>

                                    <div class="slds-col slds-size_1-of-2 c-padding-top slds-form-element__label"
                                        style="z-index:2; padding-right: 0; padding-left: 20px">

                                        <lightning-record-edit-form record-id={acctId} object-api-name="Account"
                                            class="myform" onsuccess={handleSuccess}>
                                            <lightning-messages> </lightning-messages>

                                            <label for="fieldid">Parent account</label>
                                            <lightning-input-field field-name="ParentId" name="getNewParent"
                                                value={getNewParent} variant="label-hidden" disabled="true">
                                            </lightning-input-field>
                                        </lightning-record-edit-form>
                                    </div>

                                    <div class="slds-col slds-size_1-of-2 c-padding-top slds-form-element__label"
                                        style="z-index:1; padding-right: 0px">
                                        <lightning-record-edit-form record-id={acctId} object-api-name="Account"
                                            class="myform" onsuccess={handleSuccess}>
                                            <label for="fieldid">Partner level</label>
                                            <lightning-input-field data-id='partnerlevel' field-name="Partner_Level__c"
                                                name="PartnerLevel" variant="label-hidden"
                                                onchange={handleFormInputChange}>
                                            </lightning-input-field>
                                        </lightning-record-edit-form>
                                    </div>

                                </div>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </template>

                <template if:true={isParentModalOpen}>
                    <div class="slds-m-around_medium">
                        <div class="slds-grid slds-wrap slds-gutters slds-p-bottom_large">
                            <div class="slds-col slds-size_1-of-10">
                                <lightning-icon icon-name="utility:warning" alternative-text="Warning!" title="warning"
                                    size="large" class="c-icon-color" style="zoom: 90%;">
                                </lightning-icon>
                            </div>
                            <div class="slds-col slds-size_9-of-10 slds-text-heading_x-small">
                                <p class="c-body-font-color c-body-font-size"><strong>{accountName} needs to change its
                                        data</strong></p>
                                <p class="c-body-font-color c-body-font-size">Update it to continue</p>
                            </div>
                        </div>
                        <div class="slds-p-top_small">
                            <!--<strong style="text-transform:uppercase">{accountName} UPDATED DETAILS </strong>-->
                            <strong class="slds-text-title_bold c-body-font-color c-body-uppercase">{accountName}
                                UPDATED DETAILS
                            </strong>
                        </div>
                    </div>

                    <!-- <template if:true={account.data}>
                        getNewParent {getNewParent} <br />
                        currentParent {currentParent} <br />
                        newPartnerLevel {newPartnerLevel} <br />
                        parentNetworkId {parentNetworkId} <br />
                        accountName {accountName}

                    </template> -->

                    <!-- nova table -->
                    <div class="slds-truncate slds-m-around_small slds-p-bottom_medium">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered"
                            aria-labelledby="element-with-table-label other-element-with-table-label">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-truncate c-body-font-color" title="Opportunity Name">Current
                                            parent account</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate">
                                            <lightning-icon icon-name="utility:forward" alternative-text="forward"
                                                title="forward" size="x-small">
                                            </lightning-icon>
                                        </div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate c-body-font-color">Updated parent account</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="slds-hint-parent">
                                    <th data-label="Opportunity Name" scope="row">
                                        <span>
                                            <ul class="slds-list_horizontal">
                                                <li class="slds-item">
                                                    <lightning-icon icon-name="standard:account"
                                                        alternative-text="Account" title="Account" size="small">
                                                    </lightning-icon>
                                                </li>
                                                <li class="slds-item slds-p-left_small" style="zoom:107%">
                                                    {accountParentName}
                                                </li>
                                            </ul>
                                        </span>
                                    </th>
                                    <td data-label="Account">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td data-label="Close Date">
                                        <span>
                                            <ul class="slds-list_horizontal">
                                                <li class="slds-item">
                                                    <lightning-icon icon-name="standard:account"
                                                        alternative-text="Account" title="Account" size="small">
                                                    </lightning-icon>
                                                </li>
                                                <li class="slds-line-clamp slds-item slds-p-left_small"
                                                    style="zoom:107%">
                                                    {newparentName}
                                                </li>
                                            </ul>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- network id table -->
                            <template if:true={isNetworkIdOpen}>
                                <thead>
                                    <tr class="slds-line-height_reset">
                                        <th class="" scope="col">
                                            <div class="slds-truncate c-body-font" title="Opportunity Name">Current
                                                network ID</div>
                                        </th>
                                        <th class="" scope="col">
                                            <div class="slds-truncate">
                                                <lightning-icon icon-name="utility:forward" alternative-text="forward"
                                                    title="forward" size="x-small">
                                                </lightning-icon>
                                            </div>
                                        </th>
                                        <th class="" scope="col">
                                            <div class="slds-truncate c-body-font" title="Close Date">Updated network ID
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="slds-hint-parent">
                                        <th data-label="Opportunity Name" scope="row">
                                            <span>
                                                <ul class="slds-list_horizontal">
                                                    <li class="slds-item">
                                                        <lightning-icon icon-name="standard:account"
                                                            alternative-text="Account" title="Account" size="small">
                                                        </lightning-icon>
                                                    </li>
                                                    <li class="slds-item slds-p-left_small">
                                                        {accountParentNetworkId}
                                                    </li>
                                                </ul>
                                            </span>
                                        </th>
                                        <td data-label="Account">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td data-label="Close Date">
                                            <span>
                                                <ul class="slds-list_horizontal">
                                                    <li class="slds-item">
                                                        <lightning-icon icon-name="standard:account"
                                                            alternative-text="Account" title="Account" size="small">
                                                        </lightning-icon>
                                                    </li>
                                                    <li class="slds-item slds-p-left_small" style="zoom: 107%">
                                                        {newparentNetworkId}
                                                    </li>
                                                </ul>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </table>
                    </div>
                </template>

                <!--FOOTER-->
                <footer class="slds-modal__footer">
                    <template if:false={isParentModalOpen}>
                        <button class="slds-button slds-button_neutral slds-float_left" onclick={closeModal}
                            title="Cancel">Cancel</button>
                    </template>
                    <template if:false={isParentModalOpen}>
                        <button class="slds-button slds-button_brand" title="Save" type="submit"
                            onclick={handleSave}>Save</button>
                    </template>
                    <template if:true={isParentModalOpen}>
                        <button class="slds-button slds-button_neutral slds-float_left" onclick={handleBack}
                            title="Cancel">Go back</button>
                    </template>
                    <template if:true={isParentModalOpen}>
                        <button class="slds-button slds-button_brand" title="Save" type="submit"
                            onclick={handleSave}>Update</button>
                    </template>
                </footer>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>