.c-padding-top {
    padding-top: 6px;
}

/* .c-padding-left {
    padding-left: 6px;
} */

.c-padding-accountname {
    padding-left: 0%;
    padding-right: 50px;
}

.c-left-element {
    position: relative !important;
    right: 120%;
    margin-top: 10px;
}

.c-main-element {
    position: relative;
    top: 0;
    left: 0;
  }
.c-corner-element {
    position: absolute;
    top: 160px;
    left: 300px;
}

.c-cursor-pointer {
    cursor: pointer;
}

.c-header-color {
    color: #514F4D;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.c-body-font-color{
    color: #514F4D;
}

.c-body-uppercase{
    text-transform: uppercase
}

.c-body-font-size{
    font-size: 0.8rem;
}

.slds-modal__content{
    overflow: initial;
}

.slds-combobox__input-entity-icon {
    z-index: 1 !important;
}

.slds-is-fixed{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-175px;
    margin-left:-5px;
    z-index: 3;
}

.c-icon-color {
    --lwc-colorTextIconDefault: #FFB75D;
}