.c-modalcontent {
    overflow: visible;
    overflow-y: visible;
}



ul {
    padding: 1rem;
    margin-left: 0.5rem;
    list-style: disc;
}


.slds-box {
    padding: 0px;
}

.container-header {
    padding: 0.5rem;
}

.container-main {
    position: relative;
    height: 150px;
    padding: 0.5rem;
}

.c-file-upload{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.container-footer {
    padding: 0.5rem;
    
}