<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 07-05-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">

            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeAction}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Edit Account</h2>
            </header>
            <div class={modalContentClass} id="modal-content-id-1">
                <c-spinner if:true={showSpinner} size="small" message={spinnerMsg} alternative-text="Loading">
                </c-spinner>
                <div if:true={receivedData}>
                    <div class="slds-theme_default">
                        <lightning-accordion allow-multiple-sections-open active-section-name={activeSection}
                            onsectiontoggle={handleSectionToggle}>
    
                             <!-- GENERAL ACCOUNT SECTION-->
                            <div if:true={editAccountSection}>
                                <lightning-accordion-section name="general" label={accountSectionLabel}>
                                    <lightning-record-edit-form record-id={accountId} object-api-name="Account" >

                                        <div if:true={isEditSingleAccount}>
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col slds-size_1-of-2">
                                                    <lightning-input-field field-name="Gym_Title_on_Gympass_App__c" class="account"> </lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_1-of-2">
                                                    <lightning-input-field field-name="Website" class="account"> </lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_1-of-2">
                                                    <lightning-input-field field-name="Gym_Email__c" class="account"> </lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_1-of-2">
                                                    <lightning-input-field field-name="Phone" class="account"> </lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_2-of-2">
                                                    <lightning-input-field field-name="Validation_type__c" class="account"> </lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_2-of-2">
                                                    <label for="fieldDescription1" class="slds-p-left_xx-small slds-text-body_small">Partner description (100 to 500 characters)</label>
                                                    <lightning-input-field id="fieldDescription1" field-name="Description" class="account" onchange={handleCharCount} variant="label-hidden"> </lightning-input-field>
                                                        <template if:true={handleDescription}>
                                                            <div class={counterClass}>
                                                                {counter}/500 characters
                                                            </div> 
                                                        </template>   
                                                </div>
                                            </div>
                                        </div>
                                        <div if:false={isEditSingleAccount}>
                                            <div class="slds-grid slds-wrap">

                                                <div if:true={isEditWebsite} style="width:100%">
                                                    <div class="slds-col slds-size_1-of-2">
                                                        <lightning-input-field field-name="Website" class="account"> </lightning-input-field>
                                                    </div>
                                                </div>                                        

                                                <div if:true={isEditEmail} style="width:100%">
                                                    <div class="slds-col slds-size_1-of-2">
                                                        <lightning-input-field field-name="Gym_Email__c" class="account"> </lightning-input-field>
                                                    </div>
                                                </div>                                        

                                                <div if:true={isEditPhone} style="width:100%">
                                                    <div class="slds-col slds-size_1-of-2">
                                                        <lightning-input-field field-name="Phone" class="account"> </lightning-input-field>
                                                    </div>
                                                </div>
                                            
                                                <div if:true={isEditValidationType} style="width:100%">
                                                    <div class="slds-col slds-size_2-of-2">
                                                        <lightning-input-field field-name="Validation_type__c" class="account"> </lightning-input-field>
                                                    </div>
                                                </div>
                                            
                                                <div if:true={isEditDescription} style="width:100%">
                                                    <div class="slds-col slds-size_2-of-2">
                                                        <label for="fieldDescription2" class="slds-p-left_xx-small slds-text-body_small">Partner description (100 to 500 characters)</label>
                                                        <lightning-input-field id="fieldDescription2" field-name="Description" class="account" onchange={handleCharCount} variant="label-hidden"> </lightning-input-field>
                                                            <template if:true={handleDescription}>
                                                                <div class={counterClass}>
                                                                    {counter}/500 characters
                                                                </div> 
                                                            </template>   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </lightning-record-edit-form>
                                </lightning-accordion-section>
                            </div>
                              <!-- END GENERAL ACCOUNT SECTION-->
    
                               <!-- BANK ACCOUNT SECTION-->
                              <div if:true={isEditBankAccount}>
                                <lightning-accordion-section name="bank_account" label="Bank Account">
                                    <div class="slds-col slds-size_1-of-2">                           
                                        <c-lookup scroll-after-n-items=7 onselectionchange={setExistingBankAccount} onsearch={handleSearch} label="Bank Account Detail" placeholder="Please start typing..." min-search-term-length=2></c-lookup>
                                    </div>        
                                    <lightning-record-edit-form  object-api-name="Bank_Account__c" record-id={bankAccountId}>
                                        <div class="slds-grid slds-wrap">                                           
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Bank_Name__c" class="bank_account" disabled={isBankAccountDisabled}> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Bank_Account_Number_or_IBAN__c" class="bank_account" disabled={isBankAccountDisabled} required></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Bank_Number__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Agency__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_2-of-2">
                                                <lightning-input-field field-name="Bank_Account_Ownership__c" class="bank_account" disabled={isBankAccountDisabled} required></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_2-of-2">
                                                <lightning-input-field field-name="Registration_Number__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Routing_Number__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="MX_KEY__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_2-of-2">
                                                <lightning-input-field field-name="BIC_or_Routing_Number_or_Sort_Code__c" class="bank_account"  disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_2-of-2">
                                                <lightning-input-field field-name="VAT_Number_or_UTR_number__c" class="bank_account" disabled={isBankAccountDisabled}></lightning-input-field>
                                            </div>
                                        </div>
                                    </lightning-record-edit-form>
                                </lightning-accordion-section>
                              </div>
                              <!-- END BANK ACCOUNT SECTION-->
                           
                             <!-- OPENING HOURS SECTION -->
                             <div if:true={isEditOpenHours}>
                                <lightning-accordion-section name="opening_hours" label="Opening Hours">
                                    <lightning-record-edit-form  object-api-name="Opening_Hours__c"  record-id={openHoursId}>
                                        <div class="slds-grid slds-wrap">                                   
                                            <div class="slds-col slds-size_2-of-2">
                                                <lightning-input-field field-name="Days__c" class="opening_hours" value={getOpenHourDays}> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Open_1__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Close_1__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Open_2__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Close_2__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Open_3__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Close_3__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="is_24_Hours__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="Close_Every_Weekend_and_Bank_Holidays__c" class="opening_hours"> </lightning-input-field>
                                            </div>
                                        </div>
                                    </lightning-record-edit-form>
                                </lightning-accordion-section>
                             </div>
                            
                             <!-- END OPENING HOURS SECTION-->

                            <!-- LOGO SECTION -->
                            <div if:true={isEditLogo}>
                                <lightning-accordion-section name="logo" label="Logo">
                                    <p class="slds-m-top_large">Upload <strong>partner logo</strong> </p>
                                    <ul>
                                        <li>Format: PNG or JPEG</li>
                                        <li>Resolution: 720px square, at least 72dpi</li>
                                        <li>File size: 10KB - 5MB</li>
                                    </ul>

                                    <div class="slds-box">
                                        <div class="container-header slds-theme_shade">
                                            <strong>Logo ({logoFilelenght})</strong>
                                        </div>
                                        <div class="container-main">
                                            <lightning-file-upload class="c-file-upload" name="fileUploader" accept={acceptedLogoFormats}
                                             onuploadfinished={handleLogoUploadFinished} 
                                            file-field-name="Type_Files_fileupload__c"
                                            file-field-value={logoType}
                                            >
                                            </lightning-file-upload>
                                        </div>                    
                                        <div class="container-footer slds-theme_shade">
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                  <strong>Title</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="slds-grid slds-wrap" style="background-color: white;">
                                            <template for:each={logos} for:item="logo">
                                                <div key={logo.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={logo.documentId}> {logo.name}</p>
                                                </div>
                                                <div key={logo.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={logo.documentId}>{logo.mimeType}</p>
                                                </div>
                                                <div key={logo.documentId} class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                    <lightning-button-icon key={logo.documentId} data-documentid={logo.documentId}  data-contentversionid={logo.contentVersionId}  class="slds-float_right" icon-name="utility:delete" variant="container" size="small" alternative-text="Delete" title="Delete" onclick={handleFileDelete}>

                                                    </lightning-button-icon>
                                                </div>
                                            </template>
                                        </div>                   
                                    </div>
                                </lightning-accordion-section>
                            </div>                           
                              <!-- END LOGO SECTION-->

                            <!-- PHOTOS SECTION -->
                            <div if:true={isEditPhotos}>
                                <lightning-accordion-section name="photos" label="Photos">
                                    <p class="slds-m-top_large">Upload <strong> 1 photo of partner's storefront</strong> and <strong> 3 photos of the activities </strong> they offer </p>
                                    <ul>
                                        <li>Format: PNG or JPEG</li>
                                        <li>Resolution: 720px square, at least 72dpi</li>
                                        <li>File size: 10KB - 5MB</li>
                                    </ul>

                                    <div class="slds-box">
                                        <div class="container-header slds-theme_shade">
                                            <strong>Photos ({photosFilelenght})</strong>
                                        </div>
                                        <div class="container-main">
                                            <lightning-file-upload class="c-file-upload" name="fileUploader" accept={acceptedPhotosFormats}
                                            onuploadfinished={handlePhotoUploadFinished} 
                                            file-field-name="Type_Files_fileupload__c"
                                            file-field-value={photoType}
                                             multiple>
                                            </lightning-file-upload>
                                        </div>                    
                                        <div class="container-footer slds-theme_shade">
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                  <strong>Title</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="slds-grid slds-wrap" style="background-color: white;">
                                            <template for:each={photos} for:item="photo">
                                                <div key={photo.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={photo.documentId}> {photo.name} </p>
                                                </div>
                                                <div key={photo.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={photo.documentId}> {photo.mimeType} </p>
                                                </div>
                                                <div key={photo.documentId} class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                    <lightning-button-icon key={photo.documentId} data-documentid={photo.documentId} data-contentversionid={photo.contentVersionId} class="slds-float_right" icon-name="utility:delete" variant="container" size="small" alternative-text="Delete" title="Delete" onclick={handleFileDelete}>
                                                    </lightning-button-icon>
                                                </div>
                                            </template>
                                        </div>                                   
                                    </div>

                                    <div class="slds-m-top__medium">
                                        <p class="slds-m-left_x-large"> {photosFilelenght}/4 photos uploaded </p>
                                        <div class="slds-progress-bar slds-progress-bar_circular" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-label="Progress" role="progressbar">
                                            <span class="slds-progress-bar__value" style={photosUploadedPercentage}>
                                              <span class="slds-assistive-text">Progress: 75%</span>
                                            </span>
                                          </div>
                                    </div>
                                </lightning-accordion-section>
                            </div>                         
                            <!-- END PHOTOS SECTION-->

                            <!-- W9 SECTION -->
                            <div if:true={isEditW9}>
                                <lightning-accordion-section name="w9" label="W9 form">
                                    <p class="slds-m-top_large">Upload the <strong> W9 form </strong>  </p>
                                    <ul>
                                        <li>Format: PDF</li>
                                        <li>File size: 10KB - 5MB</li>
                                    </ul>
                                    <p class="slds-m-vertical_medium "> Need help formatting the form? <a href={W9FormURL} download="W9 Form"> Download the template </a> </p>
                                    <div class="slds-box">
                                        <div class="container-header slds-theme_shade">
                                            <strong>W9 ({w9Filelenght})</strong>
                                        </div>
                                        <div class="container-main">
                                            <lightning-file-upload class="c-file-upload" 
                                            name="fileUploader" accept={acceptedW9Formats}
                                            onuploadfinished={handleW9UploadFinished} 
                                            file-field-name="Type_Files_fileupload__c"
                                            file-field-value="W9"
                                            >
                                             
                                            </lightning-file-upload>
                                        </div>                    
                                        <div class="container-footer slds-theme_shade">
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                  <strong>Title</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="slds-grid slds-wrap" style="background-color: white;">
                                            <template for:each={w9s} for:item="w9">
                                                <div key={w9.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={w9.documentId}> {w9.name} </p>
                                                </div>
                                                <div key={w9.documentId} class="slds-col slds-col_bump-right slds-size_2-of-5">
                                                    <p key={w9.documentId}> {w9.mimeType} </p>
                                                </div>
                                                <div key={w9.documentId} class="slds-col slds-col_bump-right slds-size_1-of-5">
                                                    <lightning-button-icon key={w9.documentId} data-documentid={w9.documentId} data-contentversionid={w9.contentVersionId} class="slds-float_right" icon-name="utility:delete" variant="container" size="small" alternative-text="Delete" title="Delete" onclick={handleFileDelete}>
                                                    </lightning-button-icon>
                                                </div>
                                            </template>
                                        </div>                                   
                                    </div>
                                </lightning-accordion-section>
                            </div>                      
                        </lightning-accordion>
                    </div>
                </div>
            </div>

            <div class="slds-modal__footer slds-clearfix">
                <button class="slds-button slds-button_neutral slds-float_left" aria-label="Cancel and close" onclick={closeAction}>Go back</button>
                <button class="slds-button slds-button_brand slds-float_right" onclick={handleSave}>Save</button>
            </div>

        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>