.THIS .padding-top{    
    margin-top: 40px;    
}
.THIS .lost-box{
    float:right;background: white;
    border: 1px solid darkgray;
    padding: 15px;
    box-shadow: 1px -1px #726f66;
    width: 40em;
}
.THIS .field-padding-top{    
    margin-top: 10px;    
}

.THIS .products-section{
    padding-left: 100px;
    padding-top: 20px;
}

.THIS .product-line{
    height:13%;
}

.THIS .save-line{
    padding-top:30px;
}

.THIS.hideSpinner {
    display: none;
}

.THIS .full-width{
    width:100%;
}

.THIS .stepLabel.slds-path__stage-name{
    display: none !important;
}
.THIS .zoom-out-80{
    zoom:80% !important;
}