<template>

    <div class="c-container">
        <lightning-layout multiple-rows="true" horizontal-align="center">
            <lightning-layout-item size="12" padding="around-small">
                <c-generic-lookup
                    data-id="contactLookup"
                    object-api-name="Contact"
                    label="Test Lookup Contact"
                    conditions={conditions}
                    primary-field="Name"
                    search-by="Name"
                    order-by="Name ASC"
                    placeholder="Type something..."
                    icon-name="standard:contact"
                    limit="3"
                    show-new
                    onnewrecord={handleCreateNewContact}
                    new-label="Create a New Contact"
                    create-on-enter
                    multiple-select
                    previously-selected-conditions={previouslySelectedConditions}  
                    ></c-generic-lookup>
            </lightning-layout-item>
        </lightning-layout>
    </div>

</template>
<!-- value={contactRecord} -->
<!-- multiple-select -->