<template>

    <div class="slds-text-title_bold">
        <lightning-icon icon-name={enablersIconName} size="small" class="slds-m-right_x-small slds-show_inline-block"></lightning-icon>
        
        <div class="slds-text-title_bold slds-show_inline-block">
            {enablersHeaderTitle}
        </div>
    </div>
        
    
    <p class="slds-p-top_small slds-p-bottom_large slds-text-color_weak">{enablersSubtitleMessage}</p>


</template>
<!-- slds-grid slds-grid_vertical-align-center -->