<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 03-30-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <lightning-card variant="Narrow" title="Partner Level" icon-name="standard:account">
        <div class="slds-m-around_medium">

        </div>
    </lightning-card>

</template>