<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 04-18-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <lightning-card variant="Narrow" title="Gym Activities" icon-name="utility:chevrondown">
        <div class="slds-m-around_medium">
            <div class="slds-p-bottom_small">
                Select activities you want to add to this product:
            </div>
            <lightning-input type="search" onchange={handleSearchAction} oncommit={handleClear}
                class="slds-m-bottom_small" label="Search" variant="label-hidden" placeholder="Activity name">
            </lightning-input>

            <!-- Pill form -->
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right"
                role="none">
                <template for:each={selectedActivities} for:item="item">
                    <span key={item.Name}>
                        <lightning-pill class="slds-m-top_xxx-small slds-m-right_xx-small" style="color : #0176d3"
                            label={item.Name} data-item={item.Name} onremove={handleRemoveRecord}>
                        </lightning-pill>
                    </span>
                </template>
            </div>
            <!-- Pill form -->

            <div class="slds-m-around_medium">{numberSelectedItems} item(s) selected </div>

            <div style="height: 300px;" class={showOrHideStyle}>
                <lightning-datatable key-field="Id" data={tableData} columns={columns} onrowselection={getSelectedName}
                    selected-rows={setSelectedRows} oncommit={handleClear}>
                </lightning-datatable>
            </div>

            <template if:true={isFilter}>
                <div style="height: 300px;">
                    <lightning-datatable data-my-id="tableFilter" key-field="Id" data={tableFilterData}
                        columns={columns} onrowselection={getSelectedNameFilter} selected-rows={setSelectedRowsFilter}
                        oncommit={handleClear}>
                    </lightning-datatable>
                </div>
            </template>
        </div>
    </lightning-card>
</template>