<!-- Network Builder Approval -->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
             class="slds-modal slds-fade-in-open c-max-width">

        <div class="slds-modal__container">
            <div if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                        onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Request Exclusivity</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-p-horizontal_x-large slds-p-bottom_small">
                    <template if:false={hasApprovalResponse}>
                        <lightning-textarea required=true onchange={handleExclusivityCommentsChange} name="inputExclusivityComments" label="Comments" value={exclusivityComments} placeholder="place your comments here..."></lightning-textarea>
                    </template>
                    <template if:true={hasApprovalResponse}>
                        <template if:true={accountsSentForApproval}>
                            <div class="slds-text-body_regular">Accounts sent for approval</div><br/>
                            <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-labelledby="element-with-table-label other-element-with-table-label">
                                <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Account Name">Account Name</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={accountsSentForApproval} for:item="account">
                                    <tr key={account.accountId} class="slds-hint-parent">
                                        <td class="slds-cell-wrap" data-label="Account Name" scope="row">
                                            <div class="slds-line-clamp"  title={account.accountName}>
                                                {account.accountName}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                            <br/>
                        </template>
                        <template if:true={accountsNotSentForApproval}>
                            <div class="slds-text-body_regular">Accounts not sent for approval</div><br/>
                            <table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-labelledby="element-with-table-label other-element-with-table-label">
                                <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Account Name">Account Name</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Error">Error</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={accountsNotSentForApproval} for:item="account">
                                    <tr key={account.accountId} class="slds-hint-parent">
                                        <td class="slds-cell-wrap" data-label="Account Name" scope="row">
                                            <div class="slds-line-clamp" title={account.accountName}>
                                                {account.accountName}
                                            </div>
                                        </td>
                                        <td class="slds-cell-wrap" data-label="Error" scope="row">
                                            <div class="slds-line-clamp" title={account.errorMessage}>
                                                {account.errorMessage}
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </template>
                    </template>
                </div>
            </div>


            <footer class="slds-modal__footer">
                <template if:true={hasApprovalResponse}>
                    <button class="slds-button slds-button_brand" onclick={handleCloseModal}
                            title="Close">Close</button>
                </template>
                <template if:false={hasApprovalResponse}>
                    <button class="slds-button slds-float_left slds-button_neutral"
                            onclick={handleCloseModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleSendForApproval}
                            title="Request Exclusivity">Request Exclusivity</button>
                </template>
            </footer>

        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>