<template>

    <fieldset class="slds-form-element">
        <legend class="slds-form-element__legend slds-form-element__label">
            <abbr if:true={required} class="slds-required">*</abbr>
            {label}
        </legend>
        <div class="slds-form-element__control">
            <template for:each={radioGroupOptions} for:item="option">
                <span key={option.value} data-id={option.value} class="slds-radio" onclick={handleRadioOptionClick}>
                    <input type="radio" data-id={option.value} value={option.value}/>
                    <label class="slds-radio__label">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">{option.label}</span>
                    </label>             
                    <lightning-helptext if:true={option.showTooltip} content={option.helpText}></lightning-helptext>
                </span>
            </template>
        </div>
        <div if:true={showError} id="error_01" class="slds-form-element__help">{fieldRequiredMessage}</div>
    </fieldset>

</template>