<!--
  @description       : 
  @author            : alysson.mota@gympass.com
  @group             : 
  @last modified on  : 04-25-2022
  @last modified by  : alysson.mota@gympass.com
-->
<template>
    <div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_2-of-12">
                <lightning-icon class="slds-align_absolute-center" icon-name="utility:warning"
                    alternative-text="Warning!" title="Warning" size="large" variant="warning"></lightning-icon>
            </div>
            <div class="slds-col slds-size_10-of-12 ">
                <div class="title1">All accounts must have the same legal representative.</div>
                <div class="title2">Update it to continue.</div>
            </div>
        </div>
        <div class="title3">
            NEW LEGAL REPRESENTATIVE
        </div>
        <article class="slds-card card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <lightning-icon class="" icon-name="standard:employee_contact" alternative-text="Warning!"
                            title="Warning" size="medium"></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="" class="slds-card__header-link slds-truncate" title="LegalRepName">
                                <span class="card-user-name">{newLegalRepresentative.Name}</span>
                            </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_4-of-12">
                        <div class="card-item-title">Email</div>
                        <div class="card-item-value">{newLegalRepresentative.Email}</div>
                    </div>
                    <div class="slds-col slds-size_4-of-12 ">
                        <div class="card-item-title">Phone</div>
                        <div class="card-item-value">{newLegalRepresentative.Phone}</div>
                    </div>
                    <div class="slds-col slds-size_4-of-12">
                    </div>
                </div>
            </div>
        </article>
        <div class="title3">
            ACCOUNTS TO BE UPDATED
        </div>

        <table class="table">
            <tr>
                <th class="table-header">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_4-of-12">
                            <span class="table-header-text slds-m-left_small">Account name</span>
                            <span class="card-item-value">
                                <lightning-icon class="" icon-name="utility:arrowdown" alternative-text="Warning!"
                                title="Warning" size="x-small">
                                </lightning-icon>
                            </span>
                        </div>
                        <div class="slds-col slds-size_3-of-12">
                            <span class="table-header-text">Current legal rep.</span>
                        </div>
                        <div class="slds-col slds-size_2-of-12">
                            <span class="card-item-value">
                                <lightning-icon class="" icon-name="utility:forward" alternative-text="Warning!"
                                title="Warning" size="x-small">
                                </lightning-icon>
                            </span>
                        </div>
                        <div class="slds-col slds-size_3-of-12">
                            <span class="table-header-text">Updated legal rep.</span>
                        </div>
                    </div>
                </th>
            </tr>
            <template for:each={transferObjData.locationsWithDifLegalRep} for:item="location">
                <tr key={location.Id}>
                    <td class="table-row" key={location.Id}>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_4-of-12">
                                <span class="table-text slds-m-left_small" id={location.Id}>{location.Name}</span>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <span>
                                    <lightning-icon class="" icon-name="standard:employee_contact" alternative-text="Warning!"
                                    title="Warning" size="x-small"></lightning-icon>
                                </span>
                                <template if:true={location.Legal_Representative__r}>
                                    <span class="table-text table-text-contact">{location.Legal_Representative__r.Name}</span>
                                </template>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <span>
                                    <lightning-icon class="" icon-name="standard:employee_contact" alternative-text="Warning!"
                                    title="Warning" size="x-small"></lightning-icon>
                                </span>
                                <span class="table-text table-text-contact" >{newLegalRepresentative.Name}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</template>