.title1 {
    /* 04 - Section Subtitle / Default */

    /* font-family: 'Work Sans'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */

    /* 03 - Palette Gray / 10 */
    color: #514F4D;
}

.title2 {
    color: #514F4D;
}

.title3 {
    /* 02 - Label / Bold */
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    margin-top: 3em;
    margin-bottom: 1em;

    /* 03 - Palette Gray / 10 */
    color: #514F4D;
}

.card {
    background: #F3F2F2;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 4px;
}

.card-user-name {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    /* identical to box height, or 129% */

    letter-spacing: -1px;

    color: #000000;
}

.card-item-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* 03 - Palette Gray / 11 */
    color: #3E3E3C;
}

.card-item-value {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* Foundation/Text/Primary */
    color: #001027;
}

.table-header {
    height: 32px;
    left: 0%;
    right: 22.76%;
    top: 0px;

    background: #FAFAF9;
    box-shadow: 0px 1px 0px #DDDBDA;
}

.table-row {
    background: #FFFFFF;
    box-shadow: 0px -1px 0px #DDDBDA, 0px 1px 0px #DDDBDA;
}

.table-header-text {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* 09 - Text / Weak */

    color: #3E3E3C;
}

.table-text {
    /* 03 - Body / Underlined */
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    text-decoration-line: underline;
    color: #005FB2;
}

.table-text-contact {
    margin-left: 0.3em;
}

.table {
    border: 1px solid #DDDBDA;
    box-sizing: border-box;

    border-radius: 2em;
}