<template>
    <lightning-input class="uniqueKeyInput" max-length="18" required={isRequired} type="text" label={label} value={value} onchange={handleManageKeysValidations}></lightning-input>
</template>