<template>
  
    <template if:true={isBoldText}>
      <div class=" slds-var-p-around_small">
                <strong>{label}</strong> 
                <lightning-helptext content={helpTextDetail} class="help-tooltip"></lightning-helptext>
               <p class="slds-text-heading_small"> {value}</p>
            </div>
    </template>
  
    <template if:false={isBoldText}>
  
    <div class=" slds-var-p-around_small">
              {label} 
              <lightning-helptext content={helpTextDetail} class="help-tooltip"></lightning-helptext>
             <p class="slds-text-heading_small"> {value}</p>
          </div>
    </template>
  
  </template>