<template>

    <!-- <lightning-record-form object-api-name="Account_Request__c" fields={fields} onsuccess={handleSuccess}>
    </lightning-record-form> -->

    <c-custom-lookup obj-name="Account" search-placeholder="Search Accounts" icon-name="standard:account" onlookupselected={handleAccountSelection}> </c-custom-lookup>

    
</template>