<!--
  @description       : 
  @author            : ext.gft.pedro.oliveira@gympass.com
  @group             : 
  @last modified on  : 07-13-2022
  @last modified by  : ext.gft.pedro.oliveira@gympass.com
-->
<template>
  <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
    <!-- <lightning-accordion-section name='NoShowFee' label='No Show Fee' class="c-background-section"> -->
    <div class="slds-section slds-is-open">
      <h3 class="slds-section__title">
        <div class="slds-section__title-action">
          <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
          <span class="slds-truncate slds-p-left_x-small" title="Section Title">No Show Fee</span>
        </div>
      </h3>
    </div>
    <div class="slds-grid slds-wrap c-background-section c-background">
      <div class="slds-col slds-size_4-of-8 c-background">
        <lightning-radio-group label="Has no show fee?" options={options} value={hasNoShow} type="radio" class="slds-m-vertical_medium slds-m-left_small" onchange={handleOptionChange} disabled={disabledFields}>
        </lightning-radio-group>
      </div>

      <div class="slds-col slds-size_4-of-8">
        <lightning-record-view-form record-type-id={partnerProductRecordTypes.noShowRecordTypeId} object-api-name="Commercial_Condition__c" record-id={noShowId}>
          <div class="slds-theme_default">
            <template for:each={sectionNoShowFields} for:item="section">
              <div key={section.key} class="slds-grid slds-wrap">
                <div class="slds-col slds-size_2-of-2">
                  <div class="slds-grid slds-wrap slds-m-top_small">
                    <template for:each={section.value} for:item="field">
                      <div key={field.apiName} class="slds-col slds-size_8-of-8">
                        <lightning-output-field key={field.apiName} field-name={field.apiName} name={field.apiName} class="c-save-no-show-fee" value={field.value} disabled={disabledFields}>
                        </lightning-output-field>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </lightning-record-view-form>
      </div>
    </div>
    <!-- </lightning-accordion-section>  -->
    <!--  <lightning-accordion-section name='lateCancelation' label='Late Cancelation' class="c-background-section"> -->
    <div class="slds-section slds-is-open">
      <h3 class="slds-section__title">
        <div class="slds-section__title-action">
          <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
          <span class="slds-truncate slds-p-left_x-small" title="Section Title">Late Cancelation</span>
        </div>
      </h3>
    </div>
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_4-of-8">
        <lightning-radio-group label="Has late cancelation?" options={options} value={hasLateCancelation} type="radio" class="slds-m-vertical_medium slds-m-left_small" onchange={handleOptionChange} disabled={disabledFields}>
        </lightning-radio-group>
      </div>

      <div class="slds-col slds-size_4-of-8">
        <lightning-record-view-form record-type-id={partnerProductRecordTypes.lateCancellationRecordTypeId} object-api-name="Commercial_Condition__c" record-id={lateCancelationId}>
          <div class="slds-theme_default">
            <template for:each={sectionNoShowFields} for:item="section">
              <div key={section.key} class="slds-grid slds-wrap">
                <div class="slds-col slds-size_2-of-2">
                  <div class="slds-grid slds-wrap slds-m-top_small">
                    <template for:each={section.value} for:item="field">
                      <div key={field.apiName} class="slds-col slds-size_8-of-8">
                        <lightning-output-field key={field.apiName} field-name={field.apiName} name={field.apiName} class="c-save-late-cancelation" value={field.value} disabled={disabledFields}>
                        </lightning-output-field>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </lightning-record-view-form>
      </div>
    </div>
    <!--  </lightning-accordion-section> -->
    <!-- <lightning-accordion-section name='discounts' label='Discounts' class="c-background-section"> -->
    <div class="slds-section slds-is-open">
      <h3 class="slds-section__title">
        <div class="slds-section__title-action">
          <lightning-icon icon-name="utility:chevrondown" size="x-small"></lightning-icon>
          <span class="slds-truncate slds-p-left_x-small" title="Section Title">Discounts</span>
        </div>
      </h3>
    </div>
    <lightning-record-edit-form record-type-id={partnerProductRecordTypes.tresholdPartnerRecordTypeId} object-api-name="Threshold__c" onload={loadThresholdValues}>
      <div class="slds-theme_default">
        <template for:each={sectionDiscountsFields} for:item="section">
          <lightning-radio-group key={section.key} name={section.key} label="Has volume discount?" options={options} value={hasDiscount} disabled={disabledFields} type="radio" class="slds-m-vertical_medium slds-m-left_small slds-col slds-size_1-of-2" onchange={handleOptionChange}>
          </lightning-radio-group>
          <div class="slds-grid slds-wrap slds-m-top_medium" key={section.key} style="margin-left: 14px">
            <template if:true={volumeDiscountPicklistValues.data}>
              <div class="slds-col slds-size_6-of-12">
                <lightning-input-field name="volumeDiscountType" class="slds-col slds-size_1-of-2 c-input-threshold c-paddingLeftZero" label="Volume Discount Type" value={thresholdType} placeholder="Select volume discount type" options={volumeDiscountPicklistValues.data.values} onchange={handleVolumeDiscountTypeChange} data-field-name="volumeDiscountType" read-only></lightning-input-field>
              </div>
              <div class="slds-col slds-size_6-of-12"></div>
            </template>
            <template if:true={hasDiscountChecker}>
              <div class="slds-col slds-size_6-of-12">
                <lightning-input type="number" name="numberOfThresholds" min="0" label="Number of thresholds" value={thresholdSize} read-only onchange={handleNumberOfThresholds}></lightning-input>
              </div>
              <div class="slds-col slds-size_6-of-12">
                <lightning-input type="date" name="valumeDiscountDate" label="(Volume discount) date" read-only value={thresholdDiscountDate} onchange={handleDiscountDate}></lightning-input>
              </div>
            </template>
          </div>
          <template if:true={hasDiscountChecker}>
            <div key={section.key} class="slds-grid slds-wrap slds-m-top_medium" style="margin-left: 10px">
              <template for:each={thresholdNumber} for:item="threshold">
                <!-- <div key={threshold} class="slds-col slds-size_2-of-12 slds-align_absolute-center">
                                            <span>#{threshold}</span>
                                        </div> -->
                <template for:each={section.value} for:item="field">
                  <div key={field.apiName} class="slds-col slds-size_1-of-2">
                    <lightning-input-field key={field.apiName} field-name={field.apiName} data-threshold-id={threshold} name={field.apiName} class="c-input-threshold c-paddingLeftZero" value={field.value} read-only>
                    </lightning-input-field>
                  </div>
                </template>
              </template>
            </div>
          </template>
        </template>
      </div>
    </lightning-record-edit-form>
    <div if:true={spinner}>
      <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
    </div>

    <!-- <button class="slds-button slds-button_brand slds-align_absolute-center" name={saveConditions} onclick={saveConditions} > Save </button> -->
  </lightning-accordion>
</template>