.c-title-item{
    margin: 0px;
    padding-top: 2%; 
    padding-left: 2%;    
}

.c-background-section{
    --slds-c-accordion-summary-color-background: #F3F2F2;
    border-radius: 4px;
}

.c-background{
    background-color: #F3F2F2;
}