<template>
    <section role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <!-- modal header -->
            <div class="slds-modal__header">
                <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalHeader}</h1>
            </div>
            
            <!-- modal body -->
            <div if:true={isM0Form} class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>Make sure the Success Executive is <strong>{clientSuccessExecutiveName}</strong> before continue.</p>
                <br>
                <p>If the M0 is assigned to the wrong person, you will need to go back to the form to edit and submit it again.</p>
            </div>

            <div if:true={isM1Form} class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                <p>Engagement journey form will be closed and the Sales Executive will be notified to move the opportunity forward.</p>
            </div>
            
            <!-- modal footer -->
            <div class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={handleGoBack}>{goBackButtonLabel}</button>

                <button class="slds-button slds-button_neutral" onclick={handleSubmit}>{submitButtonLabel}</button>
            </div>
        </div>
    </section>
        
    <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>