<!--
  @description       : Display Popover with Lightning Record View Form
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 06-07-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template>
    <div>
        <section aria-describedby="dialog-body-id-110" aria-label="Dialog Title" class="slds-popover slds-popover_panel popover slds-popover_medium slds-nubbin_right" role="dialog">
            <div class="slds-popover__header">                        
                <lightning-record-view-form
                    record-id={ranger}
                    object-api-name={objectname}>
                    <header class="slds-media slds-media_center slds-m-bottom_small">
                        <span class="slds-icon_container slds-media__figure">
                            <lightning-icon icon-name={iconname} size="medium"></lightning-icon>
                        </span>
                        <div class="slds-media__body">
                            <h2 class="slds-text-heading_small" id="dialog-heading-id-115"><lightning-output-field field-name={titlefield} variant="label-hidden"></lightning-output-field></h2>
                        </div>
                    </header>
                    <div class="slds-grid slds-wrap">
                        <template for:each={fieldsList} for:item="field">
                            <div key={field} class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name={field}></lightning-output-field>
                            </div>
                        </template>
                        <div class="slds-col slds-size 1-of-2">
                            <span class="slds-form-element__label">{label.waiversLabel}</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <template if:true={waiversLength}>
                                            <lightning-pill-container class="pillContainer" items={waiversList}></lightning-pill-container>
                                        </template>
                                        <template if:false={waiversLength}>
                                            --
                                        </template>
                                    </div>
                                </div>
                        </div>
                    </div>
                </lightning-record-view-form>
            </div>
        </section>
    </div>
</template>