<template>
    
    <footer class="slds-card__footer">
        <lightning-layout>
            <template if:true={formStatus}>
                <lightning-layout-item class="slds-col_bump-left slds-p-right_small">
                    <lightning-button if:true={displaySaveButton} variant={saveButtonVariant} label={saveButtonLabel} title={saveButtonLabel} onclick={handleSave} disabled></lightning-button>
                </lightning-layout-item>
            </template>

            <template if:false={formStatus}>
                <lightning-layout-item class="slds-col_bump-left slds-p-right_small">
                    <lightning-button if:true={displaySaveButton} variant={saveButtonVariant} label={saveButtonLabel} title={saveButtonLabel} onclick={handleSave} ></lightning-button>
                </lightning-layout-item>
            </template>
            
            <lightning-layout-item>
                <template if:true={isValidForm}>
                    <template if:false={formStatus}>
                        <lightning-button if:true={displayContinueButton} variant={continueButtonVariant} label={continueButtonLabel} title={continueButtonLabel} onclick={handleContinue} ></lightning-button>
                    </template>
                    
                    <template if:true={formStatus}>
                        <lightning-button if:true={displayContinueButton} variant={continueButtonVariant} label={continueButtonLabel} title={continueButtonLabel} onclick={handleContinue} disabled></lightning-button>
                    </template>
                    
                </template>

                <template if:false={isValidForm}>
                    <lightning-button if:true={displayContinueButton} variant={continueButtonVariant} label={continueButtonLabel} title={continueButtonLabel} onclick={handleContinue} disabled></lightning-button>
                </template>
                
            </lightning-layout-item>
        </lightning-layout>
    </footer>
    
    <template if:true={showSpinner}>
        <div>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>
    </template>

</template>