.THIS .padding-left-30 {
    padding-left:30px;
}
.THIS .padding-left-50 {
    padding-left:50px;
}
.THIS .padding-top-30 {
    padding-top:30px;
}

.THIS .margin-right-30{
    margin-right:30px;
}

.THIS .btn-save{
    color:white;
}