.c-header {
    background-color: lightgray;
    padding: 10px;
}

.c-align-center {
    text-align: center;
}

.c-align-right {
    text-align: right;
}

.c-align-left {
    text-align: left;
}    

.c-vertical-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}