<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 01-27-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>

    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">


        <div class="slds-modal__container">

            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New account information</h2>
            </header>
           
            <div class="slds-modal__content slds-p-around_medium slds-scrollable slds-relative" id="modal-content-id-1"> <!-- c-align-center -->
              
                <template if:true={showSpinner}> 
                    <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
                </template>
                
              

                <div class="c-align-center">
                    <lightning-input type="toggle" label="Use parent account information"
                        onclick={handleImportFromParent} name="Import from Parent"></lightning-input>
                </div>
                <template if:true={recordTypeId}>
                    <lightning-record-edit-form record-type-id={recordTypeId} record-id={formParentId} object-api-name="Account" onload={disableSpinner}>
                    <div class="slds-theme_default">
                       <!--  <lightning-accordion active-section-name={activeSections} allow-multiple-sections-open > -->
                        <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
                            <template for:each={sectionWithFields} for:item="section">
                                <lightning-accordion-section key={section.key} name={section.key} label={section.key}>
                                    <div class="slds-grid slds-wrap">
                                        <template for:each={section.value} for:item="field">
                                            <div key={field.apiName} class="slds-col slds-size_6-of-12 c-align-left">

                                                <template if:true={field.isParentId}>
                                                    <div>
                                                        <lightning-input-field field-name="ParentId" name="ParentId"
                                                            class="c-input-account" value={selectedParentAcccount}
                                                            disabled='true'>
                                                        </lightning-input-field>
                                                    </div>
                                                </template>
                                                <template if:false={field.isParentId}>
                                                    <template if:true={field.isBlank}>
                                                        <div>
                                                            <lightning-input-field key={field.apiName}
                                                                field-name={field.apiName} name={field.apiName}
                                                                class="c-input-account" required={field.isRequired} value="">
                                                            </lightning-input-field>
                                                        </div>
                                                    </template>
                                                    <template if:false={field.isBlank}>
                                                        <div>
                                                            <lightning-input-field key={field.apiName}
                                                                field-name={field.apiName} name={field.apiName}
                                                                class="c-input-account" required={field.isRequired}> 
                                                            </lightning-input-field>
                                                        </div>
                                                    </template>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                </lightning-accordion-section>
                            </template>
                            <lightning-accordion-section name="Contacts" label="Contacts">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_4-of-4 c-align-left">
                                        <lightning-input type="checkbox" label="Import contacts from parent account"
                                            name="Import contacts from parent account" class="slds-m-around_small"
                                            onchange={handleImportContacts}>
                                        </lightning-input>
                                    </div>

                                    <template if:true={hasContactInParentToImport}>
                                        <!-- <span>Contacts available on Parent Account ({parentContactsQuantity})</span> -->
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                <template for:each={parentContactRelationData} for:item="con">
                                                    <tr key={con.Id} class="slds-m-vertical_small">
                                                        <th scope="col" class="c-vertical-padding">
                                                            <div>
                                                                <lightning-input type="checkbox" value={con.Id}
                                                                    name={con.Name}
                                                                    onclick={handleSelectedImportContact}
                                                                    class="contactRelationInput"> </lightning-input>
                                                            </div>
                                                        </th>                                                       
                                                        <th scope="col" class="c-align-right c-vertical-padding">
                                                            <lightning-icon icon-name="standard:contact" alternative-text="Contact" title="Contact"></lightning-icon>
                                                        </th>
                                                        <th scope="col" class="c-align-center c-vertical-padding">
                                                            <div>{con.Name}</div>
                                                            <div>
                                                                <lightning-formatted-text value={con.Email} linkify>
                                                                </lightning-formatted-text>
                                                            </div>
                                                        </th>

                                                        <th scope="col" class="c-vertical-padding">
                                                            <c-multi-select-picklist disabled=true data-id={con.Id} multi-select="true" selected-values={con.Roles} onselect={handleSelectOptionList} options={contactRoleOptions} label="Roles"></c-multi-select-picklist>
                                                            <!--<lightning-combobox data-id={con.Id} class={con.Id}
                                                                label="Role" options={contactRoleOptions} required
                                                                onchange={handleContactRoleChange}>
                                                            </lightning-combobox>-->
                                                        </th>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>

                                    </template>

                                    <template if:true={hasContactsToCreate}>
                                        <span>Contacts to be created ({contactsToCreateQuantity})</span>
                                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                <template for:each={contactsToCreate} for:item="con">
                                                    <tr key={con.fields.LastName} class="slds-m-vertical_small">
                                                        <th scope="col" class="c-align-right c-vertical-padding">
                                                            <lightning-icon icon-name="standard:contact" alternative-text="Contact" title="Contact"></lightning-icon>
                                                        </th>
                                                        <th scope="col" class="c-align-center c-vertical-padding">
                                                            <div>{con.fields.FirstName} {con.fields.LastName}</div>
                                                            <div>
                                                                <lightning-formatted-text value={con.fields.Email}
                                                                    linkify>
                                                                </lightning-formatted-text>
                                                            </div>
                                                        </th>
                                                        <th scope="col" class="c-align-center c-vertical-padding">
                                                            <c-multi-select-picklist data-id={con.fields.LastName} multi-select="true" selected-values={con.fields.Type_of_contact__c} onselect={handleSelectOptionList} options={contactRoleOptions} label="Roles"></c-multi-select-picklist>

                                                            <!--<div>{con.fields.Type_of_contact__c}</div>-->
                                                        </th>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </template>
                                </div>
                            </lightning-accordion-section>
                        </lightning-accordion>
                    </div>
                </lightning-record-edit-form>

                <div class="slds-col slds-size_4-of-4 c-align-left slds-m-vertical_large">
                    <lightning-button variant="brand-outline" label="Create New Contact"
                        title="Create New Contact" class="slds-m-around_small"
                        onclick={openCreateNewContactModal}>
                    </lightning-button>
                </div>
                
                <div if:true={showCreateNewContactModal}>
                    <c-network-builder-create-new-contact partner-flow-id={contactRecordTypeId} onclose={closeCreateNewContactModal} onsavecontact={handleSaveContact}>
                    </c-network-builder-create-new-contact>
                </div>
                </template>

            </div>

            <footer class="slds-modal__footer">
                <button class="slds-button slds-float_left slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" title="Save" onclick={handleSaveAccount}>Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>

   

</template>