<template>

    <div class="slds-section slds-is-open" style="background-color: white;">

        <h3 class="slds-section__title slds-theme_shade">
            <span class="slds-truncate slds-p-horizontal_small" style="font-weight: 500;" title={sectionTitle}>{sectionTitle}</span>
        </h3>
        
        <div if:true={product} aria-hidden="false" class="slds-section__content">

            <lightning-layout multiple-rows>

                <lightning-layout-item padding="around-small" size="6"> 
                    <span class="slds-form-element__label">Product</span>
                    <p><lightning-formatted-url value={productLink} label={product.Plan_Name__c} target="_blank" ></lightning-formatted-url></p>
                </lightning-layout-item>

                <lightning-layout-item padding="around-small" size="6">   
                    <span class="slds-form-element__label">Quantity</span>
                    <p><lightning-formatted-number value={product.Quantity}></lightning-formatted-number></p>                 
                </lightning-layout-item>

                <lightning-layout-item padding="around-small" size="6">   
                    <c-generic-currency-input label="List Price" value={product.List_Price__c} currency-code={product.CurrencyIsoCode} disabled></c-generic-currency-input>            
                </lightning-layout-item>

                <lightning-layout-item padding="around-small" size="6">           
                    <c-generic-currency-input label="Total List Price" value={product.Total_List_Price__c} currency-code={product.CurrencyIsoCode} disabled></c-generic-currency-input>          
                </lightning-layout-item>      
                
                <lightning-layout-item padding="around-small" size="6"> 
                    <c-generic-currency-input data-label="Sales Price" label="Sales Price" value={product.UnitPrice} currency-code={product.CurrencyIsoCode} 
                            min="0" required onchange={handleSalesPriceChange}></c-generic-currency-input>                     
                </lightning-layout-item>  

                <lightning-layout-item padding="around-small" size="6">
                    <c-generic-currency-input label="Total Sales Price" value={product.Subtotal} currency-code={product.CurrencyIsoCode} disabled></c-generic-currency-input>                       
                </lightning-layout-item>  

                <lightning-layout-item padding="around-small" size="6"> 
                    <span class="slds-form-element__label">Fee Type</span>
                    <p><lightning-formatted-text value={product.Product_Fee_type__c} ></lightning-formatted-text></p>
                </lightning-layout-item>

                <lightning-layout-item padding="around-small" size="6">    
                    <lightning-input type="number" label="Discount" value={product.Discount} formatter="percent-fixed" step="0.01" disabled></lightning-input>
                </lightning-layout-item>      
                

            </lightning-layout>

        </div>
        
    </div>
    
</template>