<!-- sldsValidatorIgnore -->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" type="button" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>

                <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                <div class="slds-p-bottom_x-small progressIndicator">
                    <lightning-progress-indicator current-step="2" type="base" variant="base">
                        <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                        <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                        <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                        <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                        <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                    </lightning-progress-indicator>                        
                </div> 
            </header>

            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-p-horizontal_xx-large">
                    <template if:true={showLoading} class="spinner">
                        <lightning-spinner alternative-text="Loading" variant="brand" class="spinnerClass" size="small"></lightning-spinner>
                    </template>
                    <p class="slds-p-bottom_x-small">{company_list_label.LABEL_COMMUNITY_CHOOSE_COMPANY}</p> 
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="" scope="col"></th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={company_list_label.LABEL_COMMUNITY_COMPANY}>{company_list_label.LABEL_COMMUNITY_COMPANY}</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={company_list_label.LABEL_COMMUNITY_BILLING_COUNTRY}>{company_list_label.LABEL_COMMUNITY_BILLING_COUNTRY}</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={company_list_label.LABEL_COMMUNITY_WEBSITE}>{company_list_label.LABEL_COMMUNITY_WEBSITE}</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={companyRecordsList} for:item="conItem">
                                <tr key={conItem.Id} class="slds-hint-parent">
                                    <td data-label="">
                                        <div class="slds-truncate" title="Select">
                                            <lightning-input type="radio" name={conItem.Id} data-value={conItem.Id} onchange={handleSelected}></lightning-input>
                                        </div>
                                    </td>
                                    <td data-label={company_list_label.LABEL_COMMUNITY_COMPANY}>
                                        <div class="slds-truncate" title={conItem.Name}>
                                            {conItem.accountName}
                                        </div>
                                    </td>
                                    <td data-label={company_list_label.LABEL_COMMUNITY_BILLING_COUNTRY}>
                                        <div class="slds-truncate" title={conItem.BillingCountry}>
                                            {conItem.accountBillingCountry}
                                        </div>
                                    </td>
                                    <td data-label={company_list_label.LABEL_COMMUNITY_WEBSITE}>
                                        <div class="slds-truncate" title={conItem.Website}>
                                            {conItem.accountWebsite}
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>           
            </div>
            <footer class="slds-modal__footer">
                
                <lightning-button label={company_list_label.LABEL_COMMUNITY_NONE_ABOVE} disabled={enabledCreatedAccount} onclick={handleNoneAbove} class=""></lightning-button>
                <lightning-button variant="brand" disabled={disabledNext} label={company_labels.LABEL_COMMUNITY_NEXT} class="slds-m-left_xx-small" onclick={handleSetAccount} ></lightning-button>
                
                <lightning-button class="slds-float_left" label={contact_label.LABEL_COMMUNITY_BACK} onclick={handleBack} ></lightning-button>
            </footer>
        </div>
    </section> 
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>