.headerNews{
    background-color: #D9FFDF;
}

.textGoodNews{
    color: #027E46;
}

.boxInfo{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.boxInfo .boxBoldMain{
    font-weight: bold;
    font-size: 16px;
}

.boxInfo .boxBoldGreen{
    font-weight: bold;
    font-size: 16px;
    color: #027E46;
}

.boxInfo .boxBold{
    -webkit-text-stroke: 0.5px black;
}

.headerNewsBad{
    background-color: #FFDDE1;
}

.textBadNews{
    color: #C23934;
}

.boxBoldRed{
    font-weight: bold;
    font-size: 16px;
    color: #C23934;
}

.pickListOverflow{ 
    overflow: initial;
    overflow: visible;
}

.modalBody {
    position: relative;
}

.reason{

    text-align: justify;
}