<template>
    
    <div if:true={hasProducts}>
        <template for:each={records} for:item="item">

            <div key={item.id} class="slds-p-top_xx-small">
                {item.Product_Name__c}
            </div>

        </template>
    </div>

</template>