.THIS {
    font-size: var(--lwc-fontSize3,0.8125rem);
    height: 350px;
}

.THIS .changeRecordTypeRow {
    margin-top: var(--lwc-spacingLarge,1.5rem);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.THIS .changeRecordTypeLeftRightContent legend {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.THIS .changeRecordTypeLeftColumn {
    float: left;
    text-align: right;
    padding-right: var(--lwc-spacingLarge,1.5rem);
    width: 35%;
    font-size: var(--lwc-fontSizeMedium,0.8125rem);
    color: var(--lwc-colorTextWeak,rgb(62, 62, 60));
}

.THIS .changeRecordTypeRightColumn {
    float: right;
    text-align: left;
    width: 65%;
}

.THIS .clearall {
    clear: both;
}

.THIS .changeRecordTypeOptionLeftColumn {
    width: 10%;
    float: left;
}

.THIS .changeRecordTypeOptionRightColumn {
    width: 90%;
    float: right;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.THIS .changeRecordTypeItemDescription {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: var(--lwc-spacingSmall,0.75rem);
    padding-left: var(--lwc-spacingLarge,1.5rem);
    word-wrap: break-word;
}

.THIS .changeRecordTypeLabel {
    font-size: var(--lwc-fontSizeMedium,0.8125rem);
    color: var(--lwc-colorTextWeak,rgb(62, 62, 60));
}

.THIS .actionFooter {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: calc( ( 100% - 450px )/ 2 );
}

.THIS .spinner {
    position: relative;
    left: 0;
    top: 50%;
}

.THIS .spinnerContainer {
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0;
    bottom: calc( ( 100% - 450px )/ 2 );
    background-color: white;
}

.THIS .subtypeRadio {
    margin-top: var(--lwc-spacingLarge,1.5rem);
}

.THIS .custom-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .THIS .container {
    position: relative;
  }

.THIS .vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }



  .THIS .custom_right {
    position: absolute;
    float: right;


  }