<!--
  @description       : 
  @author            : tiago.ribeiro@gympass.com
  @group             : 
  @last modified on  : 04-08-2022
  @last modified by  : tiago.ribeiro@gympass.com
-->
<template >
    <template if:true={showModal}>
        <c-modal onclosedialog={handleDialogClose}>
            <span slot="header">{headerPopup}</span>
            <slot>
                <lightning-record-edit-form
                                record-id={recordId}
                                object-api-name={objectAPIName}
                                density="comfy"
                                onsuccess={handleSuccess}
                                onerror={handleError}>
                    <lightning-messages> </lightning-messages>
                    <lightning-input-field field-name="StageName" value="Perdido" disabled="true"></lightning-input-field>
                    <lightning-input-field field-name="Loss_Reason__c"> </lightning-input-field>
                </lightning-record-edit-form>
            </slot>
            <span slot="footer" class="slds-align_absolute-center">
                <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={handleClose} ></lightning-button>
                <lightning-button variant="brand" label="Save" title="Save" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
            </span>
            <div if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </c-modal>
    </template>
</template>