<!--
  @description       : 
  @author            : AlyssonMota
  @group             : 
  @last modified on  : 01-21-2021
  @last modified by  : Alysson Mota
  Modifications Log 
  Ver   Date         Author         Modification
  1.0   01-21-2021   Alysson Mota   Initial Version
-->
<apex:page renderAs="{!renderAs}" showHeader="false" sidebar="false" standardStylesheets="false" standardController="Quote" extensions="ContractCtrl"
           contentType="{!contentType}" applyBodyTag="false" applyHtmlTag="false">
   <html>
        <head>
            <style>
                @page {
                size: letter;
                margin: 20mm;
                
                @top-center {
                content: element(header);
                }
                @bottom-center {
                content: "Página " counter(page) " de " counter(pages);
                }
                }
                ol{
                list-style-type: upper-roman;
                }
                div.header {
                margin-top: 10px;
                text-align: center;
                position: running(header);
                }
                .page-break {
                display:block;
                page-break:always; 
                page-break-inside:avoid;
                }
                body {/*
                font-family: Arial Unicode MS;*/
                font-family: sans-serif;
                font-size: 14px;
                }
                p { 
                text-indent: 0px;
                }
                head{
                font-size: 10px;
                }
                .trinta{
                margin: 30px;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: justify;
                }
                .sessenta{
                margin: 60px;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: justify;
                }
            </style>
            <div class="header">
                <table>
                    <tr>
                        <td width="10%"/>
                        <td width="80%">
                            <p style="text-align:left;text-indent:0px;font-size:10px;color:gray;">
                                Document: Gympass Standard Service Agreement 2018 global template 8.0<br />
                                Concept: Subject to approval from Gympass Management and Legal Services
                            </p>
                        </td>
                        <td>
                            
                            <apex:image value="{!$Resource.GymPass}" width="130px" height="30px"/>
                        </td>
                        <td width="30%"/>
                    </tr>
                </table>
            </div>
        </head>
        <body>
            <div class="page-break">
                <p style="text-align:center;"><b>Proposta de Prestação de Serviços</b></p>
                <p style="text-align:center;background-color:#BFBFBF;"><u>Objetivo</u></p>
                
                <p style="text-indent: 30px">
                    Obrigado pela oportunidade de apresentar esta Proposta e fazermos uma parceria com a sua Empresa para promover atividade física aos seus empregados. O Gympass fornece um Programa que pode ser acessado por meio do website do Gympass. O Programa oferece às empresas e seus funcionários acesso inigualável às Academias por todo o mundo em troca da Taxa de Serviço.
                </p>
                <p style="text-indent: 30px">
                    O Programa permite às empresas planejar e implementar um programa de bem-estar e atividades físicas para seus empregados por meio dos dados e relatórios automaticamente disponíveis no Programa.
                </p>
                <p style="text-indent: 30px">
                    A Empresa pode acessar o Programa através da Página da Empresa usando um nome exclusivo, usuário e senha. Os Empregados Elegíveis poderão acessar o Website do Gympass por meio de um login e senha individuais e terão a oportunidade de comprar os Passes de Atividade Física.
                </p>
                <p style="text-indent: 30px">
                    Por meio do Website, os Usuários podem gerenciar suas contas individuais e seus Passes de Atividade Física (incluindo upgrades, downgrades ou cancelamentos) dos Passes de Atividade Física/ de sua associação usando os métodos de pagamento disponíveis no Programa.
                </p>
                
                <table border="1" cellpadding="6">
                    <tr>
                        <th class="text-center info" colspan="6" style="text-align:center;background-color: #366497;color:white">Proposta</th>
                    </tr>
                    <tr>
                        <th class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                            A)  Datas da Proposta 
                        </th>
                    </tr>                                              
                    <tr>
                        <th class="text-center" colspan="1">Data de validade da Proposta</th>
                        <td class="text-center" colspan="5">
                            
                            30 (Trinta) dias contados de {!DAY(quote.Submission_Date__c)} de <apex:outputText value=" {!CASE(MONTH(quote.Submission_Date__c),
                                                                                                                         1, 'Janeiro',
                                                                                                                         2, 'Fevereiro',
                                                                                                                         3, 'Março', 
                                                                                                                         4, 'Abril', 
                                                                                                                         5, 'Maio', 
                                                                                                                         6, 'Junho',
                                                                                                                         7, 'Julho',
                                                                                                                         8, 'Agosto',
                                                                                                                         9, 'Setembro',
                                                                                                                         10, 'Outubro',
                                                                                                                         11, 'Novembro',
                                                                                                                         12, 'Dezembro',
                                                                                                                         '-')}" /> de {!quote.Submission_Date__c.Year+1900}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                            B)  Empregados Elegíveis
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Número de Empregados Elegíveis</th>
                        <td class="text-center" colspan="5">{!CEILING(quote.Eligible_Employees__c)} empregados</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Dependentes incluídos?</th>
                        <td class="text-center" colspan="5">{!if(quote.Are_Family_Members_Included2__c == "No", 'Não', 'Sim')}<br/>
                            {!CEILING(quote.Number_of_Family_Members__c)} dependentes<br/> 
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Outras condições</th>
                        <td class="text-center" colspan="5">
                            {!quote.Other_Conditions_i_e_Pilot__c}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page-break">
                <table border="1" cellpadding="9">
                    <tr>
                        <th class="text-center info" colspan="9" style="background-color: #D9D9D9;">
                            C)  Condições da Mensalidade 
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="9">
                            Os Empregados elegíveis e dependentes terão a opção de comprar os Passes de Atividade Física para determinada categoria (conforme definido abaixo) de Academias por meio do pagamento da Mensalidade.
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center"><i>(BRL/mês)</i></th>

                        <td class="text-center">Basic I</td>
                        <td class="text-center">Basic II</td>
                        <td class="text-center">Silver</td>
                        <td class="text-center">Gold</td>
                        <td class="text-center">Gold+</td>
                        <td class="text-center">Platinum</td>
                        <td class="text-center">Black</td>
                    </tr>
                    <tr>
                        <th class="text-center">Valores de referência das academias</th>

                        <td class="text-center">{!copayPlan.Market_Value_Basic_I__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Basic_II__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Silver__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Gold__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Gold_Plus__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Platinum__c}</td>
                        <td class="text-center">{!copayPlan.Market_Value_Black__c}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Mensalidade para Empregados Elegíveis</th>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Basic_I__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Basic_II__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Silver__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Gold__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Gold_Plus__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Platinum__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Black__c}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Mensalidade para Dependentes</th>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Basic_I__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Basic_II__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Silver__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Gold__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Gold_Plus__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Platinum__c}</td>
                        <td class="text-center">{!copayPlan.Monthly_Fee_Family_Members_Black__c}</td> 
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Método de pagamento da Mensalidade</th>
                        <td colspan="8"><apex:outputfield value="{!quote.Payment_method__c}"/></td>
                    </tr>
                    <tr>
                        <th class="text-center info" colspan="9" style="background-color: #D9D9D9;">
                            D)  Condições da Taxa de Serviço e Taxa de Programação  
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="1"><b>Taxa de Programação</b> (taxa única)</td>
                        <td class="text-center" colspan="8">{!quote.Setup_Fee__c}</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Taxa de Serviço</th>
                        <td class="text-center" colspan="8"><apex:outputText value="{0, Number, {!quote.CurrencyIsoCODE}}"> <apex:param value="{!quote.TotalPrice}"/></apex:outputText><br/> <apex:outputfield value="{!quote.License_Fee_Frequency__c}"/></td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Método de pagamento da Taxa de Serviço</th>
                        <td class="text-center" colspan="8"><apex:outputfield value="{!quote.Payment_Method_License_Fee__c}"/></td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Outros Comentários</th>
                        <td class="text-center" colspan="8">
                            <apex:outputPanel rendered="{!quote.Waiver_Termination_Date__c != null}">
                                Isenção até: {!DAY(quote.Waiver_Termination_Date__c) } de <apex:outputText value=" {!CASE(MONTH(quote.Waiver_Termination_Date__c),
                                                                                                                     1, 'Janeiro',
                                                                                                                     2, 'Fevereiro',
                                                                                                                     3, 'Março', 
                                                                                                                     4, 'Abril', 
                                                                                                                     5, 'Maio', 
                                                                                                                     6, 'Junho',
                                                                                                                     7, 'Julho',
                                                                                                                     8, 'Agosto',
                                                                                                                     9, 'Setembro',
                                                                                                                     10, 'Outubro',
                                                                                                                     11, 'Novembro',
                                                                                                                     12, 'Dezembro',
                                                                                                                     '-')}" /> de {!quote.Waiver_Termination_Date__c.Year+1900}
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!quote.Waiver_Termination_Date__c == null}">
                                Não aplicável
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">Indexador de preço</th>
                        <td class="text-center" colspan="8">
                            Variação acumulada de 12 (doze) meses do IGPM\FGV.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page-break">
                <table border="1" cellpadding="9">
                    <tr>
                        <th class="text-center info" colspan="9" style="background-color: #D9D9D9;">
                            E)  Termos de Cobrança
                        </th>
                    </tr>
                    <tr>
                        <td rowspan="4" class="text-center info" colspan="1"><b>
                            Termos de Pagamento</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="8">
                            <u>Taxa de Programação:</u> Até {!quote.Payment_Terms_for_Setup_Fee__c} dias após o recebimento da fatura.
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="8">
                            <u>Taxa de Serviço:</u> Até {!quote.Payment_Terms_for_License_Fee__c} dias após o recebimento da fatura. 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="8">
                            <u>Mensalidade:</u> {!if(quote.Payment_Terms_for_Payroll_Debit_Memo__c == null || quote.Payment_method__c == 'Credit Card'|| quote.Payment_method__c == 'Bank Charge', 'Não Aplicável', 'Até ' & Text(quote.Payment_Terms_for_Payroll_Debit_Memo__c)  & ' dias após o recebimento do Memorando de Débito em Folha de Pagamento.')}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1">CNPJ/MF</th>
                        <td class="text-center" colspan="8">{!quote.Company_Tax_Reference__c}</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Endereço de cobrança da empresa</b></th>
                        <td class="text-center" colspan="5"><u>Para faturas:</u>
                            <apex:outputText value=" {!quote.BillingStreet}"/><br/>
                            Cidade:<apex:outputText value=" {!quote.BillingCity}"/><br/>
                            CEP:<apex:outputText value=" {!quote.BillingPostalCode}"/><br/>
                            Estado:<apex:outputText value=" {!quote.BillingState}"/><br/>
                            País:<apex:outputText value=" {!quote.BillingCountry}"/><br/>
                            <br/>Memorando de Débito em Folha de Pagamento: será enviado por e-mail para a pessoa de contato do Financeiro, como especificado no Anexo A.</td>
                    </tr>
                    <tr>
                        <th class="text-center info" colspan="9" style="background-color: #D9D9D9;">
                            F)  Requisitos de comunicações
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="9">
                            <b>A Empresa irá:</b><br />                            
                            <ul>
                                <apex:outputPanel rendered="{!quote.Contact_Permission__c == 'Allowlist'}">
                                    <li>Comunicar das condições da Mensalidade especificada na Proposta para seus Empregados Elegíveis e promover a adesão dos Passes de Atividade Física. A Empresa irá promover os Passes de Atividade Física (i) enviando um e-mail de boas-vindas antes da Data de Lançamento a todos os Empregados Elegíveis (ii) postando informações sobre o Programa em sua intranet e (iii) colocando materiais e pôsteres sobre os Passes de Atividade Física nos espaços de trabalho da Empresa.</li>
                                    
                                    <li>Apoiar o  Gympass na promoção do benefício para os Empregados Elegíveis da Empresa via iniciativas no local de trabalho, incluindo sem limitação, a introdução do programa para todos novos empregados durante o processo de integração ou equivalente.</li> 
                                    
                                    <li>Permitir que o  Gympass promova o Programa e as condições da  Mensalidade por meio de materiais colocados nos locais de trabalho no período de duração do Contrato.</li>
                                    <li>Permitir que o Gympass comunique-se com os Empregados Elegíveis para promover o Programa e as Condições da Mensalidade. 
                                    </li>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!quote.Contact_Permission__c == 'Sign-up only'}">
                                    <li>Comunicar das condições da Mensalidade especificada na Proposta para seus Empregados Elegíveis e promover a adesão dos Passes de Atividade Física. A Empresa irá promover os Passes de Atividade Física (i) enviando um e-mail de boas-vindas antes da Data de Lançamento a todos os Empregados Elegíveis (ii) postando informações sobre o Programa em sua intranet e (iii) colocando materiais e pôsteres sobre os Passes de Atividade Física nos espaços de trabalho da Empresa.</li>
                                    
                                    <li>Apoiar o  Gympass na promoção do benefício para os Empregados Elegíveis da Empresa via iniciativas no local de trabalho, incluindo sem limitação, a introdução do programa para todos novos empregados durante o processo de integração ou equivalente.</li> 
                                    
                                    <li>Permitir que o  Gympass promova o Programa e as condições da  Mensalidade por meio de materiais colocados nos locais de trabalho no período de duração do Contrato.</li>
                                    <li>Permitir que o Gympass comunique-se com os Empregados que fizeram Sign Up para promover o Programa e as Condições da Mensalidade. 
                                    </li>
                                </apex:outputPanel>  
                                
                                <apex:outputPanel rendered="{!quote.Contact_Permission__c == 'Active members only'}">
                                    <li>Comunicar das condições da Mensalidade especificada na Proposta para seus Empregados Elegíveis e promover a adesão dos Passes de Atividade Física. A Empresa irá promover os Passes de Atividade Física (i) enviando um e-mail de boas-vindas antes da Data de Lançamento a todos os Empregados Elegíveis (ii) postando informações sobre o Programa em sua intranet e (iii) colocando materiais e pôsteres sobre os Passes de Atividade Física nos espaços de trabalho da Empresa.</li>
                                    
                                    <li>Apoiar o  Gympass na promoção do benefício para os Empregados Elegíveis da Empresa via iniciativas no local de trabalho, incluindo sem limitação, a introdução do programa para todos novos empregados durante o processo de integração ou equivalente.</li> 
                                    
                                    <li>Permitir que o  Gympass promova o Programa e as condições da  Mensalidade por meio de materiais colocados nos locais de trabalho no período de duração do Contrato.</li>
                                    <li>Permitir que o Gympass comunique-se com os Empregados Ativos para promover o Programa e as Condições da Mensalidade. 
                                    </li>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!quote.Contact_Permission__c == 'Blocklist'}">
                                    <li>Comunicar das condições da Mensalidade especificada na Proposta para seus Empregados Elegíveis e promover a adesão dos Passes de Atividade Física. A Empresa irá promover os Passes de Atividade Física (i) enviando um e-mail de boas-vindas antes da Data de Lançamento a todos os Empregados Elegíveis (ii) postando informações sobre o Programa em sua intranet e (iii) colocando materiais e pôsteres sobre os Passes de Atividade Física nos espaços de trabalho da Empresa.</li>
                                    
                                    <li>Apoiar o  Gympass na promoção do benefício para os Empregados Elegíveis da Empresa via iniciativas no local de trabalho, incluindo sem limitação, a introdução do programa para todos novos empregados durante o processo de integração ou equivalente.</li> 
                                    
                                    <li>Permitir que o  Gympass promova o Programa e as condições da  Mensalidade por meio de materiais colocados nos locais de trabalho no período de duração do Contrato.</li>
                                </apex:outputPanel>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page-break">
                <p>
                    Mais uma vez agradecemos pela oportunidade de apresentar esta Proposta. Ao firmar esta proposta, você declara ter plenos poderes para obrigar a Empresa e se vincular contratualmente nos termos e condições contidos nesta Proposta e em seus anexos.
                </p>
                <br/><br/>
                São Paulo, <apex:outputText value="{0, date, MMMM d', 'yyyy}"><apex:param value="{!quote.Submission_Date__c + 30}"/></apex:outputText>
                <!--São Paulo, {!DAY(quote.Submission_Date__c)} de <apex:outputText value=" {!CASE(MONTH(quote.Submission_Date__c),
                                                                                                                         1, 'Janeiro',
                                                                                                                         2, 'Fevereiro',
                                                                                                                         3, 'Março', 
                                                                                                                         4, 'Abril', 
                                                                                                                         5, 'Maio', 
                                                                                                                         6, 'Junho',
                                                                                                                         7, 'Julho',
                                                                                                                         8, 'Agosto',
                                                                                                                         9, 'Setembro',
                                                                                                                         10, 'Outubro',
                                                                                                                         11, 'Novembro',
                                                                                                                         12, 'Dezembro',
                                                                                                                         '-')}" /> de {!quote.Submission_Date__c.Year+1900}-->
                <br/><br/>
                _________________________________________
                <br/>
                <b>GPBR PARTICIPAÇÕES LTDA</b>
                <br/>
                <b>Leandro Farah Caldeira</b>
                <br/><br/>
                <b>DE ACORDO, <apex:outputText value="{0, date, MMMM d', 'yyyy}"><apex:param value="{!quote.Submission_Date__c + 30}"/></apex:outputText></b>
                <!--<b>DE ACORDO, {!DAY(quote.Submission_Date__c)} de <apex:outputText value=" {!CASE(MONTH(quote.Submission_Date__c),
                                                                                                                         1, 'Janeiro',
                                                                                                                         2, 'Fevereiro',
                                                                                                                         3, 'Março', 
                                                                                                                         4, 'Abril', 
                                                                                                                         5, 'Maio', 
                                                                                                                         6, 'Junho',
                                                                                                                         7, 'Julho',
                                                                                                                         8, 'Agosto',
                                                                                                                         9, 'Setembro',
                                                                                                                         10, 'Outubro',
                                                                                                                         11, 'Novembro',
                                                                                                                         12, 'Dezembro',
                                                                                                                         '-')}" /> de {!quote.Submission_Date__c.Year+1900}</b>-->
                <br/><br/>
                _____________________________________
                <br/>
                <b>{!quote.Account.Name}<br/>
                    Por:{!quote.Contact.Name} <br/>
                    Cargo:{!quote.Contact.Cargo__c}<br/>
                    CPF:</b>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="page-break">
                <p style="text-align: center;">
                    <b>ANEXO A – INFORMAÇÕES OPERACIONAIS/DE FATURAMENTO</b>
                </p>
                
                <table border="1" cellpadding="6">
                    <tr>
                        <td class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                            <b>A)  Mensalidade </b>
                        </td>
                    </tr>
                    
                    <tr>
                        <th class="text-center" colspan="1"><b>Data de corte da Mensalidade</b></th>
                        <td class="text-center" colspan="5">
                            <apex:outputPanel rendered="{!quote.Payment_method__c == 'Payroll' || quote.Payment_method__c == 'Payroll + Credit Card'}">
                                Dia {!quote.Membership_Fee_cut_off_date__c} de cada mês - O período de referência será o mês calendário e o Memorando de Débito será emitido no dia seguinte à data de corte. <br /><br />
                            </apex:outputPanel> 
                            <apex:outputPanel rendered="{!quote.Payment_method__c != 'Payroll' && quote.Payment_method__c != 'Payroll + Credit Card'}">
                                Não Aplicável <br /><br />
                            </apex:outputPanel> 
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Informação sobre o Pedido de Compra da Mensalidade</b></th>
                        <td class="text-center" colspan="5">
                            <apex:outputPanel rendered="{!quote.Payment_method__c == 'Payroll' || quote.Payment_method__c == 'Payroll + Credit Card'}">
                                Pedido de compra é necessário?<br/>
                                {!if(quote.MB_PO_Number_Required__c == "No", 'Não ', 'Sim ')}<br/><apex:outputfield value="{!quote.Membership_Fee_PO_Duration__c}"/>
                            </apex:outputPanel> 
                            <apex:outputPanel rendered="{!quote.Payment_method__c != 'Payroll' && quote.Payment_method__c != 'Payroll + Credit Card'}">
                                Não Aplicável <br /><br />
                            </apex:outputPanel> 
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="6"><b>Nota importante</b><br /><br /><u>Memorando de Débito em Folha de Pagamento:</u> será enviado por e-mail para a pessoa de contato do Departamento Financeiro, como especificado nos Contatos. Se algum outro processo for necessário, por favor preencha nas Outras condições abaixo.</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Outras condições</b></th>               
                        <td class="text-center" colspan="5">
                            <apex:outputPanel rendered="{!quote.Payment_method__c == 'Payroll' || quote.Payment_method__c == 'Payroll + Credit Card'}">
                                {!quote.Other_Conditions__c}
                            </apex:outputPanel> 
                            <apex:outputPanel rendered="{!quote.Payment_method__c != 'Payroll' && quote.Payment_method__c != 'Payroll + Credit Card'}">
                                Não Aplicável <br /><br />
                            </apex:outputPanel> 
                        </td>
                    </tr>
                    <td class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                        <b>B)  Taxa de serviço</b>
                    </td>
                    <tr>
                        <th class="text-center" colspan="1"><b>Data de corte da Taxa de Serviço</b></th>
                        <td class="text-center" colspan="5">Dia {!quote.License_Fee_cut_off_date__c} de cada mês - O período de referência será o mês calendário e a Nota Fiscal será emitida no segundo dia de cada mês.</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Informação sobre o Pedido de Compra da Taxa de Serviço</b></th>
                        <td class="text-center" colspan="5">
                            Pedido de compra é necessário?<br/>
                            {!if(quote.LF_PO_Number_Required__c == "No", 'Não ', 'Sim')}<br/>
                            <apex:outputfield value="{!quote.License_Fee_PO_Duration__c}"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page-break">
                <table border="1" cellpadding="6">
                    <tr>
                        <td class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                            <b>C)  Informações requeridas na plataforma </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="6">
                            Os dados da Empresa fornecidos ao Gympass deverão incluir:<br/> 
                            {!if((quote.Employee_Name__c = true),'Employee Name','')}<br/>
                            {!if((quote.Employee_National_ID_if_applicable__c = true),'Employee National ID','')}<br/>
                            {!if((quote.Employee_Company_ID__c = true),'Employee Company ID','')}<br/>
                            {!if((quote.Employee_Corporate_Email__c= true),'Employee Corporate Email','')}<br/> 
                            <b>,e devem ser enviados em até 5 (cinco) dias antes da data de corte especificada no item (A).</b> 
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Identificador único para a plataforma do Gympass</b></th>
                        <td class="text-center" colspan="1">A empresa deverá fornecer ao Gympass &nbsp; <apex:outputfield value=" {!quote.Unique_Identifier__c} " /> de todos os Empregados Elegíveis e atualizar a lista mensalmente para permitir a efetiva comunicação dos Serviços de Academia.</td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="6" style="background-color: #D9D9D9;">
                            <b>D)  Contratantes ou subsidiárias adicionais</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="6">
                            {!quote.Number_of_Additional_Subsidiaries__c}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="1" style="background-color: #D9D9D9;">
                            <b>E) Contatos na empresa</b>
                        </td>
                        <td class="text-center info" colspan="5" style="background-color: #D9D9D9;">
                            <b>Nome | E-mail | Telefone</b>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Administrador</b></th>
                        <td class="text-center" colspan="5">
                            Nome: {!quote.Administrator__r.Name}<br/> 
                            E-mail: {!quote.Administrator__r.Email}<br/> 
                            Telefone: {!quote.Administrator__r.Phone}<br/>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Finanças</b></th>
                        <td class="text-center" colspan="5">
                            Nome: {!quote.Finance__r.Name}<br/> 
                            E-mail: {!quote.Finance__r.Email}<br/> 
                            Telefone: {!quote.Finance__r.Phone}<br/>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Operações</b></th>
                        <td class="text-center" colspan="5">
                            Nome: {!quote.Operations__r.Name}<br/>   
                            E-mail: {!quote.Operations__r.Email}<br/>   
                            Telefone: {!quote.Operations__r.Phone}<br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center info" colspan="1" style="background-color: #D9D9D9;">
                            <b>F) Contatos no Gympass</b>
                        </td>
                        <td class="text-center info" colspan="5" style="background-color: #D9D9D9;">
                            <b>E-mail</b>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Jurídico</b></th>
                        <td class="text-center" colspan="5">legal.latam@gympass.com</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Relacionamento</b></th>
                        <td class="text-center" colspan="5">
                            {!quote.Gympass_Relationship_E_mail__c}<br/>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="1"><b>Contas a Receber</b></th>
                        <td class="text-center" colspan="5">cobranca@gympass.com</td>
                    </tr>
                </table>
            </div>
            <div class="page-break">
                <apex:outputPanel rendered="{!quote.Number_of_Subsidiaries__c != 0}">
                <p style="text-align: center;">

                    <b>ANEXO B – CONTRATANTES OU SUBSIDIRÁRIAS ADICIONAIS</b>
                </p>
                </apex:outputPanel>

                            
                <apex:variable var="cnt" value="{!0}" /> 
                <apex:repeat value="{!quote.ProposalSubsidiaries__r}" var="sub">
                    <apex:variable var="cnt" value="{!cnt+1}"/>
                    <table border="1" cellpadding="6">
                        <tr>
                            <td class="text-center info" colspan="6" style="background-color: #244061;">
                                <b style="color:white">Sociedade adicional {!cnt}</b>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1" style="background-color: #D9D9D9;"><b>Nome da Empresa (como registrado)</b></th>
                            <td class="text-center" colspan="5">
                                {!sub.Subsidiary__r.Name}
                            </td>
                        </tr>   
                        <tr>
                            <th class="text-center" colspan="1" style="background-color: #D9D9D9;"><b>Número de Empregados Elegíveis</b></th>
                            <td class="text-center" colspan="5">
                                {!sub.Subsidiary__r.Subsidiary_Number_of_Eligible_Employees__c}                            
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1" style="background-color: #D9D9D9;"><b>CNPJ</b></th>
                            <td class="text-center" colspan="5">
                                {!sub.Subsidiary__r.CNPJ__c}                            
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1" style="background-color: #D9D9D9;"><b>Endereço de Cobrança</b></th>
                            <td class="text-center" colspan="5">
                                {!sub.Subsidiary__r.Billing_Address__c}                            
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1" style="background-color: #D9D9D9;"><b>Detalhes do contato da Contratante</b></th>
                            <td class="text-center" colspan="5" style="background-color: #D9D9D9;"><b>Nome | E-mail | Telefone</b></td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1"><b>Administrador</b></th>
                            <td class="text-center" colspan="5">
                                Nome: {!sub.Subsidiary__r.Subsidiary_Administrator_Name__c}<br/> 
                                E-mail: {!sub.Subsidiary__r.Subsidiary_Administrator_E_mail__c}<br/> 
                                Telefone: {!sub.Subsidiary__r.Subsidiary_Administrator_Phone__c}<br/>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1"><b>Finanças</b></th>
                            <td class="text-center" colspan="5">
                                Nome: {!sub.Subsidiary__r.Subsidiary_Finance_Name__c}<br/> 
                                E-mail: {!sub.Subsidiary__r.Subsidiary_Finance_E_mail__c}<br/> 
                                Telefone: {!sub.Subsidiary__r.Subsidiary_Finance_Phone__c}<br/>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="1"><b>Operações</b></th>
                            <td class="text-center" colspan="5">
                                Nome: {!sub.Subsidiary__r.Subsidiary_Operations_Name__c}<br/>   
                                E-mail: {!sub.Subsidiary__r.Subsidiary_Operations_E_mail__c}<br/>   
                                Telefone: {!sub.Subsidiary__r.Subsidiary_Operations_Phone__c}<br/>
                            </td>
                        </tr>
                    </table>
                    <br/>
                </apex:repeat>
            </div>
        </body>
    </html>
</apex:page>