<template>

    <section role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            
            <!-- modal header -->
            <div class="slds-modal__header">
                <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalHeader}</h1>
            </div>
            
            <!-- modal body -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <lightning-datatable
                    key-field="id"
                    data={contactsList}
                    columns={columns}>
                </lightning-datatable>
            </div>
            
            <!-- modal footer -->
            <div class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" 
                        onclick={handleCancel}>
                        {backButtonLabel}
                </button>
                <button class="slds-button slds-button_neutral" 
                        onclick={handleManageContacts}>
                        {manageContactsButtonLabel}
                </button>
            </div>
        </div>
    </section>
        
    <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
 
</template>