<template>
    <div class="slds-m-top_medium slds-m-bottom_medium">
        <template if:true={isDealDeskitems}>
            <template for:each={listItemsNeedApproval} for:item="item">
                <div key={item.label} class="slds-m-bottom_small">
                    <lightning-badge key={item.conditionCode} label={item.approvalCondition} class={item.class} ></lightning-badge>
                </div>
            </template>
        </template>

        <template if:false={isDealDeskitems}>
            <template for:each={listItemsNeedApproval} for:item="item">
                <div key={item.label} class="slds-m-bottom_small">
                    <lightning-badge label={item.label} class={item.class} ></lightning-badge>
                </div>
            </template>
        </template>        
    </div>
</template>