<template>

    <div class="slds-section slds-is-open" style="background-color: white;">

        <h3 class="slds-section__title slds-theme_shade">
            <span class="slds-truncate slds-p-horizontal_small" style="font-weight: 500;"
                title={sectionTitle}>{sectionTitle}</span>
        </h3>

        <div aria-hidden="false" class="slds-section__content">

            <lightning-layout multiple-rows>

                <lightning-layout-item padding="around-medium" size="12">
                    <div class="header-column">
                        <p class="field-title" title="Approval">Approval</p>
                        <div class="approvalSpinnerHolder">
                            <lightning-spinner if:true={isCheckingApprovalNeed} alternative-text="Loading" size="small" variant="brand"></lightning-spinner>
                            <lightning-badge if:false={isCheckingApprovalNeed} label={approval} class={needApprovalClass}></lightning-badge>
                        </div>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item padding="around-medium" size="12">
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-no-row-hover"
                        aria-label="Waivers table">
                        <thead style="height: 2.2rem;">
                            <tr class="slds-line-height_reset">
                                <th class="slds-cell_action-mode" scope="col" style="padding: 0.3rem; width:3.25rem;">
                                    <div class="slds-assistive-text" title="Ordinal">Ordinal</div>
                                </th>
                                <th scope="col" style="border-right: 1px solid #B0ADAB; width:12rem;">
                                    <div title="Percentage">Percentage</div>
                                </th>
                                <th scope="col" style="border-left: 1px solid #B0ADAB; width:12rem;">
                                    <div title="Duration">Duration</div>
                                </th>
                                <th scope="col" style="padding: 0.3rem; width:3.25rem">
                                    <div class="slds-assistive-text" title="Delete">Delete</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={waivers} for:item="waiver">
                                <tr key={waiver.Position__c} class="slds-hint-parent">
                                    <td class="slds-cell_action-mode" role="gridcell" data-label="Ordinal"
                                        style="padding: 0.3rem; text-align: center;">
                                        <div title={waiver.ordinal}>{waiver.ordinal}</div>
                                    </td>
                                    <td>
                                        <div title={waiver.Percentage__c}>
                                            <lightning-combobox data-label="Percentage" data-id={waiver.Position__c}
                                                value={waiver.Percentage__c} placeholder="Select Percentage"
                                                options={percentageOptions} onchange={handlePercentageChange}
                                                variant="label-hidden" dropdown-alignment="bottom-left">
                                            </lightning-combobox>
                                        </div>
                                    </td>
                                    <td>
                                        <div title={waiver.Duration__c}>
                                            <lightning-combobox data-label="Duration" data-id={waiver.Position__c}
                                                value={waiver.End_Date_Text__c} placeholder="Select Duration"
                                                options={durationOptions} onchange={handleDurationChange}
                                                variant="label-hidden" dropdown-alignment="bottom-left">
                                            </lightning-combobox>
                                        </div>
                                    </td>
                                    <td class="slds-cell_action-mode" role="gridcell"
                                        style="padding: 0; text-align: center;">
                                        <lightning-button-icon icon-name="utility:delete" alternative-text="Delete"
                                            class="slds-m-left_xx-small" title="Delete" data-id={waiver.Position__c}
                                            onclick={handleDeleteWaiver}></lightning-button-icon>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>

                </lightning-layout-item>

                <lightning-layout-item padding="horizontal-medium" size="12">
                    <lightning-button label="Add" title="Add Waiver" icon-name="utility:add" onclick={handleAddWaiver}>
                    </lightning-button>
                </lightning-layout-item>


            </lightning-layout>

        </div>

    </div>


</template>