table {
    border: 1px solid #DDDBDA; 
    box-sizing: border-box; 
    border-radius: 4px; 
    table-layout: fixed;
    width: 100%;
}

.approvalSpinnerHolder{
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
}