<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-01-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open c-max-width">
        <div class="slds-modal__container">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeAction}>
                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                </lightning-icon>             
            </button>
        <div class="slds-modal__header">
        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Edit all</h1>
        </div>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <div class="slds-p-horizontal_x-large slds-m-bottom_large">
            <lightning-radio-group name="radioGroup"
                          label="Choose a catergory to edit"
                          options={options}
                          value={value}
                          type="radio"
                          onchange={handleOptionChoice}
                          required>
            </lightning-radio-group>
        </div>
        </div>
   
        <div class="slds-modal__footer slds-clearfix">
        <button class="slds-button slds-button_neutral slds-float_left" aria-label="Cancel and close" onclick={closeAction}>Go back</button>
        <button class="slds-button slds-button_brand slds-float_right" onclick={handleScreen}>Continue</button>
        </div>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>

        <div if:true={showEditScreen}>
            <c-partner-setup-edit selected-records={selectedRecords} selected-option={selectedOption} received-data={receivedData} oncloseeditmodal={closeEditModal} ></c-partner-setup-edit>
        </div>
        
</template>