.padding-top-50{
    padding-top: 50px;
}

.margin-top-20{
    margin-top: 20px;
}

.border{
    border-top: 2px solid rgb(212, 212, 231);
}

.title{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: x-large;
    font-weight: bold;
}

.inline div {
    float: left;
    clear: none; 
}

.padding-top-22 {
    padding-top:22px;
}

.padding-left-10 {

    padding-left: 10px;
}

.current_filter {
    color: rgb(8, 7, 7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    cursor: pointer;
}
 
.current_filter:hover {
    text-decoration: underline;
}

.THIS .slds-table tr th:first-child{
    width: 0px !important;
}