<template>
    
    <lightning-record-view-form
    record-id={recordId}
    object-api-name="Massive_Account_Request__c"
    >
        <ul class="slds-list_horizontal title slds-p-horizontal_small">
            <li><p>{label.LABEL_COMMUNITY_MULTIPLE_COMPANY} &nbsp; | &nbsp; </p></li>
            <li><lightning-output-field variant="label-hidden" field-name="Name"></lightning-output-field></li>
        </ul>
    </lightning-record-view-form>


    <div class="slds-clearfix border slds-p-horizontal_medium slds-p-bottom_small">
        
        <div class="slds-float_left">
            <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center" >
                <div class="slds-icon_container">
                    <lightning-icon 
                        size="medium"
                        icon-name="standard:account" 
                        alternative-text="Account" 
                        title="Account">
                    </lightning-icon>
                </div>
                        
                <div class="slds-form-element padding-left-10 ">
                    <div class="slds-form-element__control">
                        <div class="slds-combobox_container slds-size_small">
                            
                            <div class={dropdownTriggerClass} aria-expanded="false"  aria-haspopup="listbox" role="combobox">
                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right "
                                    role="none" onclick={handleClickExtend}>
                                    <p class="padding-top-50">{label.LABEL_COMMUNITY_CONDITION}</p>
                                    <span  class="current_filter"> {selectedLabel}
                                        
                                        <lightning-icon
                                            class="slds-button__icon slds-icon-utility-down slds-icon_container forceIcon"
                                            data-data-rendering-service-uid="232" data-aura-rendered-by="371:0"
                                            data-aura-class="forceIcon" icon-name="utility:down" size="x-small">
                                        </lightning-icon>
                                    </span>
                                </div>
                                <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                        <template for:each={options} for:item="option">
                                            <li role="presentation" class="slds-listbox__item" key={option.value}>
                                                <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                                    data-filter={option.value} onclick={handleFilterChangeButton}>
                                                    <span class="slds-media__figure slds-listbox__option-icon"
                                                        data-filter={option.value}></span>
                                                    <span class="slds-media__body" data-filter={option.value}>
                                                        <span class="slds-truncate" title="Option A"
                                                            data-filter={option.value}>{option.label}</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div><div class="slds-grid slds-grid_vertical-align-center slds-p-vertical_medium">
                        <p class="slds-text-body_small slds-text-color_weak">{lengthResult} {label.LABEL_COMMUNITY_ITEMS_FILTERED}</p>
                    </div> 
                </div>
                
            </div>    
        </div>
        
        <div class="inline slds-float_right padding-top-50">

            <div >             
                <div style='float: right;'>
                    <!--<lightning-button label="Run batches again" onclick={runBatches} class="slds-m-right_x-small"></lightning-button>-->
                    <lightning-button label={label.LABEL_COMMUNITY_GENERATE_PDF} onclick={generatePdf}></lightning-button>
                </div>
                </br>
                <div class="slds-grid slds-wrap" >
                    <div class="slds-col">
                        <lightning-input
                            name="enter-search"
                            type="search"
                            placeholder={label.LABEL_COMMUNITY_QUICK_FIND}
                            onchange={handleKeyChange} 
                        ></lightning-input>
                    </div>
                </div>                  
            
            </div>      
        </div>
    </div>  
    <lightning-card>
        <div >
            <template if:false={isCountryBrazil}>
            
                <template if:true={accountRequestRecord}>
                    <lightning-datatable 
                        key-field="Id"
                        data={accountRequestRecord}
                        columns={columns}
                        onsave={handleSave}
                        draft-values={draftValues}
                        hide-checkbox-column="true"
                        
                        >
                    </lightning-datatable>
                </template>
            </template>

            <template if:true={isCountryBrazil}>
            
                <template if:true={accountRequestRecord}>
                    <lightning-datatable 
                        key-field="Id"
                        data={accountRequestRecord}
                        columns={columnsBR}
                        onsave={handleSave}
                        draft-values={draftValues}
                        hide-checkbox-column="true"
                        
                        >
                    </lightning-datatable>
                </template>
            </template>
            <template if:true={accountRequestRecord.error}>
                <!-- handle Apex error -->
            </template>
        </div>
    </lightning-card> 
</template>