<!--
  @description       : 
  @author            : gft.jorge.stevaux@ext.gympass.com
  @group             : 
  @last modified on  : 06-03-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->

<template>

  <!-- Modal/Popup Box LWC starts here -->
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <div if:true={spinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
      </div>
      <!-- Modal/Popup Box LWC header here -->
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
          onclick={handleGoBack}>
          <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
          </lightning-icon>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">CMS information</h2>
      </header>
      <!-- Modal/Popup Box LWC body starts here -->
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

        <lightning-record-edit-form object-api-name="Account">
          <lightning-messages> </lightning-messages>
          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field class="validate" field-name="Does_this_partner_use_CMS__c" required>
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
            </div>
          </div>

          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_4-of-6">

              <lightning-input-field field-name="Club_management_system_name__c">
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
            </div>
          </div>

          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field field-name="Partner_agreed_to_have_integration_API__c">
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field data-id="hideicon" field-name="Tech_Sales__c">
              </lightning-input-field>
            </div>
          </div>

          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field field-name="Integration_fee_deduction_new__c">
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field class="hideicon" field-name="Value_Integration_Fee_Deduction__c">
              </lightning-input-field>
            </div>
          </div>

          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field field-name="Send_Email_Tech_Sales__c">
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field class="hideicon" field-name="Request_for_self_checkin__c">
              </lightning-input-field>
            </div>
          </div>

          <div class="slds-grid slds-gutters slds-m-bottom_small">
            <div class="slds-col slds-size_1-of-2">

              <lightning-input-field field-name="Checkin_expiration__c">
              </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
            </div>
          </div>

        </lightning-record-edit-form>
        <div class="slds-m-bottom_large"></div>

      </div>
      <!-- Modal/Popup Box LWC footer starts here -->
      <footer class="slds-modal__footer">
        <button class="slds-button slds-float_left slds-button_neutral" onclick={handleGoBack}>Go back</button>
        <button class="slds-button slds-button_brand" onclick={submitDetails} title="Save">Save</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>

</template>