<!--
  @description       :
  @author            : bruno.mendes@gympass.com
  @group             :
  @last modified on  : 06-03-2022
  @last modified by  : gft.jorge.stevaux@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        class="slds-modal slds-fade-in-open c-max-width">

        <div class="slds-modal__container">
            <div if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>

            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleGoBack}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Legal representative</h2>
                <!-- ## dynamic message -->
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">



                <div class="slds-float">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2 slds-m-around_small" style="z-index:3">
                            <c-lookup scroll-after-n-items=7 onselectionchange={handleSearchContactLookup}
                                onsearch={handleSearch} label="Add an existing contact" placeholder="Search"
                                min-search-term-length=2></c-lookup>
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-m-around_small" style="z-index:2">
                            <template if:false={hasNewContact}>
                                <div class="c-text-color c-text-size c-m-bottom_x-small">
                                    Or
                                </div>
                                <lightning-button variant="brand-outline" label="Create New Contact"
                                    title="Create New Contact" onclick={openCreateNewContactModal}>
                                </lightning-button>
                            </template>
                            <template if:true={hasNewContact}>
                                <div class="c-text-color c-text-size">
                                    New contact
                                </div>
                                <div>
                                    <table class={getOpacity}>
                                        <tbody>
                                            <tr key={newContact.fields.LastName}>
                                                <th scope="col" class="c-align-right c-vertical-padding c-p-left_none">
                                                    <lightning-icon icon-name="standard:contact"
                                                        alternative-text="Contact" title="Contact"></lightning-icon>
                                                </th>
                                                <th scope="col" class="c-align-center c-vertical-padding">
                                                    <div>{newContact.fields.FirstName} {newContact.fields.LastName}
                                                    </div>
                                                    <div>
                                                        <lightning-formatted-text value={newContact.fields.Email}
                                                            linkify>
                                                        </lightning-formatted-text>
                                                    </div>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>


                <div if:true={showCreateNewContactModal}>
                    <c-network-builder-create-new-contact account-id={selectedAccount}
                        partner-flow-id={contactRecordTypeId} onclose={handleCloseCreateNewContactModal}
                        onsavecontact={handleSaveContact}>
                    </c-network-builder-create-new-contact>
                </div>

            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-float_left slds-button_neutral" onclick={handleGoBack}>Go back</button>
                <button class="slds-button slds-button_brand" onclick={handleSave} title="Save">Save</button>

                <!-- <lightning-button variant="brand" label="Save" class="slds-m-around_small slds-float_right"
                    onclick={handleSave}>
                </lightning-button> -->

            </footer>
        </div>
    </section>

    <div class="slds-backdrop slds-backdrop_open"></div>
</template>