<template>
    <div class={editAccessClass}>
        <label class="slds-form-element__label">
            <!-- if is required field -->
            <abbr if:true={required} title="required" class="slds-required">*</abbr>
            {label}
        </label>
    
        <div class="slds-form-element__control">
            <div class={getComboboxGroupClass}>
                <template if:true={showSearchOptions}>
                    <div class="slds-combobox_object-switcher slds-combobox-addon_start">
                        <div class="slds-form-element">
                   
                            <div class="slds-form-element__control">
                                <lightning-combobox
                                    variant="label-hidden"
                                    value={searchBy}
                                    options={searchOptions}
                                    onchange={searchOptionChanged}
                                    disabled={disabled}
                                    readonly={readonly} ></lightning-combobox>
                            </div>
                        </div>
                    </div>
                </template>
            
                <div class={getContainerClass}>
                    <div class={comboboxClass} role="combobox">
                        <template if:true={showSelectedRecord}>
                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
                                <span class="slds-icon_container slds-combobox__input-entity-icon" title="Account">
                                    <lightning-icon icon-name={iconName} size="small" ></lightning-icon>
                                </span>
                                <input type="text" disabled={disabled} class="slds-input slds-combobox__input slds-combobox__input-value" role="textbox" readonly="" value={fieldToDisplay}/>
                                <button if:true={canRemoveSelected} class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Remove selected option">
                                    <lightning-icon icon-name="utility:close" size="x-small" onclick={clear}></lightning-icon>
                                </button>
                          </div>
                        </template>
  
                        <template if:false={showSelectedRecord}>
                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                <lightning-input
                                    data-id="searchBox"
                                    type="search"
                                    onclick={onClick}
                                    onkeyup={onKeyUp}
                                    onblur={onBlur}
                                    variant="label-hidden"
                                    disabled={disabled}
                                    readonly={readonly}
                                    class="slds-combobox__input"
                                    placeholder={placeholder}
                                    value={searchString} ></lightning-input>
                            </div>
                        </template>
                        
                        <!-- dropdown section with suggested records and new record action -->
                        <div class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul style="min-height: 32px;" class="slds-listbox slds-listbox_vertical" role="presentation" onmousedown={onMouseDown}>
                                <lightning-spinner if:true={isLoading} alternative-text="Loading" size="small" ></lightning-spinner>
                                <div if:true={noEntriesFound} class="slds-align_absolute-center">{noEntriesMsg}</div>
                                <template for:each={listOfSearchRecords} for:item="record" >
                                    <c-generic-lookup-item key={record.id} record={record} icon-name={iconName} onselect={handleItemSelected} ></c-generic-lookup-item>
                                </template>
  
                                <template if:true={showNew}>
                                    <p role="separator" class="slds-has-divider_top-space"></p>
                                    <li role="presentation" class="slds-listbox__item" onclick={onClickNew}>
                                        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                            <span class="slds-media__body">
                                                <span class="slds-truncate">
                                                    <lightning-icon size="x-small" icon-name="utility:add" class="slds-icon-text-default slds-m-right--x-small slds-shrink-none" ></lightning-icon>
                                                    <span>{newLabel}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div if:true={hasLstSelectedRecords} class="pill-container">
                <template for:each={lstSelectedRecords} for:item="sr" for:index="index">
                    
                    <!-- normal pill behaviour to allow the selected elemets to be removed -->
                    <template if:true={isMultiSelectRemovable}>
                        <lightning-pill key={sr.id} class="slds-m-around_xx-small" label={sr.primary} name={index} onremove={removePill} tabindex={pillTabIndex}>
                            <lightning-icon icon-name={iconName} size="x-small" variant="circle"></lightning-icon>
                        </lightning-pill>
                    </template>

                    <!-- if the elements in multiselect are not up to be removed -->
                    <template if:false={isMultiSelectRemovable}>
                        <lightning-pill key={sr.id} class="slds-m-around_xx-small" label={sr.primary} name={index} onremove={alertNotRemovablePill} tabindex={pillTabIndex}>
                            <lightning-icon icon-name={iconName} size="x-small" variant="circle"></lightning-icon>
                        </lightning-pill>
                    </template>
                
                </template>
            </div>
        </div>
  
        <div if:true={error} class="slds-form-element__help">{error}</div>
    </div>

</template>