<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-18-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>

    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <template if:true={showAccountLst}>        
        <template for:each={accountGroup} for:item="accountLst">
            <lightning-accordion key={accountLst.key} active-section-name="opportunitySection"
                allow-multiple-sections-open>
                <lightning-card>
                    <lightning-accordion-section key={accountLst.key} name="opportunitySection"
                        label={opportunityNumber}>
                        <c-partner-child-opportunity-creator opportunity-id={opportunityId}
                            parent-account-id={parentAccountId} parent-account-name={parentAccountName}
                            account-lst={accountLst} onrefreshdata={handleRefreshData}> </c-partner-child-opportunity-creator>
                    </lightning-accordion-section>
                </lightning-card>
            </lightning-accordion>
        </template>
    </template>
</template>