.THIS .alert-title {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.THIS .main-content-container {
    margin-top: 1.5em;
    margin-left: 2em;
}

.THIS .adjustiments-content-container {
    margin-top: 1.5em;
    margin-left: 2em;
}