<template>
    <div class="slds-hide">
        <lightning-record-edit-form record-id={recordId} object-api-name={objectApiName} onload={handleOnLoad}>
            <lightning-messages> </lightning-messages>
            <lightning-input-field field-name={clientSuccessApproval} class="client_success_approval"></lightning-input-field>
            <lightning-input-field field-name={approvalStatus} class="approval_status"></lightning-input-field>
        </lightning-record-edit-form>
    </div>
    
    <template if:true={showComponent}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
            <span class="slds-assistive-text">warning</span>
            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small"
                title="Description of icon when needed">
                <lightning-icon icon-name="utility:warning" size="small" alternative-text="Approved" title="Warning"></lightning-icon>
            </span>
            <h2>{messageToShow}</h2>
        </div>
    </template>

</template>