<template>
    <article class="slds-card">
        <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        <div class="slds-card__header slds-grid slds-theme_shade cardHeader">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon icon-name="standard:quotes" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <a class="slds-card__header-link slds-truncate" title={title} onclick={navigateToRelatedList}>
                            <span>{headerTitle}</span>
                        </a>
                    </h2>
                </div>
                <div class="slds-no-flex">
                    <lightning-button label="Add Products" disabled={actionsDisabled} onclick={handleAddProducts}></lightning-button>
                </div>
            </header>
        </div>
        <div if:true={showTable} class="slds-card__body bodyTable">
            <c-reseller-plan-builder-table products={products} actions-disabled={actionsDisabled} oneditproduct={handleEditProduct} ondeleteproduct={handleDeleteProduct}></c-reseller-plan-builder-table>
        </div>
        <footer if:true={showTable} class="slds-card__footer cardFooter">
            <a class="slds-card__footer-action" onclick={navigateToRelatedList}>View All</a>
        </footer>
    </article>

    <c-smb-sku-add-products if:true={showAddProducts} record-id={recordId} currency-iso-code={currencyIsoCode} 
        onsave={handleSaveRecords} onclose={handleAddProductsClose}></c-smb-sku-add-products>
        
    <c-reseller-sku-edit if:true={showSkuEdit} record-id={recordToEdit} onupdaterecord={handleUpdateRecord} onclose={handleEditProductClose}></c-reseller-sku-edit>

    <c-smb-sku-delete if:true={showSkuDelete} record-id={recordToDeleteId} record-name={recordToDeleteName} ondeleterecord={handleDeleteRecord} onclose={handleDeleteClose}></c-smb-sku-delete>

</template>