.bodyTable{
    margin-top: 0;
    margin-bottom: 0;
}

.cardHeader {
    padding: var(--lwc-varSpacingVerticalSmall,0.75rem) var(--lwc-varSpacingHorizontalMedium,1rem) var(--lwc-varSpacingVerticalSmall,0.75rem);
    margin: 0;
}

.cardFooter {
    margin-top:0;
}