<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 05-05-2022
  @last modified by  : gft.samuel.silva@ext.gympass.com
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open  slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create New Contact</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium c-gray-color" id="modal-content-id-1">
                <lightning-record-edit-form object-api-name="Contact" record-type-id={partnerFlowId}>
                    <div class="slds-grid slds-wrap">
                        <template for:each={sectionWithFields} for:item="section">

                            <div key={section.key} class="slds-col slds-size_12-of-12">
                                <br/>
                            </div>
                            <template for:each={section.value} for:item="field">
                                <div key={field.apiName} class="slds-col slds-size_1-of-2">
                                    <template if:true={field.isPhone}>
                                        <lightning-input type="text" name={field.apiName} label={field.apiName} pattern="^\+[1-9]\d{9,14}$"
                                            class="c-input-contact slds-align_left"
                                            message-when-pattern-mismatch="Phone number format is invalid. Expected format +XXXXXXXXXXXX"
                                            field-level-help="Expected format +XXXXXXXXXXXX.">
                                        </lightning-input>
                                    </template>
                                    <template if:false={field.isPhone}>
                                        <lightning-input-field key={field.apiName} required={field.isRequired}
                                            field-name={field.apiName} name={field.apiName} class="c-input-contact slds-align_left">
                                        </lightning-input-field>
                                    </template>
                                </div>
                            </template>
                        </template>
                    </div>
                </lightning-record-edit-form>
            </div>
            <template if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </template>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-float_left slds-button_neutral" onclick={closeModal}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleContactCreation}>Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>