<!--
  @description       : 
  @author            : gft.samuel.silva@ext.gympass.com
  @group             : 
  @last modified on  : 04-17-2022
  @last modified by  : gepi@gft.com
-->
<template>
    <div class="slds-m-vertical_medium slds-clearfix ">
        <!-- <c-spinner if:true={showSpinner} size="small" message={spinnerMessage} alternative-text={spinnerMessage}>
         /c-spinner>-->
        <c-spinner if:true={showSpinner} size="small" message={spinnerMessage}>
        </c-spinner>
        <!-- <lightning-button variant="brand" label="Setup" title="Setup" class="slds-float_left" onclick={handleRedirectToMainOppMember}></lightning-button> -->
    </div>
</template>