.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .page-section {
    border: solid 1px #ccc;
    padding: 1rem;
}
.THIS .page-header,
.THIS .page-footer {
    height: 50px;
}
.THIS .page-main {
    background: #f8f8f8;
}
.THIS .page-left,
.THIS .page-right {
    background: #f0efef;
}
.THIS .tallTextArea textarea {
    border: solid 1px black;
    height: 50px;
}
.THIS .box {
    height: 100px;
    overflow:  visible;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
  }