<template>

    <div class="slds-modal__header">
        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Products</h1>
        <div class="slds-var-p-top_small" style="font-size: 0.83rem;">Set sales
            price if applicable</div>
    </div>

    <div class="slds-modal__content" id="modal-content-id-1">

        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_resizable-cols"
            aria-label="Add Products">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title=""></div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Product">Product</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Quantity">Quantity</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Sales Price">Sales Price</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title="Total Sales Price">Total Sales Price</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate header-cell" title=""></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={selectedProducts} for:item="product">
                    <tr key={product.Product2Id} class="slds-hint-parent">

                        <td>
                            <div class="slds-truncate" title={product.rowIndex}>{product.rowIndex}</div>
                        </td>

                        <td data-label="Product">
                            <div class="slds-truncate" title={product.Plan_Name__c}>
                                {product.Plan_Name__c}
                            </div>
                        </td>

                        <td data-label="Quantity">
                            <div class="slds-truncate" title={product.Quantity}>{product.Quantity}</div>
                        </td>

                        <td class="slds-cell-edit" role="gridcell">
                            <span class="slds-grid slds-grid_align-spread">

                                <c-generic-currency-input data-label="Sales Price" data-id={product.Product2Id}
                                    variant="label-hidden" value={product.UnitPrice} required
                                    currency-code={currencyIsoCode} currency-display-as="code" hide-error-message
                                    min="0" onchange={handleUnitPriceChange}></c-generic-currency-input>

                            </span>
                        </td>

                        <td data-label="Total Sales Price">
                            <div class="slds-truncate" title={product.Quantity}>
                                <lightning-formatted-number value={product.Subtotal} format-style="currency"
                                    currency-code={currencyIsoCode} currency-display-as="code">
                                </lightning-formatted-number>
                            </div>
                        </td>

                        <td class="slds-cell_action-mode" role="gridcell" style="padding: 0; text-align: center;">
                            <lightning-button-icon icon-name="utility:delete" alternative-text="Delete"
                                class="slds-m-left_xx-small" title="Delete" data-id={product.Product2Id}
                                onclick={handleDeleteProduct}></lightning-button-icon>
                        </td>

                    </tr>
                </template>
            </tbody>
        </table>

    </div>

    <div class="slds-modal__footer slds-modal__footer_directional">
        <button class="slds-button slds-button_neutral" aria-label="Back" onclick={handleBack}>Back</button>
        <button class="slds-button slds-button_neutral" aria-label="Cancel and close"
            onclick={handleCancel}>Cancel</button>
        <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
    </div>


</template>