.THIS .tooltip {
    position: relative;
    display: inline-block;
  }

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 125%;
}
  
.THIS .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 100%;
    margin-top: 10px;
    border-width: 5px;
  }
  
.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .section-header {
  background-color: orange;
}