<template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Account_Request__c" onsuccess={handleNext} onsubmit={handleSubmitCompany}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" type="button" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                    <div class="slds-p-bottom_x-small progressIndicator">
                        <lightning-progress-indicator current-step="1" type="base" variant="base">
                            <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                            <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                            <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                            <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                            <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                        </lightning-progress-indicator>                        
                    </div> 
                </header>

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-p-horizontal_xx-large">
                        <p class="slds-p-bottom_x-small">{company_labels.LABEL_WIZARD_TITLE}</p> 
                        <lightning-input-field field-name={company_fields.ACCOUNT_REQUEST_NAME} onchange={validaCompanyName} required></lightning-input-field>
                        <lightning-input-field field-name={company_fields.ACCOUNT_REQUEST_BUSINESS_NAME}></lightning-input-field>
                        <lightning-input-field field-name={company_fields.ACCOUNT_REQUEST_WEBSITE} onchange={validaWebSite} required={websiteRequired}></lightning-input-field>
                        <lightning-input-field field-name={company_fields.ACCOUNT_REQUEST_BILLING_COUNTRY} onchange={handleBillingCountry} required value={billingCountry}></lightning-input-field>
                        <lightning-input-field field-name={company_fields.ACCOUNT_REQUEST_UNIQUE_IDENTIFIER_TYPE} required={uniqueKeyRequired} value={uniqueIdentifierType} onchange={handleUniqueIdentifierType}></lightning-input-field>
                        <c-unique-key-custom-field oninvalid={handleValidate} label={company_labels.LABEL_COMMUNITY_UNIQUE_IDENTIFIER} value={uniqueKeyValueInput} unique-key={uniqueIdentifierType} onupdatekey={handleUpDateKey} is-required={uniqueKeyRequired}></c-unique-key-custom-field>
                    </div>           
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label={company_labels.LABEL_COMMUNITY_NEXT} disabled={isDisabledScreenCompany} type="submit"></lightning-button>
                    <template if:true={isAdminPermission}>
                    <lightning-button class="slds-float_left"  label={contact_label.LABEL_COMMUNITY_BACK} onclick={handleBack}></lightning-button>
                </template>
                    <lightning-button class="slds-float_left slds-p-left_xx-small" label={company_labels.LABEL_COMMUNITY_CLEAR} onclick={handleClear} ></lightning-button>
                </footer>
               
            </div>
        </section>
    </lightning-record-edit-form>  
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>