<!-- sldsValidatorIgnore -->
<template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Account_Request__c" onsuccess={handleNext} onsubmit={handleSubmitContact}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" type="button" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                    <div class="slds-p-bottom_x-small progressIndicator">
                        <lightning-progress-indicator current-step="3" type="base" variant="base">
                            <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                            <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                            <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                            <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                            <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                        </lightning-progress-indicator>                        
                    </div> 
                </header>

                <div style="overflow: visible">
                    <div class="slds-modal__content pickListOverflow slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-p-horizontal_xx-large">
                            <p class="slds-p-bottom_x-small">{contact_label.LABEL_COMMUNITY_CONTACT_INFO}</p> 
                            <lightning-input-field onchange={handleChangeContacField} disabled={toogleFieldValue} field-name={contact_fields.ACCOUNT_REQUEST_CONTACT_NAME}></lightning-input-field>
                            <lightning-input-field name="email" onchange={handleChangeContacField} disabled={toogleFieldValue} field-name={contact_fields.ACCOUNT_REQUEST_EMAIL}></lightning-input-field>
                            <lightning-input-field onchange={handleChangeContacField} disabled={toogleFieldValue} field-name={contact_fields.ACCOUNT_REQUEST_ROLE}></lightning-input-field>
                            <lightning-input-field onchange={handleChangeContacField} disabled={toogleFieldValue} field-name={contact_fields.ACCOUNT_REQUEST_DEPARTMENT}></lightning-input-field>                            

                            <div class="slds-m-vertical_x-large">
                                <div class="slds-float_right"><lightning-input type="toggle" label="" checked={toogleFieldValue} name="toggle" message-toggle-active={contact_label.LABEL_COMMUNITY_ENABLED} message-toggle-inactive={contact_label.LABEL_COMMUNITY_DISABLED} onchange={changeToggle}></lightning-input></div>
                                <div class="slds-float_left">{contact_label.LABEL_COMMUNITY_NOT_INFORM}</div>
                            </div>
                        </div>           
                    </div>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button disabled={contactDisabledNext} variant="brand" label={company_labels.LABEL_COMMUNITY_NEXT} type="submit"></lightning-button>
                    <lightning-button class="slds-float_left" label={contact_label.LABEL_COMMUNITY_BACK} onclick={handleBack} ></lightning-button>
                </footer>
            </div>
        </section>
    </lightning-record-edit-form>  
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>