<!-- sldsValidatorIgnore -->
<template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Account_Request__c" onsuccess={handleRunEngine} onsubmit={handleSubmitFinancial}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <!-- sldsValidatorIgnoreNextLine -->
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" type="button" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                    <div class="slds-p-bottom_x-small progressIndicator">
                        <lightning-progress-indicator current-step="4" type="base" variant="base">
                            <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                            <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                            <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                            <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                            <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                        </lightning-progress-indicator>                        
                    </div> 
                </header>

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={showLoadingFin} class="spinner">
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </template>
                    <div class="slds-p-horizontal_xx-large">
                        <div class="slds-theme_default">
                            <div class="slds-p-horizontal_xx-large slds-m-bottom_medium">
                                <lightning-tile label="" type="media" class="slds-box boxInfo">
                                    <lightning-icon slot="media" icon-name="standard:lead" size="large"></lightning-icon>
                                    
                                    <lightning-record-view-form record-id={recordId} object-api-name="Account_Request__c">
                                         
                                        <p>{nameAccountRequest}</p>
                                          
                                        <ul class="slds-list_horizontal slds-p-vertical_small">
                                            <li class="slds-p-right_xx-small"> 
                                                <lightning-icon icon-name="utility:checkin" size="x-small"></lightning-icon>
                                            </li>
                                            <li>
                                                <p>{billingCountry}</p>
                                            </li>
                                        </ul>
                                        
                                        <ul class="slds-list_horizontal slds-p-vertical_small">
                                            <li class="slds-p-right_xx-small"> 
                                                <lightning-icon icon-name="utility:home" size="x-small"></lightning-icon>
                                            </li>
                                            <li>
                                                <p>{website}</p>
                                            </li>
                                        </ul>   
                                    </lightning-record-view-form>
                                </lightning-tile>
                                <p class="slds-p-top_medium">{financial_label.LABEL_COMMUNITY_FILL}</p>
                            </div>
                    
                            <!--Partner Model-->
                            <fieldset class="slds-form-element slds-form-element_stacked">
                                <div class="slds-p-horizontal_xx-large">
                                    <legend class="slds-form-element__legend slds-form-element__label">
                                        <abbr class="slds-required" title="required">*</abbr>{financial_label.LABEL_COMMUNITY_PARTNER_MODEL}
                                    </legend><br><br>
                                </div>
                    
                                <div class="slds-box slds-box_small boxInfo">
                                    <p><span style="color:#706E6B;">{financial_label.LABEL_COMMUNITY_SUBSIDY}</span> {financial_label.LABEL_COMMUNITY_SUBSIDY_TEXT}</p>
                                    <p><span style="color:#706E6B;">{financial_label.LABEL_COMMUNITY_INTERMEDIATION}</span> {financial_label.LABEL_COMMUNITY_INTERMEDIATION_TEXT}</p>   
                                </div><br>

                                <div class="slds-p-horizontal_xx-large">
                                    <div class="slds-form-element__control">
                                        <template for:each={options} for:item="item">
                                            <fieldset key={item.value} style="display: block; float: left;">
                                                <div class="slds-form-element__control">
                                                    <span class="slds-radio">
                                                        <input name="radiogroup" id={item.value} type="radio" value={item.value} onchange={handleSelectedModel}/>
                                                        <label class="slds-radio__label" for={item.value}>
                                                            <span class="slds-radio_faux"></span>
                                                            <span class="slds-form-element__label">{item.label}</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </fieldset>
                                        </template>
                                    </div>
                                </div>
                            </fieldset>
                            <!--End Partner Model-->
                    
                            <div class="slds-p-horizontal_xx-large">
                                <fieldset class="slds-form-element slds-form-element_stacked">
                                    <legend class="slds-form-element__legend slds-form-element__label">
                                        <abbr class="slds-required" title="required">*</abbr>{financial_label.LABEL_COMMUNITY_BID}
                                    </legend>
                                    <div class="slds-form-element__control">
                                        <lightning-file-upload class="slds-float_right" label="" name="fileName" record-id={recordId} disabled={isDisabled} onuploadfinished={handlerFinishedUpload} multiple></lightning-file-upload>
                                        <template for:each={optionsBID} for:item="item">
                                            <fieldset key={item.value} style="display: block; float: left;">
                                                <div class="slds-form-element__control">
                                                    <span class="slds-radio">
                                                        <input name="radiogroup2" id={item.value} type="radio" value={item.value} onchange={handleSelectedBID}/>
                                                        <label class="slds-radio__label" for={item.value}>
                                                            <span class="slds-radio_faux"></span>
                                                            <span class="slds-form-element__label">{item.label}</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </fieldset>
                                        </template>
                                        
                                    </div>
                                </fieldset> 
                                <lightning-input type="text" label={financial_fields.ACCOUNT_REQUEST_EMPLOYEES_ON_THIS_OFFER} pattern="([0-9]*)$" message-when-pattern-mismatch={financial_fields.LABEL_COMMUNITY_NUMBERS_ONLY_FIELD} data-name="numberEmployeesText" onchange={resetNumberEmployees} onkeypress={validateFieldNumberEmployees} required></lightning-input>

                                <div class="slds-hide">
                                    <lightning-input-field data-id="numberEmployees" field-name={financial_fields.ACCOUNT_REQUEST_TOTAL_NUMBER_OF_EMPLOYEES} required></lightning-input-field>
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" disabled={isDisabledNext} label={company_labels.LABEL_COMMUNITY_NEXT} type="submit"></lightning-button>
                    <lightning-button class="slds-float_left" label={contact_label.LABEL_COMMUNITY_BACK} onclick={handleBack} ></lightning-button>
                </footer>
            </div>
        </section>
    </lightning-record-edit-form>  
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>