<!-- sldsValidatorIgnore -->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">

            <template if:true={goNoGo}>
                <p>{resultGo}</p>
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" type="button" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                    <div class="slds-p-bottom_x-small progressIndicator">
                        <lightning-progress-indicator current-step="5" type="base" variant="base">
                            <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                            <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                            <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                            <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                            <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                        </lightning-progress-indicator>                        
                    </div> 
                </header>

                <div class="slds-modal__content" id="modal-content-id-1">
                    <div class="slds-p-vertical_medium slds-m-bottom_medium slds-align_absolute-center headerNews">
                        <lightning-icon icon-name="utility:smiley_and_people" class="slds-m-right_x-small " title="Image" variant="success"> </lightning-icon>       
                        <div class="textGoodNews">{go_no_go_label.LABEL_COMMUNITY_GOOD_NEWS} {userName}!</div>
                    </div>
                    <div class="slds-p-horizontal_xx-large">

                        <div class="slds-m-horizontal_x-large">
                            <lightning-tile label="" type="media" class="slds-box slds-m-bottom_medium boxInfo">
                                <lightning-icon slot="media" icon-name="utility:priority" size="large" variant="success"></lightning-icon>
                                <lightning-record-view-form record-id={recordId} object-api-name="Account_Request__c">
                                    <lightning-output-field field-name={company_fields.ACCOUNT_REQUEST_NAME} variant="label-hidden" class="boxBold"></lightning-output-field>
                                    <lightning-output-field field-name={company_fields.ACCOUNT_REQUEST_WEBSITE} variant="label-hidden"></lightning-output-field>  
                                </lightning-record-view-form>
                                
                                <div class="slds-m-vertical_large">
                
                                    <ul class="slds-list_horizontal">
                                        <li class="boxBoldMain slds-m-right_xx-small">{go_no_go_label.LABEL_COMMUNITY_ACCOUNT_IS}</li>
                                        <li class="boxBoldGreen">{go_no_go_label.LABEL_COMMUNITY_AVAILABLE}</li>
                                    </ul>
                
                                    <ul class="slds-list_horizontal">
                                        <li class="slds-m-right_xxx-small">{go_no_go_label.LABEL_COMMUNITY_UNDER_THE}</li>
                                        <li class="slds-m-right_xxx-small">
                                            <lightning-record-view-form record-id={recordId} object-api-name="Account_Request__c">
                                                <lightning-output-field field-name={financial_fields.ACCOUNT_REQUEST_PARTNER_MODEL} variant="label-hidden"></lightning-output-field>  
                                            </lightning-record-view-form>
                                        </li>
                                        <li class="slds-m-right_xx-small">{go_no_go_label.LABEL_COMMUNITY_MODEL_IS}</li>
                                    </ul>
                                </div>
                                <template if:true={partnerModelIsIntermediation}>
                                <div class="slds-m-bottom_large">
                                    <div class="slds-grid">
                                        <div class="slds-col">
                                            <ul>
                                                <li>{go_no_go_label.LABEL_COMMUNITY_TOTAL_PRICE}</li>
                                                <li class="boxBold">
                                                    <lightning-formatted-number value={totalPrice} format-style="currency" currency-code={CurrencyIsoCode}></lightning-formatted-number>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="slds-col"> 
                                            <ul>
                                                <li>{go_no_go_label.LABEL_COMMUNITY_PRICE_ELIGIBLE}</li>
                                                <li class="boxBold">
                                                    <lightning-formatted-number value={pricePerElegible} format-style="currency" currency-code={CurrencyIsoCode}></lightning-formatted-number>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </template>
                
                                <div class="slds-m-bottom_medium">{go_no_go_label.LABEL_COMMUNITY_OFFER_VALID} <span style="font-weight: bold">{go_no_go_label.LABEL_COMMUNITY_60_days}</span></div>
                
                            </lightning-tile>
                
                
                            <div class="slds-m-bottom_medium">{go_no_go_label.LABEL_COMMUNITY_UNITY_CONTACT_HELP}</div>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <a target="_blank" class="slds-button slds-button_neutral" onclick={handleStaticResource}>
                        <lightning-icon icon-name="utility:download" size="xx-small"></lightning-icon> &nbsp; {go_no_go_label.LABEL_COMMUNITY_DOWNLOAD_PRESENTATION}
                    </a>
                    <lightning-button variant="brand" label={go_no_go_label.LABEL_COMMUNITY_CONTINUE} class="slds-m-left_xx-small" onclick={openOpportunity} ></lightning-button>
                    
                    
                    <lightning-button label={go_no_go_label.LABEL_COMMUNITY_NEW_QUERY} onclick={handleNewQuery} class="slds-float_left"></lightning-button>
                </footer>
            </template>
                
                
                    <!--No Go-->  
            <template if:false={goNoGo}>

                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>

                    <p class="slds-text-heading_medium slds-hyphenate slds-m-bottom_medium" style="text-align: center;">{modal_labels.LABEL_MODAL_REQUEST_WIZARD_HEADER}</p>

                    <div class="slds-p-bottom_x-small progressIndicator">
                        <lightning-progress-indicator current-step="5" type="base" variant="base" has-error="true">
                            <lightning-progress-step label="Step 1" value="1"></lightning-progress-step>
                            <lightning-progress-step label="Step 2" value="2"></lightning-progress-step>
                            <lightning-progress-step label="Step 3" value="3"></lightning-progress-step>
                            <lightning-progress-step label="Step 4" value="4"></lightning-progress-step>
                            <lightning-progress-step label="Step 5" value="5"></lightning-progress-step>
                        </lightning-progress-indicator>                        
                    </div> 
                </header>
         
                <div class="slds-modal__content" id="modal-content-id-2">
                    <div class="slds-p-vertical_medium slds-m-bottom_medium slds-align_absolute-center headerNewsBad">
                        <lightning-icon icon-name="utility:sentiment_neutral" class="slds-m-right_x-small " title="Image" variant="error"> </lightning-icon>       
                        <div class="textBadNews">{go_no_go_label.LABEL_COMMUNITY_WE_SORRY}</div>
                    </div>
            
                    <div class="slds-m-horizontal_xx-large">
                        <div class="slds-m-horizontal_x-large">
                            <lightning-tile label="" type="media" class="slds-box slds-m-bottom_medium boxInfo">
                                <lightning-icon slot="media" icon-name="utility:lock" size="large" variant="error"></lightning-icon>
                                <lightning-record-view-form record-id={recordId} object-api-name="Account_Request__c" class="slds-m-bottom_medium">
                                    <lightning-output-field field-name={company_fields.ACCOUNT_REQUEST_NAME} variant="label-hidden" class="slds-m-bottom_xx-small boxBold"></lightning-output-field>
                                    <lightning-output-field field-name={financial_fields.ACCOUNT_REQUEST_WEBSITE} variant="label-hidden"></lightning-output-field>  
                                </lightning-record-view-form>
                                
                                <div class="slds-m-vertical_large">
                
                                    <ul class="slds-list_horizontal">
                                        <li class="boxBoldMain slds-m-right_xx-small">{go_no_go_label.LABEL_COMMUNITY_ACCOUNT_IS}</li>
                                        <li class="boxBoldRed">{go_no_go_label.LABEL_COMMUNITY_NOT_AVAILABLE}</li>
                                    </ul>
                
                                    <p>{go_no_go_label.LABEL_COMMUNITY_FOR_PROPOSALS}</p>
                                </div>

                                <p class="reason">{reasonNoGO}</p>
                               
                            </lightning-tile>

                            <div class="slds-m-bottom_xx-large">{go_no_go_label.LABEL_COMMUNITY_UNITY_CONTACT_HELP}</div>
                        </div>
                    </div>
                </div>

                <footer class="slds-modal__footer">
                    <div align="center">
                        <lightning-button label={go_no_go_label.LABEL_COMMUNITY_NEW_QUERY} onclick={handleNewQuery} class=""></lightning-button>
                    </div>
                </footer>
            </template>                                 
        </div>
    </section> 
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>